section.nl-section.nl-start-winning
    div.container-fluid
        div.row
            div.col-md-12
                h2 sign up & start winning.
        div.row
            div.col-6.col-lg-3.nl-start-win-block.block1.co
                a(href="#")
                    img(alt="" src="assets/img/nl-start-win-block1.jpg")
                    h3 Sign up
            div.col-6.col-lg-3.nl-start-win-block.block2
                a(href="#")
                    img(alt="" src="assets/img/nl-start-win-block2.jpg")
                    h3 Pick a<br>sport
            div.col-6.col-lg-3.nl-start-win-block.block3
                a(href="#")
                    img(alt="" src="assets/img/nl-start-win-block3.jpg")
                    h3 draft<br>your team
            div.col-6.col-lg-3.nl-start-win-block.block4
                a(href="#")
                    img(alt="" src="assets/img/nl-start-win-block4.jpg")
                    h3 win
            div.col-6.offset-3.10-free-coins
                div.btn.btn-primary.10-free-coins get 10 free nlc2 coins
