section.nl-variety
    div.nl-section
        div.container-fluid
            div.row
                div.col-md-12
                    h2 play with a variety of sports

    div.nl-variety-sports
        a(href="#")
            div.nl-variety-sport.football
                picture
                    source(media="(max-width: 575px)" srcset="assets/img/retina/Football.jpg")
                    img(src="assets/img/nl-variety-sport-football.jpg" alt="football")
                //img( srcset="assets/img/retina/Football.jpg 575w" sizes="(max-width: 575px) 320px" src="assets/img/nl-variety-sport-football.jpg" alt="football")
                h4 football
        a(href="#")
            div.nl-variety-sport.baseball
                picture
                    source(media="(max-width: 575px)" srcset="assets/img/retina/Baseball-v2.jpg")
                    img(src="assets/img/nl-variety-sport-baseball.jpg" alt="baseball")
                //img(src="assets/img/nl-variety-sport-baseball.jpg" srcset="assets/img/retina/Baseball-v2.jpg 575w" sizes="(max-width: 575px) 320px, (max-width: 800px) 320px, 576px," alt="baseball")
                //img(srcset="assets/img/nl-variety-sport-baseball.jpg 249w, assets/img/retina/Soccer.jpg 1141w" sizes="(max-width: 1141px) 100wv, 1141px" src="assets/img/retina/Soccer.jpg"  alt="baseball")

                h4 baseball
        a(href="#")
            div.nl-variety-sport.soccer
                picture
                    source(media="(max-width: 575px)" srcset="assets/img/retina/Soccer.jpg")
                    img(src="assets/img/nl-variety-sport-soccer.jpg" alt="soccer")
                //img(src="assets/img/nl-variety-sport-soccer.jpg" srcset="assets/img/retina/Soccer.jpg 575w" sizes="(max-width: 575px) 320px" alt="soccer")
                h4 soccer
        a(href="#")
            div.nl-variety-sport.basketball
                picture
                    source(media="(max-width: 575px)" srcset="assets/img/retina/Basketball-v3.jpg")
                    img(src="assets/img/nl-variety-sport-basketball.jpg" alt="basketball")
                //img(src="assets/img/nl-variety-sport-basketball.jpg" srcset="assets/img/retina/Basketball.jpg 575w" sizes="(max-width: 575px) 320px" alt="basketball")
                h4 basketball
        a(href="#")
            div.nl-variety-sport.hockey
                picture
                    source(media="(max-width: 575px)" srcset="assets/img/retina/Hockey.jpg")
                    img(src="assets/img/nl-variety-sport-hockey.jpg" alt="basketball")
                //img(src="assets/img/nl-variety-sport-hockey.jpg" srcset="assets/img/retina/Hockey.jpg 575w" sizes="(max-width: 575px) 320px" alt="hockey")
                h4 hockey
        a(href="#")
            div.nl-variety-sport.cricket
                picture
                    source(media="(max-width: 575px)" srcset="assets/img/retina/Cricket.jpg")
                    img(src="assets/img/nl-variety-sport-cricket.jpg" alt="basketball")
                //img(src="assets/img/nl-variety-sport-cricket.jpg" srcset="assets/img/retina/Cricket.jpg 575w" sizes="(max-width: 575px) 320px" alt="cricket")
                h4 cricket
        a(href="#")
            div.nl-variety-sport.mma
                picture
                    source(media="(max-width: 575px)" srcset="assets/img/retina/MMA.jpg")
                    img(src="assets/img/nl-variety-sport-mma.jpg" alt="basketball")
                //img(src="assets/img/nl-variety-sport-mma.jpg" srcset="assets/img/retina/MMA.jpg 575w" sizes="(max-width: 575px) 320px" alt="mma")
                h4 mma
