section.nl-section.nl-blockchain
    div.container-fluid
        div.row.align-items-center
            div.col-lg-6
                h2 providing the best of blockchain technology.
                div.nl-section-subtitle The worlds first crypto fantasy sports
            div.col-lg-6
                img(src="assets/img/nl-section-blockchain-bg.png" alt="")
