section.nl-section.nl-about-section
    .nl-about-wrapper
        .nl-about-title
            h1 about page
        .nl-about-content
            .row.m-0.p-4
                .col-12.col-sm-6.col-md-3
                    .nl-about-card
                        img(src="assets/img/about/person1.png", alt="")
                        p RAFAEL GROSWIRT
                        p.nl-about CEO
                .col-12.col-sm-6.col-md-3
                    .nl-about-card
                        img(src="assets/img/about/person2.png", alt="")
                        p OSCAR PERALTA
                        p.nl-about CO-FOUNDER

                .col-12.col-sm-6.col-md-3
                    .nl-about-card
                        img(src="assets/img/about/person3.png", alt="")
                        p DAN HENSLEY
                        p.nl-about BUSINESS DEVELOPMENT
                .col-12.col-sm-6.col-md-3
                    .nl-about-card
                        img(src="assets/img/about/person4.png", alt="")
                        p NIKOLA RANDELOVIC
                        p.nl-about HUMAN RESOURCES
            .row.m-0.p-4
                .col-12.col-sm-6.col-md-3
                    .nl-about-card
                        img(src="assets/img/about/person5.png", alt="")
                        p ANTHONY YENCKEN
                        p.nl-about COMMUNITY MANAGER
                .col-12.col-sm-6.col-md-3
                    .nl-about-card
                        img(src="assets/img/about/person6.png", alt="")
                        p ANTONO GARCIA
                        p.nl-about LATIN AMERICA BUSINESS DEVELOPMENT
                .col-12.col-sm-6.col-md-3
                    .nl-about-card
                        img(src="assets/img/about/person7.png", alt="")
                        p SEBASTIAN CRUZ VARGAS
                        p.nl-about LEGAL ADVISOR
                .col-12.col-sm-6.col-md-3
                    .nl-about-card
                        img(src="assets/img/about/person8.png", alt="")
                        p JAMES STROUD
                        p.nl-about INVESTOR / BREAKOUT COIN DIRECTOR / BLOCKCHAIN CONSULTANT
            .row.m-0.p-4
                .col-12.col-sm-6.col-md-3
                    .nl-about-card
                        img(src="assets/img/about/person9.png", alt="")
                        p JAQUE FUX
                        p.nl-about BUSINESS CONSULTANT / CONTEST DIRECTOR
                .col-12.col-sm-6.col-md-3
                    .nl-about-card
                        img(src="assets/img/about/person10.png", alt="")
                        p DOTAN YAISH
                        p.nl-about CHINA BUSINESS DEVELOPMENT
                .col-12.col-sm-6.col-md-3
                    .nl-about-card
                        img(src="assets/img/about/person11.png", alt="")
                        p YONI TABAC
                        p.nl-about BUSINESS ADVISER

