section.nl-section.change-password-wrapper
    #changePasswordSection(tabindex='-1', role='dialog', aria-labelledby='changePasswordSectionLabel', aria-hidden='true')
        .block-dialog(role='document')
            .block-content
                .block-header
                    h2#changePasswordSectionLabel.modal-title Change Password
                .block-body
                    form.form-signin
                        .input-group
                            label Old Password
                            input.form-control(type='password')
                        .input-group
                            label New Password
                            input.form-control(type='password')
                        .input-group
                            label Confirm Password
                            input.form-control(type='password')
                .block-footer
                    button.btn.btn-primary.btn-block(type='submit') Save
