section.nl-section.nl-players.nl-contests
    div.container-fluid 
        div.row.align-items-center
            div.col-lg-12
                div.heading-search
                    h1.heading-search__header contests
                    div.nl-contests-search.heading-search__search
                        div.input-group
                            input(type="text" class="form-control" placeholder="Search contests")
                            span.input-group-btn
                                button.btn.btn-secondary(type="button") <i class="fa fa-search" aria-hidden="true"></i>

        div.row
            div.col-md-12.col-lg-8
                div.nl-players-table.nl-contests-table


                    ul.nav.nav-tabs(role="tablist")
                        li.nav-item
                            a.nav-link.active(data-toggle="tab" href="#all" role="tab") NLC2
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#gk" role="tab") Free
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#d" role="tab") private
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#d" role="tab") My Contests


                    div.tab-content
                        div.tab-pane.active(id="all" role="tabpanel")
                            div.nl-table-responsive
                                div.nl-table-mw
                                    table.table.table-striped
                                        thead
                                            tr
                                                th Contests name
                                                th Buy-In
                                                th TEAMs
                                                th week
                                                th Payout
                                                th ENTRY
                                                th Status
                                    div.nl-table-scroll
                                        table.table.table-striped
                                            tbody
                                                tr
                                                    td WK3 G Joe Theismann 5 team Challenge
                                                    td 10
                                                    td 71/100
                                                    td 3
                                                    td 1000
                                                    td
                                                        a(href='enter_contests.html')
                                                            button.btn.btn-primary.btn-sm(type='button') enter
                                                    td STARTED
                                                tr
                                                    td WK3 G Joe Theismann 5 team Challenge
                                                    td 10
                                                    td 71/100
                                                    td 3
                                                    td 1000
                                                    td
                                                        a(href='enter_contests.html')
                                                            button.btn.btn-primary.btn-sm(type='button') enter
                                                    td STARTED
                                                tr
                                                    td WK3 G Joe Theismann 5 team Challenge
                                                    td 10
                                                    td 71/100
                                                    td 3
                                                    td 1000
                                                    td
                                                        a(href='enter_contests.html')
                                                            button.btn.btn-primary.btn-sm(type='button') enter
                                                    td STARTED
                                                tr
                                                    td WK3 G Joe Theismann 5 team Challenge
                                                    td 10
                                                    td 71/100
                                                    td 3
                                                    td 1000
                                                    td
                                                        a(href='enter_contests.html')
                                                            button.btn.btn-primary.btn-sm(type='button') enter
                                                    td STARTED
                                                tr
                                                    td WK3 G Joe Theismann 5 team Challenge
                                                    td 10
                                                    td 71/100
                                                    td 3
                                                    td 1000
                                                    td
                                                        a(href='enter_contests.html')
                                                            button.btn.btn-primary.btn-sm(type='button') enter
                                                    td STARTED
                                                tr
                                                    td WK3 G Joe Theismann 5 team Challenge
                                                    td 10
                                                    td 71/100
                                                    td 3
                                                    td 1000
                                                    td
                                                        a(href='enter_contests.html')
                                                            button.btn.btn-primary.btn-sm(type='button') enter
                                                    td STARTED
                                                tr
                                                    td WK3 G Joe Theismann 5 team Challenge
                                                    td 10
                                                    td 71/100
                                                    td 3
                                                    td 1000
                                                    td
                                                        a(href='enter_contests.html')
                                                            button.btn.btn-primary.btn-sm(type='button') enter
                                                    td STARTED
                                                tr
                                                    td WK3 G Joe Theismann 5 team Challenge
                                                    td 10
                                                    td 71/100
                                                    td 3
                                                    td 1000
                                                    td

                                                    td.st-full FULL
                                                tr
                                                    td WK3 G Joe Theismann 5 team Challenge
                                                    td 10
                                                    td 71/100
                                                    td 3
                                                    td 1000
                                                    td

                                                    td.st-full FULL
                                                tr
                                                    td WK3 G Joe Theismann 5 team Challenge
                                                    td 10
                                                    td 71/100
                                                    td 3
                                                    td 1000
                                                    td

                                                    td.st-full FULL
                                                tr
                                                    td WK3 G Joe Theismann 5 team Challenge
                                                    td 10
                                                    td 71/100
                                                    td 3
                                                    td 1000
                                                    td

                                                    td.st-full FULL
                                                tr
                                                    td WK3 G Joe Theismann 5 team Challenge
                                                    td 10
                                                    td 71/100
                                                    td 3
                                                    td 1000
                                                    td

                                                    td.st-full FULL
                                                tr
                                                    td WK3 G Joe Theismann 5 team Challenge
                                                    td 10
                                                    td 71/100
                                                    td 3
                                                    td 1000
                                                    td

                                                    td.st-full FULL
                                                tr
                                                    td WK3 G Joe Theismann 5 team Challenge
                                                    td 10
                                                    td 71/100
                                                    td 3
                                                    td 1000
                                                    td

                                                    td.st-full FULL




                        div.tab-pane(id="gk" role="tabpanel") TAB2
                        div.tab-pane(id="d" role="tabpanel") TAB3


            div.col-md-8.offset-md-2.offset-lg-0.col-lg-4
                div.nl-contest-info-title
                    h3 Contest info
                div.nl-contest-info-table
                    table.table.table-info1.text
                        tbody
                            tr
                                td
                                    div
                                        p.tit CONTEST:
                                        p Goals for Everyone in the house
                                td
                                    div
                                        p.tit teams:
                                        p 7/100

                            tr
                                td.bottom
                                    div        
                                        p.tit buy in:
                                        p 10nlc2
                                td.bottom
                                    div
                                        p.tit allowed teams:
                                        p 2
                    table.table.table-info1.buttons
                        tbody
                            tr
                                td
                                    a(href='enter_contests.html')
                                        button.btn.btn-primary.btn-sm(type='button') enter
                                td
                                    button.btn.btn-default(type="button") Payout
                                td
                                    button.btn.btn-default(type="button") Live View
                    table.table.table-info2
                        thead
                            tr
                                th Starts in
                                    div.nl-time-block
                                        div
                                            span 4
                                            |Days
                                        div
                                            span 16
                                            | hours
                                        div
                                            span 0
                                            | minutes
                                        div
                                            span 5
                                            | seconds

                    table.table.table-info3
                        thead
                            tr
                                th Rank
                                th user
                                th team name
                                th score
                    div.nl-table-scroll2
                        table.table.table-striped.table-info4
                            tbody
                                tr
                                    td 1
                                    td Username
                                    td MyTeamName
                                    td 37.90
                                tr
                                    td 1
                                    td Username
                                    td MyTeamName
                                    td 37.90
                                tr
                                    td 1
                                    td Username
                                    td MyTeamName
                                    td 37.90
                                tr
                                    td 1
                                    td Username
                                    td MyTeamName
                                    td 37.90
                                tr
                                    td 1
                                    td Username
                                    td MyTeamName
                                    td 37.90
                                tr
                                    td 1
                                    td Username
                                    td MyTeamName
                                    td 37.90
                    div.nl-info-table-button
                        button.btn.btn-warning.btn-lg Withdraw







