section.nl-section.contact-wrapper
    #contactSection(tabindex='-1', role='dialog', aria-labelledby='contactSectionLabel', aria-hidden='true')
        .block-dialog(role='document')
            .block-content
                .block-header
                    h2#contactLabel.modal-title Contact
                .block-body
                    form.form-signin
                        .nl-contact-group-wrapper
                            img.address-icon(src='assets/img/address-icon.png', alt="address icon")
                            p
                                | No Limit Fantasy Sports, LLC
                                br
                                |   1407 Foothill Blvd #305
                                br
                                |  La Verne, CA 91750
                        .nl-contact-group-wrapper
                            img.mail-icon(src='assets/img/mail-icon.png', alt="mail icon")
                            p
                                a(href='mailto:nlfantasymonitor@gmail.com') nlfantasymonitor@gmail.com

                        p
                            |For information regarding Advertising or
                            br
                            | Affiliates, please email
                            a(href='mailto:oaperalta27@gmail.com') oaperalta27@gmail.com