section.nl-section.nl-players.nl-create-team
    div.container.container-wider
        div.row
            div.col-md-12
                h1 CREATE TEAM
        div.row
            div.col-md-12.col-lg-8.nl-team-m600
                div.nl-players-table.nl-create-team-table
                    div.nl-players-table-data-field
                        div.nl-data--avatar.hidden-sm-down
                            <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">

                        div.nl-data--text.nl-m-r-80.hidden-sm-down
                            p.title Cristiano Ronaldo
                            p team : Real Madrid
                            p position: A
                            p salary: $89000
                        div.nl-players-search
                            div.input-group
                                input(type="text" class="form-control" placeholder="Search")
                                span.input-group-btn
                                    button.btn.btn-secondary(type="button") <i class="fa fa-search" aria-hidden="true"></i>

                    ul.nav.nav-tabs(role="tablist")
                        li.nav-item
                            a.nav-link.active(data-toggle="tab" href="#all" role="tab") All players
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#qb" role="tab") QB
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#rb" role="tab") RB
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#wr" role="tab") WR
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#te" role="tab") TE
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#k" role="tab") K
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#def" role="tab") DEF


                    div.tab-content
                        div.tab-pane.active(id="all" role="tabpanel")
                            div.nl-mob-table.mob-table-striped
                                div.nl-title
                                    div.row
                                        div.col-6
                                            p NAME
                                            p POS
                                        div.col-6
                                            p FP
                                            p SALARY
                                div.nl-content
                                    div(id="accordion" role="tablist" aria-multiselectable="true")
                                        div.card
                                            div.card-header(role="tab" id="headingOne")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                                                    div.row

                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position FLEX
                                                        div.col-6

                                                            p 28.33
                                                            p $12,500


                                            div(id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne")
                                                div.card-block

                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17

                                        div.card
                                            div.card-header(role="tab" id="headingTwo")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position K
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17
                                        div.card
                                            div.card-header(role="tab" id="headingThree")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position LRB
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17
                                        div.card
                                            div.card-header(role="tab" id="headingFour")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position RRB
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17
                                        div.card
                                            div.card-header(role="tab" id="headingFive")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position QB
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17
                                        div.card
                                            div.card-header(role="tab" id="headingSix")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position LWR
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17
                                        div.card
                                            div.card-header(role="tab" id="headingSeven")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position RWR
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17
                                        div.card
                                            div.card-header(role="tab" id="headingEight")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position TE
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17




                            div.nl-desc-table
                                table.table.table-striped
                                    thead
                                        tr
                                            th
                                            th.avatar NAME
                                            th SALARY
                                            th FP
                                            th POS
                                            th team
                                            th status
                                            th OPP
                                            th GameDAY
                                            th more
                                div.nl-table-scroll
                                    table.table.table-striped
                                        tbody
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td G
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17 11:00 PM
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td DL
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17 11:00 PM
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td DR
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17 11:00 PM
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td DAL
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17 11:00 PM
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td DAR
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17 11:00 PM
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td CM
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17 11:00 PM
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td RWM
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17 11:00 PM
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td LWM
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17 11:00 PM
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td RS
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17 11:00 PM
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td LS
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17 11:00 PM
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td ST
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17 11:00 PM
                                                td <a href="#"><span class="info">i</span></a>





                        div.tab-pane(id="qb" role="tabpanel") TAB2
                        div.tab-pane(id="rb" role="tabpanel") TAB3
                        div.tab-pane(id="wr" role="tabpanel") TAB4
                        div.tab-pane(id="te" role="tabpanel") TAB5
                        div.tab-pane(id="k" role="tabpanel") TAB4
                        div.tab-pane(id="def" role="tabpanel") TAB5



            div.col-lg-4.nl-team-600
                div.nl-team-info
                    div.nl-team-name your team
                    div.nl-team-data
                        div.row
                            div.col-6 TOTAL SALARY:
                            div.col-6
                                span $46730
                        div.row
                            div.col-6 Available:
                            div.col-6
                                span.avalibe $25000
                        div.row
                            div.col-6 Projections:
                            div.col-6
                                span 154
                div.nl-team-button
                    button.btn.btn-team.btn-big-radius.active(type="button").field-view-btn field view
                    button.btn.btn-team.btn-big-radius(type="button").list-view-btn list view
                div.nl-team-field.football
                    div.striker-line
                    div.midfielder-line
                    div.defender-line
                    div.player-main-block.football
                        div.nl-player-block.nl-FLEX-position(data-position="FLEX")
                            img(src="assets/img/football/img-FLEX.png" alt="FLEX")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-K-position(data-position="K")
                            img(src="assets/img/football/img-K.png" alt="K")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-LRB-position(data-position="LRB")
                            img(src="assets/img/football/img-LRB.png" alt="LRB")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-RRB-position(data-position="RRB")
                            img(src="assets/img/football/img-RRB.png" alt="RRB")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-QB-position(data-position="QB")
                            img(src="assets/img/football/img-QB.png" alt="QB")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-LWR-position(data-position="LWR")
                            img(src="assets/img/football/img-LWR.png" alt="LWR")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-RWR-position(data-position="RWR")
                            img(src="assets/img/football/img-RWR.png" alt="RWR")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-TE-position(data-position="TE")
                            img(src="assets/img/football/img-TE.png" alt="TE")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-team-logo-position
                            img(src="assets/img/football/team-logo.png" alt="logo")

                div.nl-team-list.nl-my-teams.hide
                    .nl-card-wrapper
                        .row
                            .col-12
                                div.nl-team-card.table-data-field
                                    h3 team NLC2
                                    <img src="assets/img/helmet.png" alt="helmet" class="hidden-xs-down">

                        .row
                            .col-12
                                table.table.table-striped.nl-team-list-table
                                    thead
                                        tr

                                            th NAME
                                            th POS
                                            th FP
                                            th SALARY
                                            th

                                    tbody
                                        tr

                                            td Player name
                                            td.pos FLEX
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos K
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos LRB
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos RRB
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos QB
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos LWR
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos RWR
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos TE
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
