section.nl-section.nl-my-teams
            .container-fluid
                .row
                    .col-md-8.offset-md-2.col-lg-12.col-xl-12.offset-lg-0.offset-xl-0
                        h1 CREATE HELMENT
                .nl-create-helmet
                    .row
                        .col-md-4
                            .row
                                .col-md-4.col-sm-4.helmet-space
                                    a.pointer(onclick="showmain('black-helmet.png')")
                                        img(src='assets/img/helmet/black-helmet.png')
                                .col-md-4.col-sm-4.helmet-space
                                    a.pointer(onclick="showmain('blue-helmet.png')")
                                        img(src='assets/img/helmet/blue-helmet.png')
                                .col-md-4.col-sm-4.helmet-space
                                    a.pointer(onclick="showmain('gray-helmet.png')")
                                        img(src='assets/img/helmet/gray-helmet.png')
                                .col-md-4.col-sm-4.helmet-space
                                    a.pointer(onclick="showmain('green-helmet.png')")
                                        img(src='assets/img/helmet/green-helmet.png')
                                .col-md-4.col-sm-4.helmet-space
                                    a.pointer(onclick="showmain('red-helmet.png')")
                                        img(src='assets/img/helmet/red-helmet.png')
                                .col-md-4.col-sm-4.helmet-space
                                    a.pointer(onclick="showmain('white-helmet.png')")
                                        img(src='assets/img/helmet/white-helmet.png')
                                .col-md-4.col-sm-4.helmet-space
                                    a.pointer(onclick="showmain('yellow-helmet.png')")
                                        img(src='assets/img/helmet/yellow-helmet.png')
                            h2 SELECT HELMET COLOR
                        .col-md-4
                            .row
                                .col-md-3.col-sm-3.helmet-space
                                    a.pointer(onclick="showoval('blackoval.png')")
                                        img(src='assets/img/oval/blackoval.png')
                                .col-md-3.col-sm-3.helmet-space
                                    a.pointer(onclick="showoval('blueoval.png')")
                                        img(src='assets/img/oval/blueoval.png')
                                .col-md-3.col-sm-3.helmet-space
                                    a.pointer(onclick="showoval('chokolateoval.png')")
                                        img(src='assets/img/oval/chokolateoval.png')
                                .col-md-3.col-sm-3.helmet-space
                                    a.pointer(onclick="showoval('grayoval.png')")
                                        img(src='assets/img/oval/grayoval.png')
                                .col-md-3.col-sm-3.helmet-space
                                    a.pointer(onclick="showoval('greenoval.png')")
                                        img(src='assets/img/oval/greenoval.png')
                                .col-md-3.col-sm-3.helmet-space
                                    a.pointer(onclick="showoval('purpleoval.png')")
                                        img(src='assets/img/oval/purpleoval.png')
                                .col-md-3.col-sm-3.helmet-space
                                    a.pointer(onclick="showoval('whiteoval.png')")
                                        img(src='assets/img/oval/whiteoval.png')
                                .col-md-3.col-sm-3.helmet-space
                                    a.pointer(onclick="showoval('yellowoval.png')")
                                        img(src='assets/img/oval/yellowoval.png')
                            h2 SELECT EMBLEM COLOR
                            .row
                                .letter
                                    a.pointer(onclick="showletter('a.png')")
                                        img(src='assets/img/letter/a.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('b.png')")
                                        img(src='assets/img/letter/b.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('c.png')")
                                        img(src='assets/img/letter/c.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('d.png')")
                                        img(src='assets/img/letter/d.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('e.png')")
                                        img(src='assets/img/letter/e.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('f.png')")
                                        img(src='assets/img/letter/f.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('g.png')")
                                        img(src='assets/img/letter/g.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('h.png')")
                                        img(src='assets/img/letter/h.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('i.png')")
                                        img(src='assets/img/letter/i.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('j.png')")
                                        img(src='assets/img/letter/j.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('k.png')")
                                        img(src='assets/img/letter/k.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('l.png')")
                                        img(src='assets/img/letter/l.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('m.png')")
                                        img(src='assets/img/letter/m.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('n.png')")
                                        img(src='assets/img/letter/n.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('o.png')")
                                        img(src='assets/img/letter/o.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('p.png')")
                                        img(src='assets/img/letter/p.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('q.png')")
                                        img(src='assets/img/letter/q.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('r.png')")
                                        img(src='assets/img/letter/r.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('s.png')")
                                        img(src='assets/img/letter/s.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('t.png')")
                                        img(src='assets/img/letter/t.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('u.png')")
                                        img(src='assets/img/letter/u.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('v.png')")
                                        img(src='assets/img/letter/v.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('w.png')")
                                        img(src='assets/img/letter/w.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('x.png')")
                                        img(src='assets/img/letter/x.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('y.png')")
                                        img(src='assets/img/letter/y.png', alt='')
                                .letter
                                    a.pointer(onclick="showletter('z.png')")
                                        img(src='assets/img/letter/z.png', alt='')
                            h2 SELECT LETTER
                        .col-md-4
                            h2 YOUR HELMET
                            #main
                                img#helmet.helmet-img(src='assets/img/helmet/white-helmet.png')
                                img#oval.img-fluid.select-oval(src='', style='display:none')
                                img#letter.img-fluid.select-letter(src='', style='display:none')
                            #button.text-center(style='display:none')
                                button.btn.btn-primary(type='submit') Save

script(type='text/javascript').
            function showmain(helmetnew)
            {
            var helmetpath="assets/img/helmet/"+helmetnew;
            document.getElementById('main').style.display = "block";
            document.getElementById('helmet').style.display = "block";
            document.getElementById("helmet").src = helmetpath;
            var h = document.getElementById('helmet').getAttribute('src');
            var o = document.getElementById('oval').getAttribute('src');
            var l = document.getElementById('letter').getAttribute('src');
            if(h!='' && o!='' && l!='')
            {
            document.getElementById('button').style.display = "block";
            }
            }
            function showoval(ovalnew)
            {
            var ovalpath="assets/img/oval/"+ovalnew;
            document.getElementById('oval').style.display = "block";
            document.getElementById("oval").src = ovalpath;
            var h = document.getElementById('helmet').getAttribute('src');
            var o = document.getElementById('oval').getAttribute('src');
            var l = document.getElementById('letter').getAttribute('src');
            if(h!='' && o!='' && l!='')
            {
            document.getElementById('button').style.display = "block";
            }
            }
            function showletter(letternew)
            {
            var letterpath="assets/img/letter/"+letternew;
            document.getElementById('letter').style.display = "block";
            document.getElementById("letter").src = letterpath;
            var h = document.getElementById('helmet').getAttribute('src');
            var o = document.getElementById('oval').getAttribute('src');
            var l = document.getElementById('letter').getAttribute('src');
            if(h!='' && o!='' && l!='')
            {
            document.getElementById('button').style.display = "block";
            }
            }
