section.nl-section.nl-players.nl-create-team
    div.container-fluid
        div.row
            div.col-md-12
                h1 CREATE TEAM
        div.row
            div.col-md-12.col-lg-7
                div.nl-players-filter-title Filter by lEAgue:
                div.nl-players-filter
                    button.btn.btn-link(type="button")
                        img(src="assets/img/flag/USA.png" alt="USA")
                    button.btn.btn-link(type="button")
                        img(src="assets/img/flag/Spain.png" alt="Spain")
                    button.btn.btn-link(type="button")
                        img(src="assets/img/flag/Germany.png" alt="Germany")
                    button.btn.btn-link(type="button")
                        img(src="assets/img/flag/France.png" alt="France")
                    button.btn.btn-primary(type="clear") Reset Filter
                div.nl-players-filter-title FILTER by team:
                div.nl-players-filter-caruseul
                    div.owl-carousel.pl-teams
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FC.png" alt="FC")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FCB.png" alt="FCB")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FCBrasil.png" alt="FCBrasil")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/MU.png" alt="MU")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FC.png" alt="FC")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FCB.png" alt="FCB")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FCBrasil.png" alt="FCBrasil")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/MU.png" alt="MU")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FC.png" alt="FC")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FCB.png" alt="FCB")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FCBrasil.png" alt="FCBrasil")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/MU.png" alt="MU")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FC.png" alt="FC")

                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FCBrasil.png" alt="FCBrasil")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/MU.png" alt="MU")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FC.png" alt="FC")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FCB.png" alt="FCB")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FCBrasil.png" alt="FCBrasil")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/MU.png" alt="MU")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FCB.png" alt="FCB")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FCBrasil.png" alt="FCBrasil")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/MU.png" alt="MU")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FC.png" alt="FC")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FCB.png" alt="FCB")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/FCBrasil.png" alt="FCBrasil")
                        div
                            button.btn.btn-link(type="button")
                                img(src="assets/img/emblem/MU.png" alt="MU")



        div.row
            div.col-md-12.col-lg-7
                div.nl-players-table
                    div.nl-players-table-data-field
                        div.nl-data--avatar
                            <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">

                        div.nl-data--text.nl-m-r-80
                            p.title Cristiano Ronaldo
                            p team : Real Madrid
                            p position: A
                            p salary: $89000
                        div.nl-data--text
                            p.title team formats
                            p other details go here
                        div.nl-players-search
                            div.input-group
                                input(type="text" class="form-control" placeholder="Search by player name")
                                span.input-group-btn
                                    button.btn.btn-secondary(type="button") <i class="fa fa-search" aria-hidden="true"></i>

                    ul.nav.nav-tabs(role="tablist")
                        li.nav-item
                            a.nav-link.active(data-toggle="tab" href="#all" role="tab") All players
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#gk" role="tab") GK
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#d" role="tab") D
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#m" role="tab") m
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#a" role="tab") A


                    div.tab-content
                        div.tab-pane.active(id="all" role="tabpanel")
                            div.nl-mob-table
                                div.nl-title
                                    div.row
                                        div.col-6
                                            p NAME
                                            p STATUS
                                        div.col-6
                                            p FP
                                            p SALARY
                                div.nl-content
                                    div(id="accordion" role="tablist" aria-multiselectable="true")
                                        div.card
                                            div.card-header(role="tab" id="headingOne")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.act ACT
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500

                                            div(id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne")
                                                div.card-block

                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span POS:
                                                        div.col-6
                                                            p A
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17









                                        div.card
                                            div.card-header(role="tab" id="headingTwo")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.act ACT
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingOne")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span POS:
                                                        div.col-6
                                                            p A
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17



                            div.nl-desc-table
                                table.table.table-striped
                                    thead
                                        tr
                                            th NAME
                                            th LEAGUE
                                            th NEWS
                                            th TEAM
                                            th STATUS
                                            th FP
                                            th SALARY
                                            th POS
                                            th OPP
                                            th Gameday
                                            th SOCIAL
                                div.nl-table-scroll
                                    table.table.table-striped
                                        tbody
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/USA.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/USA.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            tr
                                                td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                                td <img src="assets/img/flag/Spain.png" alt="USA">
                                                td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                td REAL MADRID
                                                td.act ACT
                                                td 28.33
                                                td $12,500
                                                td A
                                                td LA GALAXY
                                                td 09/17/17
                                                td
                                                    div.nl-pl-social
                                                        a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>


                        div.tab-pane(id="gk" role="tabpanel") TAB2
                        div.tab-pane(id="d" role="tabpanel") TAB3
                        div.tab-pane(id="m" role="tabpanel") TAB4
                        div.tab-pane(id="a" role="tabpanel") TAB5

            div.col-lg-5
                h2 team