section.nl-section.nl-players.nl-create-team
    div.container
        div.row
            div.col-md-12
                h1 CREATE TEAM
        div.row
            div.col-md-12.col-lg-7
                div.nl-players-filter-title Filter by league:
                div.nl-players-filter
                    div.row.align-items-center
                        div
                            ul.country-selector.nav.nav-tabs(role="tablist")
                                li.nav-item
                                    a.country-selector__link(data-toggle="tab" href="#usa" role="tab")
                                        img.haat(src="assets/img/flag/USA.png" alt="USA")
                                li.nav-item
                                    a.country-selector__link(data-toggle="tab" href="#spain" role="tab")
                                        img.haat(src="assets/img/flag/Spain.png" alt="Spain")
                                li.nav-item
                                    a.country-selector__link(data-toggle="tab" href="#germany" role="tab")
                                        img.haat(src="assets/img/flag/Germany.png" alt="Germany")
                                li.nav-item
                                    a.country-selector__link(data-toggle="tab" href="#france" role="tab")
                                        img.haat(src="assets/img/flag/France.png" alt="France")

                div.tab-content
                    div.tab-pane.fade.show(id="usa" role="tabpanel")
                        div.nl-players-filter-caruseul
                            div.nl-players-filter-title Filter by team:
                            div.owl-carousel.pl-teams
                                div
                                    button.btn.btn-link(type="button")
                                        img(src="assets/img/emblem/FCBrasil.png" alt="FCBrasil")
                                div
                                    button.btn.btn-link(type="button")
                                        img(src="assets/img/emblem/MU.png" alt="MU")
                                div
                                    button.btn.btn-link(type="button")
                                        img(src="assets/img/emblem/FC.png" alt="FC")
                                div
                                    button.btn.btn-link(type="button")
                                        img(src="assets/img/emblem/FCB.png" alt="FCB")
                                div
                                    button.btn.btn-link(type="button")
                                        img(src="assets/img/emblem/FCBrasil.png" alt="FCBrasil")
                                div
                                    button.btn.btn-link(type="button")
                                        img(src="assets/img/emblem/MU.png" alt="MU")
                                div
                                    button.btn.btn-link(type="button")
                                        img(src="assets/img/emblem/FCB.png" alt="FCB")
                                div
                                    button.btn.btn-link(type="button")
                                        img(src="assets/img/emblem/FCBrasil.png" alt="FCBrasil")
                                div
                                    button.btn.btn-link(type="button")
                                        img(src="assets/img/emblem/MU.png" alt="MU")
                                div
                                    button.btn.btn-link(type="button")
                                        img(src="assets/img/emblem/FC.png" alt="FC")
                                div
                                    button.btn.btn-link(type="button")
                                        img(src="assets/img/emblem/FCB.png" alt="FCB")
                                div
                                    button.btn.btn-link(type="button")
                                        img(src="assets/img/emblem/FCBrasil.png" alt="FCBrasil")
                                div
                                    button.btn.btn-link(type="button")
                                        img(src="assets/img/emblem/MU.png" alt="MU")
                    div.tab-pane.fade(id="spain" role="tabpanel")
                        div.nl-players-filter-title Filter by team:
                        div.nl-players-filter-caruseul
                           p teams spain
                    div.tab-pane.fade(id="germany" role="tabpanel")
                        div.nl-players-filter-title Filter by team:
                        div.nl-players-filter-caruseul
                            p teams germany
                    div.tab-pane.fade(id="france" role="tabpanel")
                        div.nl-players-filter-title Filter by team:
                        div.nl-players-filter-caruseul
                            p teams france

        div.row
            div.col-md-12.col-lg-7.nl-team-m600
                div.nl-players-table.nl-create-team-table
                    div.nl-players-table-data-field
                        div.nl-data--avatar
                            <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">

                        div.nl-data--text.nl-m-r-80
                            p.title Cristiano Ronaldo
                            p team : Real Madrid
                            p position: A
                            p salary: $89000
                        div.nl-players-search
                            div.input-group
                                input(type="text" class="form-control" placeholder="Search by player name")
                                span.input-group-btn
                                    button.btn.btn-secondary(type="button") <i class="fa fa-search" aria-hidden="true"></i>

                    ul.nav.nav-tabs(role="tablist")
                        li.nav-item
                            a.nav-link.active(data-toggle="tab" href="#all" role="tab") All players
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#gk" role="tab") GK
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#d" role="tab") D
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#m" role="tab") m
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#a" role="tab") A


                    div.tab-content
                        div.tab-pane.active(id="all" role="tabpanel")
                            div.nl-mob-table.mob-table-striped
                                div.nl-title
                                    div.row
                                        div.col-6
                                            p NAME
                                            p POS
                                        div.col-6
                                            p FP
                                            p SALARY
                                div.nl-content
                                    div(id="accordion" role="tablist" aria-multiselectable="true")
                                        div.card
                                            div.card-header(role="tab" id="headingOne")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                                                    div.row

                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position G
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                        div.col-6

                                                            p 28.33
                                                            p $12,500


                                            div(id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne")
                                                div.card-block

                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17

                                        div.card
                                            div.card-header(role="tab" id="headingTwo")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position DL
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17
                                        div.card
                                            div.card-header(role="tab" id="headingThree")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position DR
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17
                                        div.card
                                            div.card-header(role="tab" id="headingFour")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position DAL
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17
                                        div.card
                                            div.card-header(role="tab" id="headingFive")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position DAR
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17
                                        div.card
                                            div.card-header(role="tab" id="headingSix")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position CM
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17
                                        div.card
                                            div.card-header(role="tab" id="headingSeven")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position RWM
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17
                                        div.card
                                            div.card-header(role="tab" id="headingEight")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position LWM
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17
                                        div.card
                                            div.card-header(role="tab" id="headingNine")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position RS
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17
                                        div.card
                                            div.card-header(role="tab" id="headingTen")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position LS
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17
                                        div.card
                                            div.card-header(role="tab" id="headingEleven")
                                                a(class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven")
                                                    div.row
                                                        div.col-6
                                                            p Sebastian Giovinco
                                                            p.nl-position ST
                                                            p
                                                                button.btn.btn-primary.btn-sm.disabled Draft
                                                        div.col-6
                                                            p 28.33
                                                            p $12,500
                                            div(id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven")
                                                div.card-block
                                                    div.row.align-items-center
                                                        div.col-6
                                                            p.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">
                                                        div.col-6
                                                            p.nl-pl-social
                                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span LEAGUE:
                                                        div.col-6
                                                            p
                                                                p <img src="assets/img/flag/USA.png" alt="USA">
                                                        div.col-6
                                                            p
                                                                span NEWS:
                                                        div.col-6
                                                            p <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                        div.col-6
                                                            p
                                                                span TEAM:
                                                        div.col-6
                                                            p REAL MADRID
                                                        div.col-6
                                                            p
                                                                span STATUS:
                                                        div.col-6
                                                            p ACT
                                                        div.col-6
                                                            p
                                                                span OPP:
                                                        div.col-6
                                                            p Gameday
                                                        div.col-6
                                                            p
                                                                span Gameday:
                                                        div.col-6
                                                            p 09/17/17




                            div.nl-desc-table
                                table.table.table-striped
                                    thead
                                        tr
                                            th
                                            th.avatar NAME
                                            th SALARY
                                            th FP
                                            th Status
                                            th POS
                                            th team
                                            th OPP
                                            th GameDAY
                                            th more
                                div.nl-table-scroll
                                    table.table.table-striped
                                        tbody
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td G
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td DL
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td DR
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td DAL
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td DAR
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td CM
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td RWM
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td LWM
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td RS
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td LS
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17
                                                td <a href="#"><span class="info">i</span></a>
                                            tr
                                                td
                                                    button.btn.btn-primary.btn-sm.disabled Draft
                                                td.avatar <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Cristiano Ronaldo
                                                td $21000
                                                td 20
                                                td ST
                                                td RMA
                                                td ACT
                                                td FCB
                                                td 09/17/17
                                                td <a href="#"><span class="info">i</span></a>




                        div.tab-pane(id="gk" role="tabpanel") TAB2
                        div.tab-pane(id="d" role="tabpanel") TAB3
                        div.tab-pane(id="m" role="tabpanel") TAB4
                        div.tab-pane(id="a" role="tabpanel") TAB5

            div.col-lg-6.nl-team-600
                div.nl-team-info
                    div.nl-team-name your team
                    div.nl-team-data
                        div.row
                            div.col-7 TOTAL SALARY:
                            div.col-5
                                span $46730
                        div.row
                            div.col-7 Available:
                            div.col-5
                                span.avalibe $25000
                        div.row
                            div.col-7 Projections:
                            div.col-5
                                span 154
                div.nl-team-button
                    button.btn.btn-team.btn-big-radius.active(type="button").field-view-btn field view
                    button.btn.btn-team.btn-big-radius(type="button").list-view-btn list view
                div.nl-team-field
                    div.striker-line
                    div.midfielder-line
                    div.defender-line
                    div.player-main-block
                        div.nl-player-block.nl-G-position(data-position="G")
                            img(src="assets/img/img-goalkeeper.png" alt="goalkeeper")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-DL-position(data-position="DL")
                            img(src="assets/img/img-players.png" alt="goalkeeper")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-DR-position(data-position="DR")
                            img(src="assets/img/img-players.png" alt="goalkeeper")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-DAL-position(data-position="DAL")
                            img(src="assets/img/img-players.png" alt="goalkeeper")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-DAR-position(data-position="DAR")
                            img(src="assets/img/img-players.png" alt="goalkeeper")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-CM-position(data-position="CM")
                            img(src="assets/img/img-players.png" alt="goalkeeper")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-RWM-position(data-position="RWM")
                            img(src="assets/img/img-players.png" alt="goalkeeper")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-LWM-position(data-position="LWM")
                            img(src="assets/img/img-players.png" alt="goalkeeper")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-RS-position(data-position="RS")
                            img(src="assets/img/img-players.png" alt="goalkeeper")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-LS-position(data-position="LS")
                            img(src="assets/img/img-players.png" alt="goalkeeper")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>
                        div.nl-player-block.nl-ST-position(data-position="ST")
                            img(src="assets/img/img-players.png" alt="goalkeeper")
                            div.nl-player-block--data
                                button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
                                p gronkowski
                                p.data <span>12.67</span> <span>$42000</span>

                div.nl-team-list.nl-my-teams.hide
                    .nl-card-wrapper
                        .row
                            .col-12
                                div.nl-team-card.table-data-field
                                    h3 team NLC2
                                    <img src="assets/img/helmet.png" alt="helmet" class="hidden-xs-down">
                        .row
                            .col-12
                                table.table.table-striped
                                    thead
                                        tr

                                            th NAME
                                            th POS
                                            th FP
                                            th SALARY
                                            th

                                    tbody
                                        tr

                                            td Player name
                                            td.pos G
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos DL
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos DR
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos DAL
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos DAR
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos CM
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos RWM
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos LWM
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos RS
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos LS
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut
                                        tr

                                            td Player name
                                            td.pos ST
                                            td 30
                                            td $0
                                            td
                                                button.btn.btn-primary.btn-sm.btn-warning cut

