section.nl-section.nl-players.nl-enter-contests
	div.container.container-narrow
		div.row
			div.col-md-12.col-lg-6
				div.heading-search
					h1.heading-search__header Teams
					div.heading-search__search
						div.dropdown
							button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Select your team
							div.dropdown-menu(aria-labelledby="dropdownMenuButton")
								a.dropdown-item Team A
								a.dropdown-item Team B
								a.dropdown-item Team C

				div.nl-team-info
					div.nl-team-name your team
					div.nl-team-data
						div.row
							div.col-7 TOTAL FP:
							div.col-5
								span.avalibe 101.9 FP
						div.row
							div.col-7 TOTAL SALARY:
							div.col-5
								span $46730
						div.row
							div.col-7 Available:
							div.col-5
								span.avalibe $25000
						div.row
							div.col-7 Projections:
							div.col-5
								span 154
				div.nl-team-button
					button.btn.btn-team.btn-big-radius.active(type="button").field-view-btn field view
					button.btn.btn-team.btn-big-radius(type="button").list-view-btn list view
				div.nl-team-field
					div.striker-line
					div.midfielder-line
					div.defender-line
					div.player-main-block
						div.nl-player-block.nl-G-position(data-position="G")
							img(src="assets/img/img-goalkeeper.png" alt="goalkeeper")
							div.nl-player-block--data
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-DL-position(data-position="DL")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-DR-position(data-position="DR")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-DAL-position(data-position="DAL")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-DAR-position(data-position="DAR")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-CM-position(data-position="CM")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-RWM-position(data-position="RWM")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-LWM-position(data-position="LWM")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-RS-position(data-position="RS")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-LS-position(data-position="LS")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-ST-position(data-position="ST")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>

				div.nl-team-list.nl-my-teams.hide
					.nl-card-wrapper
						.row
							.col-12
								div.nl-team-card.table-data-field
									h3 team NLC2
						.row
							.col-12
								table.table.table-striped.nl-team-list-table
									thead
										tr

											th NAME
											th POS
											th FP
											th SALARY

									tbody
										tr

											td Player name
											td.pos G
											td 30
											td $0
										tr

											td Player name
											td.pos DL
											td 30
											td $0
										tr

											td Player name
											td.pos DR
											td 30
											td $0
										tr

											td Player name
											td.pos DAL
											td 30
											td $0
										tr

											td Player name
											td.pos DAR
											td 30
											td $0
										tr

											td Player name
											td.pos CM
											td 30
											td $0
										tr

											td Player name
											td.pos RWM
											td 30
											td $0
										tr

											td Player name
											td.pos LWM
											td 30
											td $0
										tr

											td Player name
											td.pos RS
											td 30
											td $0
										tr

											td Player name
											td.pos LS
											td 30
											td $0
										tr

											td Player name
											td.pos ST
											td 30
											td $0

			div.col-md-12.col-lg-6
				div.nl-contest-info-title
					h1.heading-search__header Contest information
				div.nl-contest-info-table
					div.table-heading
						h5.text-center Super high stakes 100k pool h2h
						button.btn.btn-primary.btn-lg Enter contest
					table.table.table-info2
						thead
							tr
								th Starts in
									div.nl-time-block
										div
											span 4
											|Days
										div
											span 16
											| hours
										div
											span 0
											| minutes
										div
											span 5
											| seconds

					table.table.table-info1
						tbody
							tr
								td
									div.leaders-list
										p.tit First Game
										p Goals for Everyone
										p.tit Week
										p 3
										p.tit Prize money
										p 1.000 NLC
										p.tit
										button.btn.btn-primary Payout
								td
									div.leaders-list
										p.tit Last game
										p 19-07-2017 08:25 AM
										p.tit Buy-in
										p 10
										p.tit Registered Teams
										p 198 / 200
										p.tit Allowed teams
										p 2

					table.table.table-info3
						thead
							tr
								th Rank
								th user
								th team name
								th score
					div.nl-table-scroll2
						table.table.table-striped.table-info4
							tbody
								tr
									td 1
									td Username
									td MyTeamName
									td 37.90
								tr
									td 1
									td Username
									td MyTeamName
									td 37.90
								tr
									td 1
									td Username
									td MyTeamName
									td 37.90
								tr
									td 1
									td Username
									td MyTeamName
									td 37.90
								tr
									td 1
									td Username
									td MyTeamName
									td 37.90
								tr
									td 1
									td Username
									td MyTeamName
									td 37.90
