mixin repeat(times)
	each i in new Array(times)
		div.matches__result
			div.matches__content
				ul.matches__leaders-list
					li
						span <img src="http://localhost:3000/assets/img/emblem/MU.png" alt="MU">
						span RMA
						span 2
					li
						span <img src="http://localhost:3000/assets/img/emblem/FCB.png" alt="MU">
						span FCB
						span 1
			div.matches__result-header
				span Wed 10:45

mixin current-table(times)
	each i in new Array(times)
		tr
			td Touchsdowns all day long!
			td The best NLC2 team
			td.orange 114/150
			td 350

mixin contest-info(times)
	each i in new Array(times)
		tr
			td 1.
			td Username xxx
			td Score

mixin team-field-table(times)
	each i in new Array(times)
		tr
			td.indicated
				span.played.indicator
			td Player namessssss
			td.pos GK
			td 30
			td 12

mixin list-of-teams(times)
	each i in new Array(times)
		div.col-10.offset-1.col-sm-6.offset-sm-0.col-lg-3.col-xl-2.small-padding-live-score
			div.nl-contest-info-table.nl-live-score-contest-table
				div.rank
					div.rank__no.aligner
						div.rank__center
							span 124
					div.rank__title
						p Best team evah
						p.italic Best manager evah
					div.rank__thumb
						img(src="assets/img/helmet-2", alt="")
				table.table.table-info3
					thead
						tr
							th.indicated
								span.played.indicator.visibility-hidden
							th Name
							th Pos
							th FP
							th Score
				div.nl-table-scroll2
					table.table.table-striped.table-info4
						tbody
							tr
								td.indicated
									span.played.indicator
								td Name
								td.orange A
								td 123
								td 15
							tr
								td.indicated
									span.played.indicator
								td Name
								td.orange A
								td 123
								td 15
							tr
								td.indicated
									span.played.indicator
								td Name
								td.orange A
								td 123
								td 15
							tr
								td.indicated
									span.played.indicator
								td Name
								td.orange A
								td 123
								td 15
							tr
								td.indicated
									span.played.indicator
								td Name
								td.orange A
								td 123
								td 15
							tr
								td.indicated
									span.played.indicator
								td Name
								td.orange A
								td 123
								td 15
							tr
								td.indicated
									span.played.indicator
								td Name
								td.orange A
								td 123
								td 15
							tr
								td.indicated
									span.played.indicator
								td Name
								td.orange A
								td 123
								td 15
							tr
								td.indicated
									span.played.indicator
								td Name
								td.orange A
								td 123
								td 15
							tr
								td.indicated
									span.played.indicator
								td Name
								td.orange A
								td 123
								td 15
							tr
								td.indicated
									span.played.indicator
								td Name
								td.orange A
								td 123
								td 15
				div.nl-info-table-button
					div.rank.below-teams
						div.rank__stats.below-teams
							div.row
								div.col-4.small-padding-live-score
									div.rank__content.leaders-list
										p.tit FP
										p 90.3
								div.col-4.small-padding-live-score
									div.rank__content.leaders-list
										p.tit SCORE
										p 114.8
								div.col-4.small-padding-live-score
									div.rank__content.leaders-list
										p.tit PMR
										p 360


section.nl-section.nl-players.nl-live-score.soccer
	div.container-fluid
		div.row
			div.col-12.page-heading
				h1 Live Contest Dashboard

		div.row.top-bar-live-scores
			div.col-12.col-lg-6.offset-lg-0.col-xl-8
				h5.d-inline-block.component-header Matches
				div.matches.rounded-corners
					div.matches__scrollarea
						+repeat(12)

			div.col-12.offset-0.col-sm-10.offset-sm-1.col-lg-6.offset-lg-0.col-xl-4.live-current-contest
				h5.d-inline-block.component-header My current contests
				a.btn.btn-primary.btn-sm.btn-inline Refresh
				div.current-contents
					div.nl-table-responsive
						div.nl-table-mw.table-current-contests.rounded-corners
							table.table.table-striped
								thead
									tr
										th Contests name
										th Team name
										th Rank
										th PMR
							div.nl-table-scroll2
								table.table.table-striped
									tbody
										+current-table(8)
		div.row
			div.col-12.offset-0.col-sm-10.offset-sm-1.col-lg-6.offset-lg-0.col-xl-4
				h5.d-inline-block.component-header Contest info
				div.nl-contest-info-table
					div.table-heading
						form.form-signin.dropdown-my-contests
							.input-group
								select#country.form-control.custom-select(placeholder='COUNTRY', required='')
									option(selected='' disabled='' hidden='') SUPER SATURDAY H2H
									option Other amazing team name1!
									option Other amazing team name2!
									option Other amazing team name3!
									option Other amazing team name4!

					table.table.table-info1
						tbody
							tr
								td
									div.leaders-list
										p.tit First Game
										p 09/14/2017 08:25 AM
										p.tit Week
										p 3
										p.tit Prize money
										p 1.000 NLC
										p.tit
										button.btn.btn-primary Payout
								td
									div.leaders-list
										p.tit Last game
										p 19/07-2017 08:25 AM
										p.tit Buy-in
										p 10
										p.tit Registered Teams
										p 198 / 200
										p.tit
										button.btn.btn-warning Withdraw

					table.table.table-info3
						thead
							tr
								th
								th Contestant
								th Score
					div.nl-table-scroll3
						table.table.table-striped.table-info4.contestants
							tbody
								+contest-info(26)

			div.col-12.offset-0.col-sm-10.offset-sm-1.col-lg-6.offset-lg-0.col-xl-4
				h5.d-inline-block.component-header MY TEAM
				div.team-field-section
					div.rank
						div.rank__no.aligner
							div.rank__center
								span Rank
								span 124
						div.rank__select
							div.rank__content
								form.form-signin.dropdown-my-teams
									.input-group
										select#country.form-control.custom-select(placeholder='COUNTRY', required='')
											option(selected='' disabled='' hidden='') Main best NFL Team!
											option Other amazing team name1!
											option Other amazing team name2!
											option Other amazing team name3!
											option Other amazing team name4! 
								div.rank__playlist
									div.rank__playlist-item
										span.playing PLAYING
										span 4
									div.rank__playlist-item
										span.played PLAYED
										span 2
									div.rank__playlist-item
										span.not-played NOT PLAYING
										span 4
						div.rank__stats.part-of-block
							div.rank__content.leaders-list
								div.row
									div.col-12
										p.tit original
										p.points 90.3
									div.col-12
										p.tit Live score
										p.points 114.8
									div.col-12
										p.tit PMR
										p.points 360

				div.rank.margin-top-10
					div.rank__stats.single-block
						div.row
							div.col-3.small-padding-live-score
								div.rank__content.leaders-list
									p.tit original
									p.points 90.3
							div.col-6.small-padding-live-score
								div.rank__content.leaders-list
									p.tit Live score
									p.points 114.8
							div.col-3.small-padding-live-score
								div.rank__content.leaders-list
									p.tit PMR
									p.points 360

				div.nl-team-button
					button.btn.btn-team.btn-big-radius.active(type="button").field-view-btn field view
					button.btn.btn-team.btn-big-radius(type="button").list-view-btn list view
				
				div.nl-team-field
					div.player-main-block.soccer
						div.nl-player-block.nl-GK-position(data-position="GK")
							img(src="assets/img/img-goalkeeper.png" alt="goalkeeper")
							div.nl-player-block--data
								p gronkowski
								p.data FP <span class="orange">12.67</span> 
								p.data Score <span class="orange">15</span>
						div.nl-player-block.nl-DL-position(data-position="DL")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p.playing gronkowski
								p.data FP <span class="orange">12.67</span> 
								p.data Score <span class="orange">15</span>
						div.nl-player-block.nl-DR-position(data-position="DR")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p gronkowski
								p.data FP <span class="orange">12.67</span> 
								p.data Score <span class="orange">15</span>
						div.nl-player-block.nl-FLEXL-position(data-position="FLEXL")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p gronkowski
								p.data FP <span class="orange">12.67</span> 
								p.data Score <span class="orange">15</span>
						div.nl-player-block.nl-DM-position(data-position="DM")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p.not-playing gronkowski
								p.data FP <span class="orange">12.67</span> 
								p.data Score <span class="orange">15</span>
						div.nl-player-block.nl-MM-position(data-position="MM")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p gronkowski
								p.data FP <span class="orange">12.67</span> 
								p.data Score <span class="orange">15</span>
						div.nl-player-block.nl-MR-position(data-position="MR")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p.playing gronkowski
								p.data FP <span class="orange">12.67</span> 
								p.data Score <span class="orange">15</span>
						div.nl-player-block.nl-ML-position(data-position="ML")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p.played gronkowski
								p.data FP <span class="orange">12.67</span> 
								p.data Score <span class="orange">15</span>
						div.nl-player-block.nl-FLEXR-position(data-position="FLEXR")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p gronkowski
								p.data FP <span class="orange">12.67</span> 
								p.data Score <span class="orange">15</span>
						div.nl-player-block.nl-AL-position(data-position="AL")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p.not-playing gronkowski
								p.data FP <span class="orange">12.67</span> 
								p.data Score <span class="orange">15</span>
						div.nl-player-block.nl-AR-position(data-position="AR")
							img(src="assets/img/img-players.png" alt="goalkeeper")
							div.nl-player-block--data
								p.played gronkowski
								p.data FP <span class="orange">12.67</span> 
								p.data Score <span class="orange">15</span>

				div.nl-team-list.nl-my-teams.hide
					.nl-card-wrapper
						.row
							.col-12
								div.nl-team-card.table-data-field
									h3 MY NLC2 TEAM
									<img src="assets/img/img-players.png" alt="shirt">
						.row
							.col-12
								table.table.table-striped.nl-team-list-table
									thead
										tr
											th
											th NAME
											th POS
											th FP
											th SCORE
											th

									tbody
										tr
											td.indicated
												span.played.indicator
											td 
												p Player name
											td.pos G
											td 30
											td 12
											td
										tr
											td.indicated
												span.played.indicator
											td 
												p Player name
											td.pos D
											td 30
											td 12
											td
										tr
											td.indicated
												span.played.indicator
											td 
												p Player name
											td.pos D
											td 30
											td 12
											td
										tr
											td.indicated
												span.played.indicator
											td 
												p Player name
											td.pos D
											td 30
											td 12
											td
										tr
											td.indicated
												span.played.indicator
											td 
												p Player name
											td.pos D
											td 30
											td 12
											td
										tr
											td.indicated
												span.played.indicator
											td 
												p Player name
											td.pos M
											td 30
											td 12
											td
										tr
											td.indicated
												span.played.indicator
											td 
												p Player name
											td.pos M
											td 30
											td 12
											td
										tr
											td.indicated
												span.played.indicator
											td 
												p Player name
											td.pos M
											td 30
											td 12
											td
										tr
											td.indicated
												span.played.indicator
											td 
												p Player name
											td.pos S
											td 30
											td 12
											td
										tr
											td.indicated
												span.played.indicator
											td 
												p Player name
											td.pos S
											td 30
											td 12
											td
										tr
											td.indicated
												span.played.indicator
											td 
												p Player name
											td.pos S
											td 30
											td 12
											td

			div.col-10.offset-1.col-sm-10.offset-sm-1.col-xl-4.offset-xl-0.chatbox
				h5.d-inline-block.component-header Live chat
				div.nl-contest-info-table
					div.table-heading
						div.chat-search
							input.chat-search__input.form-control
							button.chat-search__button.btn.btn-primary
								span Post

					div.nl-table-scroll2
						div.chat
							div.chat__area
								div.row 
									div.col-4.col-lg-3
										p.orange Kasper
									div.col-8.col-lg-9
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									div.col-4.col-lg-3
										p.orange Dharmesh
									div.col-8.col-lg-9
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,



		div.row
			+list-of-teams(12)
		div.row
			div.col-12.more-teams-button
				a(href="") 
					div.btn.btn-primary.btn-lg.btn-more-teams-live More Teams
