mixin repeat(times)
	each i in new Array(times)
		div.matches__result
			div.matches__result-header
				span Wed. 12th 10:45
			div.matches__content
				ul.matches__leaders-list
					li
						span <img src="http://localhost:3000/assets/img/emblem/MU.png" alt="MU">
						span cl
						span 7
					li
						span <img src="http://localhost:3000/assets/img/emblem/MU.png" alt="MU">
						span cin
						span 448
					li
						span Final

mixin current-table(times)
	each i in new Array(times)
		tr
			td Football 1775 LONGFootballFootballFootballFootball
			td TEAM NAME LONG 111
			td 350 min
			td 114/150

mixin contest-info(times)
	each i in new Array(times)
		tr
			td 1.
			td Username xxx
			td Score

mixin team-field-table(times)
	each i in new Array(times)
		tr
			td Player name
			td.pos FLEX
			td 30
			td $0
			td
				button.btn.btn-primary.btn-sm.btn-warning cut

section.nl-section.nl-players.nl-live-score
	div.container.container-wider
		div.row
			div.col-sm-12.page-heading
				h1 Live scores
		div.row
			div.col-sm-12.col-lg-6.col-xl-8
				h6.d-inline-block Matches
				div.matches
					div.matches__scrollarea
						+repeat(12)

			div.col-sm-12.col-lg-6.col-xl-4
				h6.d-inline-block My current contests
				a.btn.btn-primary.btn-sm.btn-inline Refresh
				div.current-contents
					div.nl-table-responsive
						div.nl-table-mw.table-current-contests
							table.table.table-striped
								thead
									tr
										th Contests name
										th Team name
										th PMR
										th Rank
							div.nl-table-scroll2
								table.table.table-striped
									tbody
										+current-table(8)

		div.row
			div.col-sm-12.col-lg-6.col-xl-4
				h6.d-inline-block Contest info
				div.nl-contest-info-table
					div.table-heading
						div.dropdown
							button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Contest touchdowns all day!
							div.dropdown-menu(aria-labelledby="dropdownMenuButton")
								a.dropdown-item Team A
								a.dropdown-item Team B
								a.dropdown-item Team C

					table.table.table-info1
						tbody
							tr
								td
									div.leaders-list
										p.tit First Game
										p 09/14/2017 08:25 AM
										p.tit Week
										p 3
										p.tit Prize money
										p 1.000 NLC
										p.tit
										button.btn.btn-primary Payout
								td
									div.leaders-list
										p.tit Last game
										p 19/07-2017 08:25 AM
										p.tit Buy-in
										p 10
										p.tit Registered Teams
										p 198 / 200
										p.tit
										button.btn.btn-warning Withdraw

					table.table.table-info3
						thead
							tr
								th
								th Contestant
								th Score
					div.nl-table-scroll2
						table.table.table-striped.table-info4
							tbody
								+contest-info(11)

			div.col-sm-12.col-lg-6.col-xl-4
				h6.d-inline-block Stats
				div.team-field-section
					div.rank
						div.rank__no.aligner
							div.rank__center
								span Rank
								span 124
						div.rank_select
							div.rank__content
								div.dropdown
									button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Contest touchdowns all day!
									div.dropdown-menu(aria-labelledby="dropdownMenuButton")
										a.dropdown-item Team A
										a.dropdown-item Team B
										a.dropdown-item Team C
								div.rank__playlist
									div.rank__playlist-item
										span.playing Playing
										span 4
									div.rank__playlist-item
										span.played Played
										span 2
									div.rank__playlist-item
										span.not-played Not played
										span 4
						div.rank__stats
							div.rank__content.leaders-list
								p.tit original
								p 90.3 FP
								p.tit Live projections
								p 114.8 FP
								p.tit PMR
								p 360 min

				div.nl-team-button
					button.btn.btn-team.btn-big-radius.active(type="button").field-view-btn field view
					button.btn.btn-team.btn-big-radius(type="button").list-view-btn list view

				div.nl-team-field.football
					div.striker-line
					div.midfielder-line
					div.defender-line
					div.player-main-block.football
						div.nl-player-block.nl-FLEX-position(data-position="FLEX")
							img(src="assets/img/football/FLEX.png" alt="FLEX")
							div.nl-player-block--data
								button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-K-position(data-position="K")
							img(src="assets/img/football/K.png" alt="K")
							div.nl-player-block--data
								button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-LRB-position(data-position="LRB")
							img(src="assets/img/football/LRB.png" alt="LRB")
							div.nl-player-block--data
								button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-RRB-position(data-position="RRB")
							img(src="assets/img/football/RRB.png" alt="RRB")
							div.nl-player-block--data
								button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-QB-position(data-position="QB")
							img(src="assets/img/football/QB.png" alt="QB")
							div.nl-player-block--data
								button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-LWR-position(data-position="LWR")
							img(src="assets/img/football/LWR.png" alt="LWR")
							div.nl-player-block--data
								button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-RWR-position(data-position="RWR")
							img(src="assets/img/football/RWR.png" alt="RWR")
							div.nl-player-block--data
								button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-TE-position(data-position="TE")
							img(src="assets/img/football/TE.png" alt="TE")
							div.nl-player-block--data
								button.btn.btn-link.btn-player-close(type="button") <i class="fa fa-close" aria-hidden="true"></i>
								p gronkowski
								p.data <span>12.67</span> <span>$42000</span>
						div.nl-player-block.nl-team-logo-position
							img(src="assets/img/football/team-logo.png" alt="logo")

				div.nl-team-list.nl-my-teams.hide
					.nl-card-wrapper
						.row
							.col-12
								div.nl-team-card.table-data-field
									h3 team NLC2
									<img src="assets/img/helmet.png" alt="helmet" class="hidden-xs-down">

						.row
							.col-12
								table.table.table-striped.nl-team-list-table
									thead
										tr

											th NAME
											th POS
											th FP
											th SALARY
											th

									tbody
										+team-field-table(7)

			div.col-sm-12.col-lg-6.col-xl-4
				h6.d-inline-block Live chat
				div.nl-contest-info-table
					div.table-heading
						div.chat-search
							input.chat-search__input.form-control
							button.chat-search__button.btn.btn-primary
								span Post

					div.nl-table-scroll2
						div.chat
							div.chat__area
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

