div.nl-white-bg
section.nl-section.login-wrapper
    #loginSection(tabindex='-1', role='dialog', aria-labelledby='loginSectionLabel', aria-hidden='true')
        .block-dialog(role='document')
            .block-content
                .block-header
                    h2#loginSectionLabel.modal-title Login
                    a.close(href="index.html")
                        span(aria-hidden='true')
                .block-body
                    form.form-signin
                        .input-group
                            input#inputEmail.form-control(type='email', placeholder='SCREEN NAME OR EMAIL', required='', autofocus='')
                        .input-group
                            input.form-control(type='password', placeholder='PASSWORD', aria-describedby='show')
                            span.show-password.input-group-addon show

                        a(href="#") FORGOT MY PASSWORD



                .block-footer
                    button.btn.btn-primary.btn-block(type='submit') Login
