section.nl-section.nl-my-balances
    div.container.nl-my-balances-wrapper
               
        div.row
            .col-12
                h2 Exchange rate
        div.row
            .col-12.col-sm-6.col-md-6.col-lg-4.offset-lg-2
                .quote-wrapper
                    p
                        | NLC2 - BTC:
                        span.value 0.000043
            .col-12.col-sm-6.col-md-6.col-lg-4
                .quote-wrapper
                    p
                        | NLC2 - USD :
                        span.value 0.16089

        div.row.deposit-purchase
            .col-sm-1.col-md-1.col-lg-3
            .col-12.col-sm-10.col-md-10.col-lg-6
                button.btn.btn-primary DEPOSIT
                button.btn.btn-primary purchase 
            .col-sm-1.col-md-1.col-lg-3  

        div.row.balance-spacing
            .col-12
                h2 MY BALANCE

        div.row
            .col-md-1.col-lg-2
            .col-12.col-sm-12.col-md-10.col-lg-8
                table.table.balance-table
                    thead
                        tr
                            th
                            th BALANCE
                            th BTC
                            th DOLLARS

                    tbody
                        tr
                            td
                                <img src="assets/img/nl-logo-header-log.png" alt="icon">
                                | NoLimitCoin
                            td 1,26,277.5
                            td 0.2699325
                            td 1,009.96
                               
            .col-md-1.col-lg-2                          




        div.row.balance-status
            .col-12
                h2 STATUS
        
        div.row
            .col-md-1.col-lg-2
            .col-12.col-sm-12.col-md-10.col-lg-8
                table.table.balance-table
                    thead
                        tr
                            th
                            th BALANCE
                            th IN PLAY
                            th IN PROCESS

                    tbody
                        tr
                            td
                                <img src="assets/img/nl-logo-header-log.png" alt="icon">
                                | NoLimitCoin
                            td 1,26,277.5
                            td 1200
                            td 500000
                                
            .col-md-1.col-lg-2

        div.row.deposit-purchase
            .col-sm-1.col-md-1.col-lg-3
            .col-12.col-sm-10.col-md-10.col-lg-6
                button.btn.btn-primary Withdraw
                button.btn.btn-primary statement 
            .col-sm-1.col-md-1.col-lg-3 


