section.nl-section.nl-my-balances
    div.container.nl-my-balances-wrapper
        div.row
            .col-12.col-sm-12.col-md-12.col-lg-6
                .quote-wrapper
                    p
                        | NLC2 quote BTC :
                        span.value 0.000043
            .col-12.col-sm-12.col-md-12.col-lg-6
                .quote-wrapper
                    p
                        | NLC2 quote USD :
                        span.value 0.16089

        div.row
            .col-12
                h2 MY BALANCES

        div.row
            .col-12
                table.table.balance-table
                    thead
                        tr
                            th
                            th BALANCE
                            th BTC
                            th DOLLARS

                    tbody
                        tr
                            td
                                <img src="assets/img/nl-logo-header-log.png" alt="icon">
                                | NoLimitCoin
                            td 1,26,277.5
                            td 0.2699325
                            td 1,009.96

        div.row
            .col-12
                h2 BALANCE PER CURRENCY
        div.row
            .col-12
                table.table.balance-table
                    thead
                        tr
                            th
                            th BALANCE
                            th IN PLAY
                            th IN PROCESS

                    tbody
                        tr
                            td
                                <img src="assets/img/nl-logo-header-log.png" alt="icon">
                                | NoLimitCoin
                            td 1,26,277.5
                            td 1200
                            td 500000

        div.row
            .col-12
                .nl-balances-btn-wrapper
                    button.btn.btn-primary.dark VIEW STATEMENT
                    button.btn.btn-primary DEPOSITE
                    button.btn.btn-primary.dark WITHDRAW
                    button.btn.btn-primary PURCHASE


