section.nl-section.nl-my-teams
    div.container
        div.row
            div.col-md-12
                h1 My teams
        div.row
            div.col-md-12
                div.btn.btn-primary.btn-lg.btn-create-team Create team
        div.row
            div.col-md-8
                div.nl-status-wrapper
                    ul
                        li
                            span.playing.indicator
                            span Playing
                        li
                            span.played.indicator
                            span Played
                        li
                            span.not-playing.indicator
                            span Not Playing
            div.col-md-4.nl-tar
                div.btn.btn-primary.nl-m-b-225 Create helmet

        div.row.nl-m-b-25
            div.col-12.col-md-6.col-lg-6.col-xl-3
                .nl-card-wrapper
                    .row
                        .col-12
                            div.nl-team-card.table-data-field
                                p
                                    | Team:
                                    span.title team NLC2
                                <img src="assets/img/helmet.png" alt="helmet">

                    .row
                        .col-12
                            table.table.table-striped
                                    thead
                                        tr
                                            th
                                            th NAME
                                            th POS
                                            th FP
                                            th SALARY

                                    tbody
                                        tr
                                            td
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                                        tr
                                            td
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                                        tr
                                            td.indicated
                                                span.played.indicator
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                                        tr
                                            td
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                                        tr
                                            td.indicated
                                                span.playing.indicator
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                                        tr
                                            td.indicated
                                                span.playing.indicator
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                                        tr
                                            td
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                                        tr
                                            td.indicated
                                                span.not-playing.indicator
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                                        tr
                                            td.indicated
                                                span.playing.indicator
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                    .row
                        .col-12
                            div.nl-team-card-footer
                                div.nl-team-card-footer--left
                                    .nl-team-card-btns
                                        button.btn.btn-primary.btn-sm.nl-m-b-14 Edit
                                        button.btn.btn-primary.btn-sm.btn-warning Delete
                                div.nl-team-card-footer--right
                                    .nl-team-card-result
                                        p
                                            | TOTAL:
                                            span.result $69000
                                        p
                                            | FP TOTAL:
                                            span.result 199.7

            div.col-12.col-md-6.col-lg-6.col-xl-3
                .nl-card-wrapper
                    .row
                        .col-12
                            div.nl-team-card.table-data-field
                                p
                                    | Team:
                                    span.title team NLC2
                                <img src="assets/img/helmet.png" alt="helmet">

                    .row
                        .col-12
                            table.table.table-striped
                                thead
                                    tr
                                        th
                                        th NAME
                                        th POS
                                        th FP
                                        th SALARY

                                tbody
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.played.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.not-playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                    .row
                        .col-12
                            div.nl-team-card-footer
                                div.nl-team-card-footer--left
                                    .nl-team-card-btns
                                        button.btn.btn-primary.btn-sm.nl-m-b-14 Edit
                                        button.btn.btn-primary.btn-sm.btn-warning Delete
                                div.nl-team-card-footer--right
                                    .nl-team-card-result
                                        p
                                            | TOTAL:
                                            span.result $69000
                                        p
                                            | FP TOTAL:
                                            span.result 199.7
            div.col-12.col-md-6.col-lg-6.col-xl-3
                .nl-card-wrapper
                    .row
                        .col-12
                            div.nl-team-card.table-data-field
                                p
                                    | Team:
                                    span.title team NLC2
                                <img src="assets/img/helmet.png" alt="helmet">

                    .row
                        .col-12
                            table.table.table-striped
                                thead
                                    tr
                                        th
                                        th NAME
                                        th POS
                                        th FP
                                        th SALARY

                                tbody
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.played.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.not-playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                    .row
                        .col-12
                            div.nl-team-card-footer
                                div.nl-team-card-footer--left
                                    .nl-team-card-btns
                                        button.btn.btn-primary.btn-sm.nl-m-b-14 Edit
                                        button.btn.btn-primary.btn-sm.btn-warning Delete
                                div.nl-team-card-footer--right
                                    .nl-team-card-result
                                        p
                                            | TOTAL:
                                            span.result $69000
                                        p
                                            | FP TOTAL:
                                            span.result 199.7
            div.col-12.col-md-6.col-lg-6.col-xl-3
                .nl-card-wrapper
                    .row
                        .col-12
                            div.nl-team-card.table-data-field
                                p
                                    | Team:
                                    span.title team NLC2
                                <img src="assets/img/helmet.png" alt="helmet">

                    .row
                        .col-12
                            table.table.table-striped
                                thead
                                    tr
                                        th
                                        th NAME
                                        th POS
                                        th FP
                                        th SALARY

                                tbody
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.played.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.not-playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                    .row
                        .col-12
                            div.nl-team-card-footer
                                div.nl-team-card-footer--left
                                    .nl-team-card-btns
                                        button.btn.btn-primary.btn-sm.nl-m-b-14 Edit
                                        button.btn.btn-primary.btn-sm.btn-warning Delete
                                div.nl-team-card-footer--right
                                    .nl-team-card-result
                                        p
                                            | TOTAL:
                                            span.result $69000
                                        p
                                            | FP TOTAL:
                                            span.result 199.7


