section.nl-section.nl-my-teams
    div.container-fluid
        div.row
            div.col-md-12
                h1 My teams
        div.row
            div.col-6.col-sm-6.col-md-6.col-lg-8
                a(href="create_team_football.html") 
                    div.btn.btn-primary.btn-lg.btn-create-team Create team
            div.col-6.col-sm-6.col-md-6.col-lg-4.helmet
                a(href="#") 
                    div.btn.btn-primary.btn-lg.btn-create-team Create Helmet
            //div.col-sm-12
            div.nl-status-wrapper
                    ul
                        li
                            span.playing.indicator
                            span Playing
                        li
                            span.played.indicator
                            span Played
                        li
                            span.not-playing.indicator
                            span Not Playing

        div.row.nl-m-b-25
            div.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3.smaller-padding-teams
                .nl-card-wrapper
                    .row
                        .col-12
                            div.nl-team-card.table-data-field
                                p team NLC2
                                #create-helmet.final-helmet(style='display: block;')
                                    img#helmet.helmet-img(src='assets/img/helmet/red-helmet.png', style='display: block;')
                                    img#oval.img-fluid.select-oval(src='assets/img/oval/whiteoval.png', style='display: block;')
                                    img#letter.img-fluid.select-letter(src='assets/img/letter/n.png', style='display: block;')

                    .row
                        .col-12
                            table.table.table-striped
                                    thead
                                        tr
                                            th
                                            th NAME
                                            th POS
                                            th FP
                                            th SALARY

                                    tbody
                                        tr
                                            td
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                                        tr
                                            td
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                                        tr
                                            td.indicated
                                                span.played.indicator
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                                        tr
                                            td
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                                        tr
                                            td.indicated
                                                span.playing.indicator
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                                        tr
                                            td.indicated
                                                span.playing.indicator
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                                        tr
                                            td
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                                        tr
                                            td.indicated
                                                span.not-playing.indicator
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                                        tr
                                            td.indicated
                                                span.playing.indicator
                                            td Player name
                                            td.pos D
                                            td 30
                                            td $0
                    .row
                        .col-12
                            div.nl-team-card-footer
                                div.nl-team-card-footer--left
                                    .nl-team-card-btns
                                        button.btn.btn-primary.btn-sm.nl-m-b-14 Edit
                                        button.btn.btn-sm.btn-warning Delete
                                div.nl-team-card-footer--right
                                    .nl-team-card-result
                                        p
                                            | TOTAL:
                                            span.result $69000
                                        p
                                            | FP TOTAL:
                                            span.result 199.7
            div.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3.smaller-padding-teams
                .nl-card-wrapper
                    .row
                        .col-12
                            div.nl-team-card.table-data-field
                                p team NLC2
                                #create-helmet.final-helmet(style='display: block;')
                                    img#helmet.helmet-img(src='assets/img/helmet/white-helmet.png', style='display: block;')
                                    img#oval.img-fluid.select-oval(src='assets/img/oval/whiteoval.png', style='display: block;')
                                    img#letter.img-fluid.select-letter(src='assets/img/letter/n.png', style='display: block;')
                    .row
                        .col-12
                            table.table.table-striped
                                thead
                                    tr
                                        th
                                        th NAME
                                        th POS
                                        th FP
                                        th SALARY

                                tbody
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.played.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.not-playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                    .row
                        .col-12
                            div.nl-team-card-footer
                                div.nl-team-card-footer--left
                                    .nl-team-card-btns
                                        button.btn.btn-primary.btn-sm.nl-m-b-14 Edit
                                        button.btn.btn-sm.btn-warning Delete
                                div.nl-team-card-footer--right
                                    .nl-team-card-result
                                        p
                                            | TOTAL:
                                            span.result $69000
                                        p
                                            | FP TOTAL:
                                            span.result 199.7
            div.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3.smaller-padding-teams
                .nl-card-wrapper
                    .row
                        .col-12
                            div.nl-team-card.table-data-field
                                p team NLC2
                                #create-helmet.final-helmet(style='display: block;')
                                    img#helmet.helmet-img(src='assets/img/helmet/red-helmet.png', style='display: block;')
                                    img#oval.img-fluid.select-oval(src='assets/img/oval/whiteoval.png', style='display: block;')
                                    img#letter.img-fluid.select-letter(src='assets/img/letter/n.png', style='display: block;')

                    .row
                        .col-12
                            table.table.table-striped
                                thead
                                    tr
                                        th
                                        th NAME
                                        th POS
                                        th FP
                                        th SALARY

                                tbody
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.played.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.not-playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                    .row
                        .col-12
                            div.nl-team-card-footer
                                div.nl-team-card-footer--left
                                    .nl-team-card-btns
                                        button.btn.btn-primary.btn-sm.nl-m-b-14 Edit
                                        button.btn.btn-sm.btn-warning Delete
                                div.nl-team-card-footer--right
                                    .nl-team-card-result
                                        p
                                            | TOTAL:
                                            span.result $69000
                                        p
                                            | FP TOTAL:
                                            span.result 199.7
            div.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3.smaller-padding-teams
                .nl-card-wrapper
                    .row
                        .col-12
                            div.nl-team-card.table-data-field
                                p team NLC2
                                #create-helmet.final-helmet(style='display: block;')
                                    img#helmet.helmet-img(src='assets/img/helmet/white-helmet.png', style='display: block;')
                                    img#oval.img-fluid.select-oval(src='assets/img/oval/whiteoval.png', style='display: block;')
                                    img#letter.img-fluid.select-letter(src='assets/img/letter/n.png', style='display: block;')
                    .row
                        .col-12
                            table.table.table-striped
                                thead
                                    tr
                                        th
                                        th NAME
                                        th POS
                                        th FP
                                        th SALARY

                                tbody
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.played.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.not-playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                    .row
                        .col-12
                            div.nl-team-card-footer
                                div.nl-team-card-footer--left
                                    .nl-team-card-btns
                                        button.btn.btn-primary.btn-sm.nl-m-b-14 Edit
                                        button.btn.btn-sm.btn-warning Delete
                                div.nl-team-card-footer--right
                                    .nl-team-card-result
                                        p
                                            | TOTAL:
                                            span.result $69000
                                        p
                                            | FP TOTAL:
                                            span.result 199.7
            div.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3.smaller-padding-teams
                .nl-card-wrapper
                    .row
                        .col-12
                            div.nl-team-card.table-data-field
                                p team NLC2
                                #create-helmet.final-helmet(style='display: block;')
                                    img#helmet.helmet-img(src='assets/img/helmet/red-helmet.png', style='display: block;')
                                    img#oval.img-fluid.select-oval(src='assets/img/oval/whiteoval.png', style='display: block;')
                                    img#letter.img-fluid.select-letter(src='assets/img/letter/n.png', style='display: block;')

                    .row
                        .col-12
                            table.table.table-striped
                                thead
                                    tr
                                        th
                                        th NAME
                                        th POS
                                        th FP
                                        th SALARY

                                tbody
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.played.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.not-playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                    .row
                        .col-12
                            div.nl-team-card-footer
                                div.nl-team-card-footer--left
                                    .nl-team-card-btns
                                        button.btn.btn-primary.btn-sm.nl-m-b-14 Edit
                                        button.btn.btn-sm.btn-warning Delete
                                div.nl-team-card-footer--right
                                    .nl-team-card-result
                                        p
                                            | TOTAL:
                                            span.result $69000
                                        p
                                            | FP TOTAL:
                                            span.result 199.7
            div.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3.smaller-padding-teams
                .nl-card-wrapper
                    .row
                        .col-12
                            div.nl-team-card.table-data-field
                                p team NLC2
                                #create-helmet.final-helmet(style='display: block;')
                                    img#helmet.helmet-img(src='assets/img/helmet/white-helmet.png', style='display: block;')
                                    img#oval.img-fluid.select-oval(src='assets/img/oval/whiteoval.png', style='display: block;')
                                    img#letter.img-fluid.select-letter(src='assets/img/letter/n.png', style='display: block;')
                    .row
                        .col-12
                            table.table.table-striped
                                thead
                                    tr
                                        th
                                        th NAME
                                        th POS
                                        th FP
                                        th SALARY

                                tbody
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.played.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.not-playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                    .row
                        .col-12
                            div.nl-team-card-footer
                                div.nl-team-card-footer--left
                                    .nl-team-card-btns
                                        button.btn.btn-primary.btn-sm.nl-m-b-14 Edit
                                        button.btn.btn-sm.btn-warning Delete
                                div.nl-team-card-footer--right
                                    .nl-team-card-result
                                        p
                                            | TOTAL:
                                            span.result $69000
                                        p
                                            | FP TOTAL:
                                            span.result 199.7                                  
            div.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3.smaller-padding-teams
                .nl-card-wrapper
                    .row
                        .col-12
                            div.nl-team-card.table-data-field
                                p team NLC2
                                #create-helmet.final-helmet(style='display: block;')
                                    img#helmet.helmet-img(src='assets/img/helmet/red-helmet.png', style='display: block;')
                                    img#oval.img-fluid.select-oval(src='assets/img/oval/whiteoval.png', style='display: block;')
                                    img#letter.img-fluid.select-letter(src='assets/img/letter/n.png', style='display: block;')

                    .row
                        .col-12
                            table.table.table-striped
                                thead
                                    tr
                                        th
                                        th NAME
                                        th POS
                                        th FP
                                        th SALARY

                                tbody
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.played.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.not-playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                    .row
                        .col-12
                            div.nl-team-card-footer
                                div.nl-team-card-footer--left
                                    .nl-team-card-btns
                                        button.btn.btn-primary.btn-sm.nl-m-b-14 Edit
                                        button.btn.btn-sm.btn-warning Delete
                                div.nl-team-card-footer--right
                                    .nl-team-card-result
                                        p
                                            | TOTAL:
                                            span.result $69000
                                        p
                                            | FP TOTAL:
                                            span.result 199.7
            div.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3.smaller-padding-teams
                .nl-card-wrapper
                    .row
                        .col-12
                            div.nl-team-card.table-data-field
                                p team NLC2
                                #create-helmet.final-helmet(style='display: block;')
                                    img#helmet.helmet-img(src='assets/img/helmet/white-helmet.png', style='display: block;')
                                    img#oval.img-fluid.select-oval(src='assets/img/oval/whiteoval.png', style='display: block;')
                                    img#letter.img-fluid.select-letter(src='assets/img/letter/n.png', style='display: block;')
                    .row
                        .col-12
                            table.table.table-striped
                                thead
                                    tr
                                        th
                                        th NAME
                                        th POS
                                        th FP
                                        th SALARY

                                tbody
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.played.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.not-playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td.pos D
                                        td 30
                                        td $0
                    .row
                        .col-12
                            div.nl-team-card-footer
                                div.nl-team-card-footer--left
                                    .nl-team-card-btns
                                        button.btn.btn-primary.btn-sm.nl-m-b-14 Edit
                                        button.btn.btn-sm.btn-warning Delete
                                div.nl-team-card-footer--right
                                    .nl-team-card-result
                                        p
                                            | TOTAL:
                                            span.result $69000
                                        p
                                            | FP TOTAL:
                                            span.result 199.7
        div.row
            div.col-12.more-teams-button
                a(href="") 
                    div.btn.btn-primary.btn-lg.btn-create-team More Teams
