section.nl-section.nl-my-teams
    div.container-fluid
        div.row
            div.col-md-12
                h1 My teams
        div.row
            div.col-md-12
                div.btn.btn-primary.btn-lg.btn-create-team Create team
        div.row
            div.col-md-8
                div.nl-status-wrapper
                    ul
                        li
                            span.playing.indicator
                            span Playing
                        li
                            span.played.indicator
                            span Played
                        li
                            span.not-playing.indicator
                            span Not Playing
            div.col-md-4
                div.btn.btn-primary.pull-right Create helmet

        div.row.nl-m-b-25
            div.col-6.col-lg-3
                .nl-card-wrapper
                    .row
                        .col-12
                            div.nl-team-card.table-data-field
                                div.row.align-items-center
                                    div.col-8.nl-m-r-64
                                        p
                                            | Team:
                                            span.title team NLC2

                                    div.col-4
                                        <img src="assets/img/helmet.png" alt="helmet">
                    .row
                        .col-12
                            table.table.table-striped
                                    thead
                                        tr
                                            th
                                            th NAME
                                            th POS
                                            th FP
                                            th SALARY

                                    tbody
                                        tr
                                            td
                                            td Player name
                                            td D
                                            td 30
                                            td.salary $0
                                        tr
                                            td
                                            td Player name
                                            td D
                                            td 30
                                            td.salary $0
                                        tr
                                            td.indicated
                                                span.played.indicator
                                            td Player name
                                            td D
                                            td 30
                                            td.salary $0
                                        tr
                                            td
                                            td Player name
                                            td D
                                            td 30
                                            td.salary $0
                                        tr
                                            td.indicated
                                                span.playing.indicator
                                            td Player name
                                            td D
                                            td 30
                                            td.salary $0
                                        tr
                                            td.indicated
                                                span.playing.indicator
                                            td Player name
                                            td D
                                            td 30
                                            td.salary $0
                                        tr
                                            td
                                            td Player name
                                            td D
                                            td 30
                                            td.salary $0
                                        tr
                                            td.indicated
                                                span.not-playing.indicator
                                            td Player name
                                            td D
                                            td 30
                                            td.salary $0
                                        tr
                                            td.indicated
                                                span.playing.indicator
                                            td Player name
                                            td D
                                            td 30
                                            td.salary $0
                    .row
                        .col-12
                            div.nl-team-card-footer
                                div.row.align-items-center
                                    div.col-5
                                        .nl-team-card-btns
                                            button.btn.btn-primary.btn-sm.nl-m-b-14 Edit
                                            button.btn.btn-primary.btn-sm.btn-warning Delete

                                    div.col-7
                                        .nl-team-card-result
                                            p
                                                | TOTAL:
                                                span.result $69000
                                            p
                                                | FP TOTAL:
                                                span.result 199.7

            div.col-6.col-lg-3
                .nl-card-wrapper
                    .row
                        .col-12
                            div.nl-team-card.table-data-field
                                div.row.align-items-center
                                    div.col-8.nl-m-r-64
                                        p
                                            | Team:
                                            span.title team NLC2

                                    div.col-4
                                        <img src="assets/img/helmet.png" alt="helmet">
                    .row
                        .col-12
                            table.table.table-striped
                                thead
                                    tr
                                        th
                                        th NAME
                                        th POS
                                        th FP
                                        th SALARY

                                tbody
                                    tr
                                        td
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td.indicated
                                            span.played.indicator
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td.indicated
                                            span.not-playing.indicator
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                    .row
                        .col-12
                            div.nl-team-card-footer
                                div.row.align-items-center
                                    div.col-5
                                        .nl-team-card-btns
                                            button.btn.btn-primary.btn-sm.nl-m-b-14 Edit
                                            button.btn.btn-primary.btn-sm.btn-warning Delete

                                    div.col-7
                                        .nl-team-card-result
                                            p
                                                | TOTAL:
                                                span.result $69000
                                            p
                                                | FP TOTAL:
                                                span.result 199.7
            div.col-6.col-lg-3
                .nl-card-wrapper
                    .row
                        .col-12
                            div.nl-team-card.table-data-field
                                div.row.align-items-center
                                    div.col-8.nl-m-r-64
                                        p
                                            | Team:
                                            span.title team NLC2

                                    div.col-4
                                        <img src="assets/img/helmet.png" alt="helmet">
                    .row
                        .col-12
                            table.table.table-striped
                                thead
                                    tr
                                        th
                                        th NAME
                                        th POS
                                        th FP
                                        th SALARY

                                tbody
                                    tr
                                        td
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td.indicated
                                            span.played.indicator
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td.indicated
                                            span.not-playing.indicator
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                    .row
                        .col-12
                            div.nl-team-card-footer
                                div.row.align-items-center
                                    div.col-5
                                        .nl-team-card-btns
                                            button.btn.btn-primary.btn-sm.nl-m-b-14 Edit
                                            button.btn.btn-primary.btn-sm.btn-warning Delete

                                    div.col-7
                                        .nl-team-card-result
                                            p
                                                | TOTAL:
                                                span.result $69000
                                            p
                                                | FP TOTAL:
                                                span.result 199.7
            div.col-6.col-lg-3
                .nl-card-wrapper
                    .row
                        .col-12
                            div.nl-team-card.table-data-field
                                div.row.align-items-center
                                    div.col-8.nl-m-r-64
                                        p
                                            | Team:
                                            span.title team NLC2

                                    div.col-4
                                        <img src="assets/img/helmet.png" alt="helmet">
                    .row
                        .col-12
                            table.table.table-striped
                                thead
                                    tr
                                        th
                                        th NAME
                                        th POS
                                        th FP
                                        th SALARY

                                tbody
                                    tr
                                        td
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td.indicated
                                            span.played.indicator
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td.indicated
                                            span.not-playing.indicator
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                                    tr
                                        td.indicated
                                            span.playing.indicator
                                        td Player name
                                        td D
                                        td 30
                                        td.salary $0
                    .row
                        .col-12
                            div.nl-team-card-footer
                                div.row.align-items-center
                                    div.col-5
                                        .nl-team-card-btns
                                            button.btn.btn-primary.btn-sm.nl-m-b-14 Edit
                                            button.btn.btn-primary.btn-sm.btn-warning Delete

                                    div.col-7
                                        .nl-team-card-result
                                            p
                                                | TOTAL:
                                                span.result $69000
                                            p
                                                | FP TOTAL:
                                                span.result 199.7
