section.nl-section.nl-players
    div.container-fluid
        div.row
            div.col-md-12
                div.nl-players-table
                    div.nl-players-table-data-field
                        div.nl-data--avatar
                            <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco">

                        div.nl-data--text.nl-m-r-80
                            p.title Cristiano Ronaldo
                            p team : Real Madrid
                            p position: A
                            p salary: $89000
                        div.nl-data--text
                            p.title team formats
                            p other details go here
                    div.nl-players-search
                        div.input-group
                            input(type="text" class="form-control" placeholder="Search by player name")
                            span.input-group-btn
                                button.btn.btn-secondary(type="button") <i class="fa fa-search" aria-hidden="true"></i>

                    ul.nav.nav-tabs(role="tablist")
                        li.nav-item
                            a.nav-link.active(data-toggle="tab" href="#all" role="tab") All players
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#gk" role="tab") GK
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#d" role="tab") D
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#m" role="tab") m
                        li.nav-item
                            a.nav-link(data-toggle="tab" href="#a" role="tab") A

                    div.tab-content
                        div.tab-pane.active(id="all" role="tabpanel")
                            table.table.table-striped
                                thead
                                    tr
                                        th NAME
                                        th LEAGUE
                                        th NEWS
                                        th TEAM
                                        th STATUS
                                        th FP
                                        th SALARY
                                        th POS
                                        th OPP
                                        th Gameday
                                        th SOCIAL

                                tbody
                                    tr
                                        td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                        td <img src="assets/img/flag/USA.png" alt="USA">
                                        td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                        td REAL MADRID
                                        td.act ACT
                                        td 28.33
                                        td $12,500
                                        td A
                                        td LA GALAXY
                                        td 09/17/17
                                        td
                                            div.nl-pl-social
                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    tr
                                        td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                        td <img src="assets/img/flag/Spain.png" alt="USA">
                                        td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                        td REAL MADRID
                                        td.act ACT
                                        td 28.33
                                        td $12,500
                                        td A
                                        td LA GALAXY
                                        td 09/17/17
                                        td
                                            div.nl-pl-social
                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    tr
                                        td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                        td <img src="assets/img/flag/Spain.png" alt="USA">
                                        td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                        td REAL MADRID
                                        td.act ACT
                                        td 28.33
                                        td $12,500
                                        td A
                                        td LA GALAXY
                                        td 09/17/17
                                        td
                                            div.nl-pl-social
                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    tr
                                        td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                        td <img src="assets/img/flag/USA.png" alt="USA">
                                        td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                        td REAL MADRID
                                        td.act ACT
                                        td 28.33
                                        td $12,500
                                        td A
                                        td LA GALAXY
                                        td 09/17/17
                                        td
                                            div.nl-pl-social
                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    tr
                                        td <img src="assets/img/pl-avatar-table.jpg" alt="Sebastian Giovinco"> Sebastian Giovinco
                                        td <img src="assets/img/flag/Spain.png" alt="USA">
                                        td <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                        td REAL MADRID
                                        td.act ACT
                                        td 28.33
                                        td $12,500
                                        td A
                                        td LA GALAXY
                                        td 09/17/17
                                        td
                                            div.nl-pl-social
                                                a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                                                a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>


                        div.tab-pane(id="gk" role="tabpanel") TAB2
                        div.tab-pane(id="d" role="tabpanel") TAB3
                        div.tab-pane(id="m" role="tabpanel") TAB4
                        div.tab-pane(id="a" role="tabpanel") TAB5

