//- <div class="nl-white-bg"></div>
section.nl-section.registration-wrapper
    div.row
        .col-lg-2 
        .col-lg-8 
            #registrationSection(tabindex='-1', role='dialog', aria-labelledby='loginSectionLabel', aria-hidden='true')
                .block-dialog(role='document')
                .block-content
                    .block-header
                        h2#loginSectionLabel.modal-title Sign Up
                    .block-body
                        form.form-signin
                            .input-group
                                input#inputEmail.form-control(type='email', placeholder='EMAIL', required='', autofocus='')
                            .input-group
                                input.form-control(type='password', placeholder='PASSWORD', aria-describedby='show')
                                span.show-password.input-group-addon show

                            .input-group
                                input.form-control(type='password', placeholder='RE-TYPE PASSWORD')

                            .input-group
                                input#screenName.form-control(placeholder='SCREEN NAME', required='', autofocus='')

                            .input-group
                                input#firstName.form-control(placeholder='FIRST NAME', required='', autofocus='')

                            .input-group
                                input#lastName.form-control(placeholder='LAST NAME', required='', autofocus='')

                            .input-group
                                select#country.form-control.custom-select(placeholder='COUNTRY', required='')
                                    option(selected='' disabled='' hidden='') COUNTRY
                                    option USA
                                    option CANADA
                                    option UK
                                    option PORTUGAL

                            .input-group
                                input#promoCode.form-control(placeholder='PROMO CODE(OPTIONAL)', required='', autofocus='')

                            .g-recaptcha(data-sitekey='your_site_key')
                            label.check-wrapper
                                input(type='checkbox', value='')
                                p
                                    | I agree to the No Limit Fantasy Sports, LLC Contest
                                    =" "
                                    a(href='#') Rules
                                    =" "
                                    | ,
                                    =" "
                                    a(href='#') Terms and Conditions
                                    =" "
                                    |  and
                                    =" "
                                    a(href='#') Privacy Policy
                                    =" "
                                    |  and represent that I am of legal age to play Fantasy Sports in my state of residence. Residents of the states of Alabama, Arizona, Colorado, Delaware, Florida, Georgia, Hawaii, Idaho, Illinois, Indiana, Iowa, Louisiana, Massachusetts, Michigan, Mississippi, Missouri, Montana, Nevada, New York, North Dakota, Pennsylvania, Tennessee, Texas, Vermont, Virginia and Washington, as well as Puerto Rico and where otherwise prohibited by law are not eligible to enter Fantasy Sports Pay to play contests.


                    .block-footer
                        button.btn.btn-primary.btn-block(type='submit') REGISTER
        .col-lg-2