#enterContestsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='registrationModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-body
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true')
                div.owl-carousel.enterContests
                    div
                        img(src="assets/img/enter-img1.png")
                        button.btn.btn-primary(type="button") team name 1
                    div
                        img(src="assets/img/enter-img2.png")
                        button.btn.btn-primary(type="button") team name 2
                    div
                        img(src="assets/img/enter-img3.png")
                        button.btn.btn-primary(type="button") team name 3
                    div
                        img(src="assets/img/enter-img3.png")
                        button.btn.btn-primary(type="button") team name 4
                    div
                        img(src="assets/img/enter-img3.png")
                        button.btn.btn-primary(type="button") team name 5
                div.nl-contests-search
                    div.input-group
                        input(type="text" class="form-control" placeholder="Search contests")
                        span.input-group-btn
                            button.btn.btn-secondary(type="button") <i class="fa fa-search" aria-hidden="true"></i>
                div.nl-team-button
                    button.btn.btn-primary.field-view-btn.active(type="button") field view
                    button.btn.list-view-btn(type="button") list view
                div.nl-team-field.football
                    div.player-main-block
                        div.nl-player-block.nl-QB-position(data-position="QB")
                            img(src="assets/img/football/img-QB.png" alt="QB")
                            div.nl-player-block--data
                                p gronkowski
                                p.data.orange <span>12.67</span> <span>$42000</span>

                div.nl-modal-table
                    table.table.table-striped
                        tbody
                            tr
                                td Projections
                                td.pos 101.9 FP
                            tr
                                td total salary:
                                td $55000
                            tr
                                td Total Teams:
                                td 69/100
                            tr
                                td Buy in:
                                td 10 NLC2
                            tr
                                td week:
                                td 3



            .modal-footer
                button.btn.btn-primary(type='submit') enter contest