//Footer Block
footer.nl-footer
    div.nl-footer--top
        div.row.align-items-center
            div.col-lg-1
                a(href="index.html")
                    img(src="assets/img/nl-footer-logo.jpg" alt="NO Limit")
            div.col-lg-8
                p Residents of the states of Alabama, Arizona, Colorado, Delaware, Florida, Georgia, Hawaii, Idaho, Illinois, Indiana, Iowa, Louisiana, Massachusetts, Michigan, Mississippi, Missouri, Montana, Nevada, New York, North Dakota, Pennsylvania, Tennessee, Texas, Vermont, Virginia and Washington, as well as Puerto Rico and countries where otherwise prohibited by law are not eligible to enter Fantasy Sports Pay to play contests. Free - roll contests are open to all the public over 18 as it does not fall into the pay-to-play category as advertisers provide the prizes.
            div.col-lg-3.nl-tar
                div.input-group-btn
                    a.btn.btn-footer(htef="#") Forum
                    a.btn.btn-footer(htef="#") Contact Us
                div.input-group-btn
                    a.btn.btn-footer(htef="#") Faq
                    a.btn.btn-footer(htef="#") Terms & Conditions
    div.nl-footer--button
        div.row
            div.col-lg-9
                p Copyright © 2017 No Limit Fantasy Sports, LLC All Rights Reserved Contest Rules, Terms and Conditions and Privacy Policy
            div.col-lg-3.nl-social-icon.nl-tar
                a(href="#")
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                a(href="#")
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                a(href="#")
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                a(href="#")
                    <i class="fa fa-instagram" aria-hidden="true"></i>


