//Footer Block
footer.nl-footer
    div.nl-footer--button
        div.row
            div.col-lg-9
                div.nl-social-icon
                    a(href="#")
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    a(href="#")
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    a(href="#")
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    a(href="#")
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                p Copyright © 2017 No Limit Fantasy Sports, LLC All Rights Reserved Contest Rules, Terms and Conditions and Privacy Policy
            div.col-lg-3.nl-tar
                div.input-group-btn
                    a.btn.btn-footer(htef="#") Forum
                    a.btn.btn-footer(htef="#") Contact Us
                div.input-group-btn
                    a.btn.btn-footer(htef="#") Faq
                    a.btn.btn-footer(htef="#") Terms & Conditions
