//Navigation Fixed Block
header.nl-header
    div.nl-header--top
        div.container-fluid
            div.row.align-items-start
                div.col-4.col-lg-2
                    div.nl-logotype
                        a(href="index.html")
                            img(src="assets/img/logotype.svg" alt="NO Limit")
                div.col-1.col-lg-7
                    div.nl-title The worlds first crypto fantasy sports
                div.col-12.col-lg-3
                    div.nl-btutton-login
                        button.btn.btn-primary.nl-m-r-15(type='button', data-toggle='modal', data-target='#loginModal') Login
                        button.btn(type='button', data-toggle='modal', data-target='#registrationModal') SIGN UP



