//Navigation Fixed Block
header.nl-header
    div.nl-header--top
        div.container-fluid
            div.row.align-items-start
                div.col-4.col-lg-2
                    div.nl-logotype
                        a(href="index.html")
                            img(src="assets/img/logotype.svg" alt="NO Limit")
                div.col-1.col-lg-7
                    div.nl-title The worlds first crypto fantasy sports
                div.col-12.col-lg-3
                    div.nl-btutton-login
                        a.btn.btn-primary.nl-m-r-15(href="login.html") Login
                        a.btn(href="register.html") SIGN UP

    div.nl-header--slide
        div.owl-carousel.main-carousel
            div.item.nl-slide
                div.container-fluid
                    h1 Draft your line up with <br />no limit coins
                    div.btn.btn-primary.btn-lg.nl-m-t-40 SIGN UP
            div.item.nl-slide
                div.container
                    h2 Draft your line up with <br />no limit coins
                    div.btn.btn-primary.btn-lg.nl-m-t-40 SIGN UP
            div.item.nl-slide
                div.container
                    h2 Draft your line up with <br />no limit coins
                    div.btn.btn-primary.btn-lg.nl-m-t-40 SIGN UP
            div.item.nl-slide
                div.container
                    h2 Draft your line up with <br />no limit coins
                    div.btn.btn-primary.btn-lg.nl-m-t-40 SIGN UP



