header.nl-header-log
    div.nl-header-top
        div.container-fluid
            div.row
                div.col-lg-7.nl-header-top--left
                    div.row.nl-h100
                        div.col-lg-2
                            div.nl-logotype
                                a(href="index.html")
                                    img(src="assets/img/logotype.svg" alt="NO Limit")
                        div.col-lg-10.align-self-center
                            div.nl-title The worlds first crypto fantasy sports
                div.col-lg-5.nl-header-top--right
                    div.nl-profile
                        div.nl-profile--avatar
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                        div.nl-profile--data
                            div.name Name
                            div.settings
                                a(href="#")
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                a(href="#")
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                a(href="#")
                                    <i class="fa fa-bell" aria-hidden="true"></i>


                    div.nl-balance
                        div.nl-balance--logo
                            a(href="index.html")
                                img(src="assets/img/nl-logo-header-log.png" alt="NL")
                        div.nl-balance--data
                            div.title balance
                            div.sub-title 20023 NLC2
                            div.data 1 NLC2=00345 btc


                    div.nl-btn-control
                        div.nl-btn-group
                            div.btn.btn-primary.btn-big-radius.btn-block Buy NLC2
                            div.btn.btn-big-radius.btn-block logout

            div.row
                div.col-12.p-0
                    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
                        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                            span.navbar-toggler-icon

                        div.collapse.navbar-collapse(id="navbarSupportedContent")
                            ul.navbar-nav.mr-auto
                                li.nav-item.dropdown
                                    a.nav-link.dropdown-toggle(href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Sport <img src="assets/img/ball.png" alt="#">
                                    div.dropdown-menu(aria-labelledby="dropdownMenuLink")
                                        a.dropdown-item(href="#") Soccer
                                        a.dropdown-item(href="#") Football
                                        a.dropdown-item(href="#") Baseball
                                        a.dropdown-item(href="#") Tennis

                                li.nav-item
                                    a.nav-link(href="#") HOME
                                li.nav-item
                                    a.nav-link(href="#") MY TEAMS+
                                li.nav-item
                                    a.nav-link(href="#") CONTESTS+
                                li.nav-item
                                    a.nav-link(href="#") PLAYERS
                                li.nav-item
                                    a.nav-link(href="#") LIVE SCORES
                                li.nav-item
                                    a.nav-link(href="#") MY DASHBOARD
                                li.nav-item.dropdown
                                    a.nav-link.dropdown-toggle(href="#" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") <img alt="" src="assets/img/flag/USA.png">
                                    div.dropdown-menu(aria-labelledby="dropdownMenuLink2")
                                        a.dropdown-item(href="#") <img alt="" src="assets/img/flag/France.png">
                                        a.dropdown-item(href="#") <img alt="" src="assets/img/flag/Spain.png">
                                        a.dropdown-item(href="#") <img alt="" src="assets/img/flag/Germany.png">
                                        a.dropdown-item(href="#") <img alt="" src="assets/img/flag/USA.png">



