header.nl-header-log
    div.nl-header-top
        div.container-fluid


            div.row
                div.col-12.p-0
                    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
                        button.navbar-toggler.navbar-toggler-right.mob-nav-toggle(type="button"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                            span.navbar-toggler-icon
                        div.row.m-0
                            div.col-lg-7.nl-header-top--left
                                div.row.nl-h100
                                    div.col-lg-2
                                        div.nl-logotype
                                            a(href="index.html")
                                                img(src="assets/img/logotype.png" alt="NO Limit")
                                    div.col-lg-10.align-self-center
                                        div.nl-title The worlds first crypto fantasy sports
                            div.col-lg-5.nl-header-top--right
                                div.nl-profile
                                    div.nl-profile--avatar
                                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                                    div.nl-profile--data
                                        div.name Name
                                        div.settings
                                            a(href="#")
                                                <i class="fa fa-cog" aria-hidden="true"></i>
                                            a(href="#")
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                            a(href="#")
                                                <i class="fa fa-bell" aria-hidden="true"></i>


                                div.nl-balance
                                    div.nl-balance--logo
                                        a(href="index.html")
                                            img(src="assets/img/nl-logo-header-log.png" alt="NL")
                                    div.nl-balance--data
                                        div.title balance
                                        div.sub-title 20023 NLC2
                                        div.data 1 NLC2=00345 btc


                                div.nl-btn-control
                                    div.nl-btn-group
                                        div.btn.btn-primary.btn-big-radius.btn-block Buy NLC2
                                        div.btn.btn-big-radius.btn-block logout

                        div.collapse.navbar-collapse(id="navbarSupportedContent")
                            ul.navbar-nav.mr-auto
                                li.nav-item.hidden-md-down
                                    a.nav-link
                                li.nav-item.dropdown
                                    a.nav-link.dropdown-toggle(href="" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") <span>Sport</span> <img src="assets/img/ball.png" alt="#">
                                    div.sports-selector.dropdown-menu(aria-labelledby="dropdownMenuLink")
                                        a.sport-link.dropdown-item(href="create_team.html" data-sports="soccer") <span>Soccer</span> <img src="assets/img/ball.png" alt="#" class="navbar-nav__sports-img">
                                        a.sport-link.dropdown-item(href="create_team_football.html" data-sports="football") <span>Football</span> <img src="assets/img/ball.png" alt="#" class="navbar-nav__sports-img">
                                        a.sport-link.dropdown-item(href="#" data-sports="baseball") <span>Baseball</span> <img src="assets/img/ball.png" alt="#" class="navbar-nav__sports-img">
                                        a.sport-link.dropdown-item(href="#" data-sports="tennis") <span>Tennis</span> <img src="assets/img/ball.png" alt="#" class="navbar-nav__sports-img">

                                li.nav-item
                                    a.nav-link(href="#") HOME
                                li.nav-item
                                    a.nav-link(href="my_teams.html") MY TEAMS
                                li.nav-item
                                    a.nav-link(href="contests.html") CONTESTS
                                li.nav-item
                                    a.nav-link(href="players.html") PLAYERS
                                li.nav-item
                                    a.nav-link(href="#") LIVE SCORES
                                li.nav-item.dropdown
                                    a.nav-link.dropdown-toggle(href="#" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") MY ACCOUNT
                                    div.dropdown-menu(aria-labelledby="dropdownMenuLink2")
                                        a.dropdown-item(href="edit_profile.html") Profile
                                        a.dropdown-item(href="change_password.html") edit Password
                                        a.dropdown-item(href="#") Friends 
                                        a.dropdown-item(href="my_balances.html") My Balance
                                    
                                li.nav-item.dropdown
                                    a.nav-link.dropdown-toggle(href="#" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") <img alt="" src="assets/img/flag/USA.png">
                                    div.dropdown-menu(aria-labelledby="dropdownMenuLink2")
                                        a.dropdown-item(href="#") French
                                        a.dropdown-item(href="#") <img alt="" src="assets/img/flag/Spain.png">
                                        a.dropdown-item(href="#") <img alt="" src="assets/img/flag/Germany.png">
                                        a.dropdown-item(href="#") <img alt="" src="assets/img/flag/USA.png">


                            div.nl-profile-mobile
                                div.nl-profile--data
                                    p <i class="fa fa-user-circle" aria-hidden="true"></i> Name
                                    p balance: 1 NLC2=00345 btc
                                    div.nl-btn-control
                                        div.btn.btn-primary.btn-big-radius Buy NLC2
                                        div.btn.btn-big-radius logout





