//Navigation Fixed Block
header.nl-header
    div.nl-header--top
        div.container-fluid
            div.row.align-items-start
                div.col-4.col-lg-2
                    div.nl-logotype
                        a(href="index.html")
                            img(src="assets/img/logotype.png" alt="NO Limit")
                div.col-1.col-lg-6
                    div.nl-title The worlds first crypto fantasy sportss
                div.col-12.col-lg-4
                    div.nl-button-login
                        a.btn.btn-primary.nl-m-r-15(href="login.html") Login
                        a.btn(href="register.html") SIGN UP
   //- / div.row.orange-bar
        .col-12.col-lg-12



