#loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h2#loginModalLabel.modal-title Login
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true')
            .modal-body
                form.form-signin
                    .input-group
                        input#inputEmail.form-control(type='email', placeholder='SCREEN NAME OR EMAIL', required='', autofocus='')
                    .input-group
                        input.form-control(type='password', placeholder='PASSWORD', aria-describedby='show')
                        span.show-password.input-group-addon show

                    a(href="#") FORGOT MY PASSWORD



            .modal-footer
                button.btn.btn-primary.btn-block(type='submit') Login
