//- Contains Script Links
script(src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit', async='', defer='')
script(type="text/javascript" src="assets/js/jquery-3.2.1.min.js")
script(type="text/javascript" src="assets/js/owl.carousel.min.js")
script(type="text/javascript" src="assets/js/jquery.fancybox.min.js")
script(type="text/javascript" src="assets/js/tether.min.js")
script(type="text/javascript" src="assets/js/jquery.mCustomScrollbar.js")
script(type="text/javascript" src="assets/js/bootstrap.min.js")
script(type="text/javascript" src="assets/js/common.js")