//- Contains Script Links
script(type="text/javascript" src="assets/js/jquery-3.2.1.min.js")
script(type="text/javascript" src="assets/js/owl.carousel.min.js")
script(type="text/javascript" src="assets/js/jquery.fancybox.min.js")
script(type="text/javascript" src="assets/js/tether.min.js")
script(type="text/javascript" src="assets/js/bootstrap.min.js")
script(type="text/javascript" src="assets/js/common.js")