*{
  box-sizing: border-box;
}

html{
  @include respond-to(wide-tablets){
    @include fontSize(14px);
  }
  @include respond-to(allsmall){
    @include fontSize(14px);
  }
  @include respond-to(handhelds){
    @include fontSize(11px);
  }
}

body {
  @include fontSize(16px);
  @include lineHeight(21px);
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.nl-m-r-15{
  margin-right: calculateRem(15px);
  @include respond-to(wide-tablets){
    margin-right: 0;
  }
}
.nl-p-t-80{
  padding-top: calculateRem(80px);

}

.nl-m-r-80{
  margin-right: calculateRem(80px);
  @include respond-to(allmobile){
    margin-right: calculateRem(20px);
  }
}

.nl-p-b-80{
  padding-bottom: calculateRem(80px);
}

.nl-m-b-14{
  margin-bottom: calculateRem(14px);
}

.nl-m-b-25{
  margin-bottom: calculateRem(25px);
}

.nl-tar{
  text-align: right;
  @include respond-to(allsmall){
    text-align: center;
  }
}

.nl-m-b-225{
  margin-bottom: 2.25rem;
}

.nl-team-600{
  min-width: 620px;
  @include respond-to(allwd){
    //max-width: 100%;
    margin: calculateRem(40px) auto 0;
  }
  @include respond-to(allsmall){
    margin: calculateRem(40px) auto 0;
    min-width: 100%;

  }
}
.nl-team-m600{
  max-width: calc(100% - 620px);
  @include respond-to(allwd){
    max-width: 100%;
  }
  @include respond-to(allsmall){
    max-width: 100%;
  }
}

.nl-no-wrap{
  flex-wrap: nowrap;
  width: calc(100% - 30px);
  @include respond-to(allsmall){
    flex-wrap: wrap;
    width: inherit;
  }
  @include respond-to(allwd){
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
}


.nl-h100{
  height: 100%;
  @include respond-to(allsmall){
    height: inherit;
  }
}


.nl-m-t-40{
  margin-top: calculateRem(40px);
  @include respond-to(allmobile){
    margin-top: calculateRem(20px);
  }
}

.hide{
  display: none;
  @include respond-to(allsmall){
    display: block;
  }
}
.visible{
  display: block;
}
