h1, h2, h3, h4, h5{
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

h2{
  @include fontSize(40px);
  @include lineHeight(45px);
  margin-bottom: calculateRem(50px);
}
.nl-section-subtitle{
  @include fontSize(20px);
  @include lineHeight(25px);
  margin-bottom: calculateRem(30px);
  text-transform: uppercase;
  font-weight: 400;
}
h3{
  @include fontSize(31px);
  @include lineHeight(36px);
}

h4{
  @include fontSize(28px);
  @include lineHeight(32px);
}

h5{
  @include fontSize(22px);
  @include lineHeight(27px);
}

a{
  text-decoration: none;
  color: inherit;
  &:hover, &:focus{
    text-decoration: none;
    color: inherit;
  }
}

p{
  margin-top: 0;
}

ul{

}

.nl-section{
  h1{
    @include fontSize(28px);
    margin-bottom: 1rem;
  }
}

.nl-team-card.table-data-field {
  @include respond-to(allsmall) {
    h3 {
      font-size: 1.3rem;
    }
  }
}
