.mCS-nl-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #dfdfdf; }
.mCS-nl-theme.mCSB_scrollTools .mCSB_draggerRail{ background-color: #607089; }
.mCS-nl-theme.mCSB_scrollTools .mCSB_draggerContainer{background-color: #607089;}
.mCS-nl-theme.mCSB_inside>.mCSB_container{margin: 0;}
