.nl-create-helmet h2 {
    font-size:1.15rem;
	text-align:center;
	margin:0;
}
.nl-create-helmet .pointer {
	cursor:pointer;
}
.nl-create-helmet .helmet-space {
	margin-bottom: 1rem;
}
.nl-create-helmet .col-sm-4 {
    width: 33.33%;
}
.nl-create-helmet .col-sm-3 {
    width: 25%;
}
.nl-create-helmet .letter {
	margin:0.60rem;
	width:30px;
	float:left;
	padding:2px;
	text-align:center;
}
.nl-create-helmet .final-helmet{
margin:1rem;
}
.nl-create-helmet .select-oval {
	position: absolute;
    top: 22%;
    z-index: 1;
    left: 13%;
    width: 30%;
}
.nl-create-helmet .select-letter {
	position: absolute;
    top: 24%;
    z-index: 2;
    left: 19%;
    width: 14%;
}

@media (max-width: 991px) {
.nl-create-helmet .select-oval {
    top: 17%;
    left: 17%;
    width: 30%;
}
.nl-create-helmet .select-letter {
    top: 18.5%;
    left: 24%;
    width: 13%;
}
}
@media (max-width: 576px) {
.nl-create-helmet .select-oval {
    top: 21%;
    left: 17%;
    width: 30%;
}
.nl-create-helmet .select-letter {
    top:23.5%;
    left: 24%;
    width: 13%;
}
}