doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        title= title

        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        include _partials/styles.jade

    body
        .nl-wrapper
            //include _partials/preloader.jade
            //include _partials/header-form.jade
            include _partials/header-log.jade
            main
                include _content/friends-content


            include _partials/footer-log.jade
        include _partials/scripts.jade




