doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        title= title

        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        include _partials/styles.jade

    body
        //include _partials/preloader.jade
        include _partials/header.jade
        main
            include _content/_index/nl-section-start-winning
            include _content/_index/nl-section-blockchain
            include _content/_index/nl-section-variety
            include _content/_index/nl-section-works
            include _content/_index/nl-section-learn

        //include _partials/login-modal.jade
        //include _partials/registration-modal.jade
        include _partials/footer.jade
        include _partials/scripts.jade












