@import "base/mixins";

html, body {
  height: 100%;
}

.nl-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  main {
    flex: 1 0 auto;
    display: flex;
  }
  .nl-footer {
    flex: 0 0 auto;
  }

  .contact-wrapper, .login-wrapper, .change-password-wrapper, .edit-profile-wrapper, .nl-my-contests {
    width: 100%;
  }

}

.change-password-wrapper {
  background: url(../img/stadion_full.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 6rem 0;

  .center-div {
    max-width: 1200px;
    margin: 0 auto;
  }

  button.btn.btn-primary {
    font-weight: 600;
  }
  .show-password {
    font-size: 0.75rem;
  }

  button.btn.btn-primary {
    font-size: 11px;
  }

}

#changePasswordSection {

  .block-content {
    box-shadow: none;
  }
  .block-header {

    background-color: transparent;
    color: #061540;
    padding: 1rem;
    position: relative;

    h2 {
      color: #061540;
    }
  }

  .block-header, .block-footer {
    border: none;
  }
  .block-body, .block-footer {
    background-color: transparent;
  }

  .block-body {
    height: 100%;
    padding: calculateRem(25px) calculateRem(100px) 0;
    @include respond-to(allsmall) {
      padding: 0.5rem 1.25rem 0;
    }
    input {
      width: 100%;
      border-top-right-radius: 0.3rem;
      border-top-left-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;
      height: calculateRem(45px);
      font-size: 0.75rem;
      margin-bottom: calculateRem(20px);
      @include respond-to(allsmall) {
        width: 100%;
      }
    }

    a {
      text-decoration: underline;
      color: #fb8700;
    }
  }
  .block-footer {
    padding: calculateRem(23px) 0;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;

    button {
      width: calculateRem(178px);
      margin: 0 auto;
      font-size: 11px;
    }
  }

}

.edit-profile-wrapper {
  background: url(../img/stadion_full.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 6rem 0;

  .center-div {
    max-width: 1200px;
    margin: 0 auto;
  }

  button.btn.btn-primary {
    font-weight: 600;
  }
  .show-password {
    font-size: 0.75rem;
  }

  button.btn.btn-primary {
    font-size: 11px;
  }

}

#editProfileSection {

  .block-content {
    box-shadow: none;
  }
  .block-header {

    background-color: transparent;
    color: #061540;
    padding: 1rem;
    position: relative;

    h2 {
      color: #061540;
    }
  }

  .block-header, .block-footer {
    border: none;
  }
  .block-body, .block-footer {
    background-color: transparent;
  }

  .block-body {

    label{
      color: #061540;
    }

    height: 100%;
    padding: calculateRem(25px) calculateRem(100px) 0;
    @include respond-to(allsmall) {
      padding: 0.5rem 1.25rem 0;
    }
    input, select {
      width: 100%;
      border-top-right-radius: 0.3rem;
      border-top-left-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;
      height: calculateRem(45px);
      font-size: 0.75rem;
      margin-bottom: calculateRem(20px);
      @include respond-to(allsmall) {
        width: 100%;
      }
    }

    a {
      text-decoration: underline;
      color: #fb8700;
    }
  }
  .block-copy-link{
    padding: calculateRem(23px) calculateRem(25px) calculateRem(16px);
    background-color: transparent;


    .nl-copy-wrapper{
      padding-left: calculateRem(53px);
      position: relative;
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: calculateRem(28px);
        height: calculateRem(27px);
      }
      p{
        color: #061540;
        font-size: calculateRem(14px);
      }

    }

  }

  .block-checkbox{
    input{
      display: inline-block;
      vertical-align: middle;
      width: calculateRem(27px);
      height: calculateRem(26px);
      margin: 0;
    }
    span{
      margin-left:calculateRem(15px);
      vertical-align: middle;
      color:  #061540;
    }
  }

  .block-footer {
    padding: calculateRem(23px) 0;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;

    button {
      width: calculateRem(178px);
      margin: 0 auto;
      font-size: 11px;
    }
  }

}
