h5.text-center.visible-xxs.subtitle.position TOP 5
	span Tight ends
h5.hidden-xxs.subtitle TOP 5
	span.position-subtitle 
		.dropdown.player-position
			button.btn.btn-primary(type='button', data-toggle='dropdown')
				h5 Running Back
					i.fa.fa-caret-down
			ul.dropdown-menu(id="dropdown-in-player", role='menu', aria-labelledby='player-position')
				li(role='presentation')
					a(role='menuitem', tabindex='-1', value="#RB") Running Back
				li(role='presentation')
					a(role='menuitem', tabindex='-1', value='#WR') Wide Receiver
				li(role='presentation')
					a(role='menuitem', tabindex='-1', value='#QB') Quarterback
				li(role='presentation')
					a(role='menuitem', tabindex='-1', value='#FLEX') Flex
				li(role='presentation')
					a(role='menuitem', tabindex='-1', value='#DEF') Defense
				li(role='presentation')
					a(role='menuitem', tabindex='-1', value='#K') Kicker
				li(role='presentation')
					a(role='menuitem', tabindex='-1', value='#TE') Tight Ends

#playerModal.modal.fade(role='dialog')
	.modal-dialog.modal-sm
		.modal-content
			.modal-header
				h4 Positions
				a.close.pull-right(type='button', data-dismiss='modal')
					img(src="assets/img/close_btn.png", alt="")
			.modal-body(role='menu', aria-labelledby='player-position')
				div.modal-menu(role='presentation')
					a(data-dismiss='modal', role='menuitem', tabindex='-1', value="#RB") Running Back
				div.modal-menu(role='presentation')
					a(data-dismiss='modal', role='menuitem', tabindex='-1', value='#WR') Wide Receiver
				div.modal-menu(role='presentation')
					a(data-dismiss='modal', role='menuitem', tabindex='-1', value='#QB') Quarterback
				div.modal-menu(role='presentation')
					a(data-dismiss='modal', role='menuitem', tabindex='-1', value='#FLEX') Flex
				div.modal-menu(role='presentation')
					a(data-dismiss='modal', role='menuitem', tabindex='-1', value='#DEF') Defense
				div.modal-menu(role='presentation')
					a(data-dismiss='modal', role='menuitem', tabindex='-1', value='#K') Kicker
				div.modal-menu(role='presentation')
					a(data-dismiss='modal', role='menuitem', tabindex='-1', value='#TE') Tight Ends

div.row
	button.mobile-menu.dropdown(type='button', data-toggle='modal', data-target='#weekModal') Choose Position
	div.mobile-menu.active(data-target="#carouselTop5Players" data-slide-to="0")
		div.number
			p.rank-player-top5 1
		p.name-top5 Matt Ryan1
div.row
	div.mobile-menu.active(data-target="#carouselTop5Players" data-slide-to="1")                
		div.number
			p.rank-player-top5 2
		p.name-top5 Matt Ryan2
	div.mobile-menu.active(data-target="#carouselTop5Players" data-slide-to="2")                
		div.number
			p.rank-player-top5 3
		p.name-top5 Matt Ryan3
div.row
	div.mobile-menu.active(data-target="#carouselTop5Players" data-slide-to="3")                
		div.number
			p.rank-player-top5 4
		p.name-top5 Matt Ryan4
	div.mobile-menu.active(data-target="#carouselTop5Players" data-slide-to="4")                
		div.number
			p.rank-player-top5 5
		p.name-top5 Matt Ryan5

div.tab-content(id="top5-player-content")
	div(role='tabpanel' class='tab-pane active top-level-panel' id='RB')
		div.content
			div.row
				div.col-lg-12.menubar
					div#carouselTop5Players.carousel.slide(data-ride='carousel') 
						ul.nav.menu(role="tablist")
							li.nav-item
								a.active(href="" data-target="#carouselTop5Players" data-slide-to="0")
									div.menu-item.top-5
										div.players 
											div.player-thumbnail.top-5-images
											div.number
												p 1
											div.player-thumbnail-name
												p MattRyan1
							li.nav-item
								a.active(href="" data-target="#carouselTop5Players" data-slide-to="1")
									div.menu-item.top-5
										div.players 
											div.player-thumbnail.top-5-images
											div.number
												p 2
											div.player-thumbnail-name
												p Matt Ryan2
							li.nav-item
								a.active(href="" data-target="#carouselTop5Players" data-slide-to="2")
									div.menu-item.top-5
										div.players 
											div.player-thumbnail.top-5-images
											div.number
												p 3
											div.player-thumbnail-name
												p Matt Ryan3
							li.nav-item
								a.active(href="" data-target="#carouselTop5Players" data-slide-to="3")
									div.menu-item.top-5
										div.players 
											div.player-thumbnail.top-5-images
											div.number
												p 4
											div.player-thumbnail-name
												p Matt Ryan4
							li.nav-item
								a.active(href="" data-target="#carouselTop5Players" data-slide-to="4")
									div.menu-item.top-5
										div.players 
											div.player-thumbnail.top-5-images
											div.number
												p 5
											div.player-thumbnail-name
												p Matt Ryan5
						div.carousel-inner
							div.carousel-item.active
								div.tab-content
									div#player1.tab-pane.active(role="tabpanel")
										div.row.player
											div.player-image
												div.player-image-inner
													div.number
														p 1
													div.name
														p Matt Ryan 1
													p.points 121 PTS 
											div.player-info
												p FP points
												h5 121.5
												p Salary
												h5 $7100
												p Team Name
												h5 Barcelona
												p More info 
												i.fa.fa-info-circle 
							div.carousel-item
								div.tab-content
									div#player1.tab-pane.active(role="tabpanel")
										div.row.player
											div.player-image
												div.player-image-inner
													div.number
														p 2
													div.name
														p Kasper Aarts
													p.points 121 PTS 
											div.player-info
												p FP points
												h5 121.5
												p Salary
												h5 $7100
												p Team Name
												h5 Barcelona
												p More info 
												i.fa.fa-info-circle 
							div.carousel-item
								div.tab-content
									div#player1.tab-pane.active(role="tabpanel")
										div.row.player
											div.player-image
												div.player-image-inner
													div.number
														p 3
													div.name
														p Dan NLC2
													p.points 121 PTS 
											div.player-info
												p FP points
												h5 121.5
												p Salary
												h5 $7100
												p Team Name
												h5 Barcelona
												p More info 
												i.fa.fa-info-circle 
							div.carousel-item
								div.tab-content
									div#player1.tab-pane.active(role="tabpanel")
										div.row.player
											div.player-image
												div.player-image-inner
													div.number
														p 4
													div.name
														p Anthony NLC2
													p.points 121 PTS 
											div.player-info
												p FP points
												h5 121.5
												p Salary
												h5 $7100
												p Team Name
												h5 Barcelona
												p More info 
												i.fa.fa-info-circle 
							div.carousel-item
								div.tab-content
									div#player1.tab-pane.active(role="tabpanel")
										div.row.player
											div.player-image
												div.player-image-inner
													div.number
														p 5
													div.name
														p XP NLC2
													p.points 121 PTS 
											div.player-info
												p FP points
												h5 121.5
												p Salary
												h5 $7100
												p Team Name
												h5 Barcelona
												p More info 
												i.fa.fa-info-circle 


	
	div(role='tabpanel' class='tab-pane top-level-panel' id='WR')
		p WR
	div(role='tabpanel' class='tab-pane top-level-panel' id='QB')
		p QB
	div(role='tabpanel' class='tab-pane top-level-panel' id='TE')
		p TE
	div(role='tabpanel' class='tab-pane top-level-panel' id='FLEX')
		p FLEX
	div(role='tabpanel' class='tab-pane top-level-panel' id='K')
		p K
	div(role='tabpanel' class='tab-pane top-level-panel' id='DEF')
		p DEF

script(type='text/javascript').
	$("#dropdown-in-player li a").click(function(){
		$(this).parents(".dropdown").find('.btn').html($(this).text() + '<i class="fa fa-caret-down"></i>');
		$(this).parents(".dropdown").find('.btn').val($(this).data('value'));

		$('#top5-player-content .top-level-panel').hide('tab');
		$($(this).attr('value')).show('tab');
	});
	$(".modal-content .modal-body a").click(function(){
		$('#top5-player-content .top-level-panel').hide('tab');
		$($(this).attr('value')).show('tab');
		$("h5.text-center.visible-xxs.subtitle.position span").html($(this).text());
		$('#playerModal').modal('hide');
	});
	$("ul#dropdown-in-player").hover(function(){
		$("button.btn.btn-primary").css( "box-shadow", "none" );
	});
