h5.text-center.visible-xxs.subtitle TOP 5
	span Managers
	| in 
	span.week Week 3
h5.hidden-xxs.subtitle TOP 5
	span Managers  
	| in
	span 
		.dropdown.week-position
			button.btn.btn-primary(type='button', data-toggle='dropdown') 
				h5 Week 3
					i.fa.fa-caret-down
			ul.dropdown-menu(id="dropdown-in-week")
				li(role='presentation')
					a(role='menuitem', tabindex='-1', value='#week3') Week 3
				li(role='presentation')
					a(role='menuitem', tabindex='-1', value='#week4') Week 4
				li(role='presentation')
					a(role='menuitem', tabindex='-1', value='#week5') Week 5

#weekModal.modal.fade(role='dialog')
	.modal-dialog.modal-sm
		.modal-content
			.modal-header
				h4 Week
				a.close.pull-right(type='button', data-dismiss='modal')
					img(src="assets/img/close_btn.png", alt="")
			.modal-body(role='menu', aria-labelledby='week-position')
				div.modal-menu(role='presentation')
					a(data-dismiss='modal', role='menuitem', tabindex='-1', value="#week3") Week 3
				div.modal-menu(role='presentation')
					a(data-dismiss='modal', role='menuitem', tabindex='-1', value='#week4') Week 4
				div.modal-menu(role='presentation')
					a(data-dismiss='modal', role='menuitem', tabindex='-1', value='#week5') Week 5

div.row
	button.mobile-menu.dropdown(type='button', data-toggle='modal', data-target='#weekModal') Choose Week
	div.mobile-menu.active(data-target="#carouselTop5Managers" data-slide-to="0")
		div.number
			p.rank-player-top5.nr1 1
		div.name-fix
			p.name-top5 Rafael
div.row
	div.mobile-menu.active(data-target="#carouselTop5Managers" data-slide-to="1")                
		div.number
			p.rank-player-top5 2
		div.name-fix
			p.name-top5 Oscar
	div.mobile-menu.active(data-target="#carouselTop5Managers" data-slide-to="2")                
		div.number
			p.rank-player-top5 3
		div.name-fix
			p.name-top5 Dan
div.row
	div.mobile-menu.active(data-target="#carouselTop5Managers" data-slide-to="3")                
		div.number
			p.rank-player-top5 4
		div.name-fix
			p.name-top5 Nicholas
	div.mobile-menu.active(data-target="#carouselTop5Managers" data-slide-to="4")                
		div.number
			p.rank-player-top5 5
		div.name-fix
			p.name-top5 Anthony

div.tab-content(id="top5-manager-content")
	div(role='tabpanel' class='tab-pane active top-level-panel2' id='week3')
		div.content
			div.row
				div.col-12.col-lg-12.offset-lg-0.no-padding
					div#carouselTop5Managers.carousel.slide(data-ride='carousel') 
						ul.nav.menu(role="tablist")
							li.nav-item
								a.active(href="" data-target="#carouselTop5Managers" data-slide-to="0")
									div.menu-item.top-5
										div.players 
											#top5-managers-nav(style='display: block;')
												img#top-manager-nav(src='assets/img/about/person1.png', style='display: block;')
											div.number
												p 1
											div.manager-thumbnail-name
												p Rafael
												p.orange 121 PTS
							li.nav-item
								a(href="" data-target="#carouselTop5Managers" data-slide-to="1" )
									div.menu-item.top-5
										div.players 
											#top5-managers-nav(style='display: block;')
												img#top-manager-nav(src='assets/img/about/person11.png', style='display: block;')
											div.number
												p 2
											div.manager-thumbnail-name
												p Oscar
												p.orange 121 PTS
							li.nav-item
								a(href="" data-target="#carouselTop5Managers" data-slide-to="2" )
									div.menu-item.top-5
										div.players 
											#top5-managers-nav(style='display: block;')
												img#top-manager-nav(src='assets/img/about/person10.png', style='display: block;')
											div.number
												p 3
											div.manager-thumbnail-name
												p Dan
												p.orange 121 PTS
							li.nav-item
								a(href="" data-target="#carouselTop5Managers" data-slide-to="3" )
									div.menu-item.top-5
										div.players 
											#top5-managers-nav(style='display: block;')
												img#top-manager-nav(src='assets/img/about/person4.png', style='display: block;')
											div.number
												p 4
											div.manager-thumbnail-name
												p Nicholas
												p.orange 121 PTS
							li.nav-item
								a(href="" data-target="#carouselTop5Managers" data-slide-to="4" )
									div.menu-item.top-5
										div.players 
											#top5-managers-nav(style='display: block;')
												img#top-manager-nav(src='assets/img/about/person5.png', style='display: block;')
											div.number
												p 5
											div.manager-thumbnail-name
												p Anthony
												p.orange 121 PTS

						div.carousel-inner
							div.carousel-item.active
								div.tab-content
									div#manager1.tab-pane.active(role="tabpanel")
										div.row.player
											div.col-12.col-xs-5.hidden-md-down.col-lg-5.no-padding
												#top5-managers-picture(style='display: block;')
													img#top-manager(src='assets/img/about/person1.png', style='display: block;' class="img-fluid")
													div.manager-image-inner
														div.number
															p 1
														div.name
															p Rafael
											div.col-12.col-xs-7.team-list-view.col-sm-6.offset-sm-3.col-lg-7.offset-lg-0
												div.nl-team-list-homepage.nl-my-teams
													.nl-card-wrapper
														.row
															.col-12.no-padding
																div.nl-team-card.table-data-field
																	div.row 
																		div.col-12.orange.no-padding
																			h3 Score: 123
																		div.col-12.no-padding
																			h3 The best NLC2 team!
																	div.row 
																		div.col-10
																			#create-helmet.final-helmet(style='display: block;')
																				img#helmet.helmet-img(src='assets/img/helmet/red-helmet.png', style='display: block;')
																				img#oval.img-fluid.select-oval(src='assets/img/oval/whiteoval.png', style='display: block;')
																				img#letter.img-fluid.select-letter(src='assets/img/letter/n.png', style='display: block;')

														.row
															.col-12.no-padding
																table.table.table-striped.nl-team-list-table
																	thead
																		tr

																			th.name-list-view NAME
																			th POS
																			th FP
																			th SALARY
																			th

																	tbody
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
											div.col-12.hidden-lg-up.col-sm-6.offset-sm-3.hidden-title-bar
												div.manager-image-inner
														div.number
															p 1
														div.name
															p Rafael
							div.carousel-item
								div.tab-content
									div#manager1.tab-pane.active(role="tabpanel")
										div.row.player
											div.col-12.col-xs-5.hidden-md-down.col-lg-5.no-padding
												#top5-managers-picture(style='display: block;')
													img#top-manager(src='assets/img/about/person1.png', style='display: block;' class="img-fluid")
													div.manager-image-inner
														div.number
															p 1
														div.name
															p Rafael
											div.col-12.col-xs-7.team-list-view.col-sm-6.offset-sm-3.col-lg-7.offset-lg-0
												div.nl-team-list-homepage.nl-my-teams
													.nl-card-wrapper
														.row
															.col-12.no-padding
																div.nl-team-card.table-data-field
																	div.row 
																		div.col-12.orange.no-padding
																			h3 Score: 123
																		div.col-12.no-padding
																			h3 The best NLC2 team!
																	div.row 
																		div.col-10
																			#create-helmet.final-helmet(style='display: block;')
																				img#helmet.helmet-img(src='assets/img/helmet/red-helmet.png', style='display: block;')
																				img#oval.img-fluid.select-oval(src='assets/img/oval/whiteoval.png', style='display: block;')
																				img#letter.img-fluid.select-letter(src='assets/img/letter/n.png', style='display: block;')

														.row
															.col-12.no-padding
																table.table.table-striped.nl-team-list-table
																	thead
																		tr

																			th.name-list-view NAME
																			th POS
																			th FP
																			th SALARY
																			th

																	tbody
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
											div.col-12.hidden-lg-up.col-sm-6.offset-sm-3.hidden-title-bar
												div.manager-image-inner
														div.number
															p 1
														div.name
															p Rafael
							div.carousel-item
								div.tab-content
									div#manager1.tab-pane.active(role="tabpanel")
										div.row.player
											div.col-12.col-xs-5.hidden-md-down.col-lg-5.no-padding
												#top5-managers-picture(style='display: block;')
													img#top-manager(src='assets/img/about/person1.png', style='display: block;' class="img-fluid")
													div.manager-image-inner
														div.number
															p 1
														div.name
															p Rafael
											div.col-12.col-xs-7.team-list-view.col-sm-6.offset-sm-3.col-lg-7.offset-lg-0
												div.nl-team-list-homepage.nl-my-teams
													.nl-card-wrapper
														.row
															.col-12.no-padding
																div.nl-team-card.table-data-field
																	div.row 
																		div.col-12.orange.no-padding
																			h3 Score: 123
																		div.col-12.no-padding
																			h3 The best NLC2 team!
																	div.row 
																		div.col-10
																			#create-helmet.final-helmet(style='display: block;')
																				img#helmet.helmet-img(src='assets/img/helmet/red-helmet.png', style='display: block;')
																				img#oval.img-fluid.select-oval(src='assets/img/oval/whiteoval.png', style='display: block;')
																				img#letter.img-fluid.select-letter(src='assets/img/letter/n.png', style='display: block;')

														.row
															.col-12.no-padding
																table.table.table-striped.nl-team-list-table
																	thead
																		tr

																			th.name-list-view NAME
																			th POS
																			th FP
																			th SALARY
																			th

																	tbody
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
											div.col-12.hidden-lg-up.col-sm-6.offset-sm-3.hidden-title-bar
												div.manager-image-inner
														div.number
															p 1
														div.name
															p Rafael
							div.carousel-item
								div.tab-content
									div#manager1.tab-pane.active(role="tabpanel")
										div.row.player
											div.col-12.col-xs-5.hidden-md-down.col-lg-5.no-padding
												#top5-managers-picture(style='display: block;')
													img#top-manager(src='assets/img/about/person1.png', style='display: block;' class="img-fluid")
													div.manager-image-inner
														div.number
															p 1
														div.name
															p Rafael
											div.col-12.col-xs-7.team-list-view.col-sm-6.offset-sm-3.col-lg-7.offset-lg-0
												div.nl-team-list-homepage.nl-my-teams
													.nl-card-wrapper
														.row
															.col-12.no-padding
																div.nl-team-card.table-data-field
																	div.row 
																		div.col-12.orange.no-padding
																			h3 Score: 123
																		div.col-12.no-padding
																			h3 The best NLC2 team!
																	div.row 
																		div.col-10
																			#create-helmet.final-helmet(style='display: block;')
																				img#helmet.helmet-img(src='assets/img/helmet/red-helmet.png', style='display: block;')
																				img#oval.img-fluid.select-oval(src='assets/img/oval/whiteoval.png', style='display: block;')
																				img#letter.img-fluid.select-letter(src='assets/img/letter/n.png', style='display: block;')

														.row
															.col-12.no-padding
																table.table.table-striped.nl-team-list-table
																	thead
																		tr

																			th.name-list-view NAME
																			th POS
																			th FP
																			th SALARY
																			th

																	tbody
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
											div.col-12.hidden-lg-up.col-sm-6.offset-sm-3.hidden-title-bar
												div.manager-image-inner
														div.number
															p 1
														div.name
															p Rafael
							div.carousel-item
								div.tab-content
									div#manager1.tab-pane.active(role="tabpanel")
										div.row.player
											div.col-12.col-xs-5.hidden-md-down.col-lg-5.no-padding
												#top5-managers-picture(style='display: block;')
													img#top-manager(src='assets/img/about/person1.png', style='display: block;' class="img-fluid")
													div.manager-image-inner
														div.number
															p 1
														div.name
															p Rafael
											div.col-12.col-xs-7.team-list-view.col-sm-6.offset-sm-3.col-lg-7.offset-lg-0
												div.nl-team-list-homepage.nl-my-teams
													.nl-card-wrapper
														.row
															.col-12.no-padding
																div.nl-team-card.table-data-field
																	div.row 
																		div.col-12.orange.no-padding
																			h3 Score: 123
																		div.col-12.no-padding
																			h3 The best NLC2 team!
																	div.row 
																		div.col-10
																			#create-helmet.final-helmet(style='display: block;')
																				img#helmet.helmet-img(src='assets/img/helmet/red-helmet.png', style='display: block;')
																				img#oval.img-fluid.select-oval(src='assets/img/oval/whiteoval.png', style='display: block;')
																				img#letter.img-fluid.select-letter(src='assets/img/letter/n.png', style='display: block;')

														.row
															.col-12.no-padding
																table.table.table-striped.nl-team-list-table
																	thead
																		tr

																			th.name-list-view NAME
																			th POS
																			th FP
																			th SALARY
																			th

																	tbody
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
																		tr

																			td Player name
																			td.pos A
																			td 30
																			td $0
											div.col-12.hidden-lg-up.col-sm-6.offset-sm-3.hidden-title-bar
												div.manager-image-inner
														div.number
															p 1
														div.name
															p Rafael

	div(role='tabpanel' class='tab-pane top-level-panel2' id='week4')
		p week 4
	div(role='tabpanel' class='tab-pane top-level-panel2' id='week5')
		p week 5

script(type='text/javascript').
	$("#dropdown-in-week li a").click(function(){
		$(this).parents(".dropdown").find('.btn').html($(this).text() + '<i class="fa fa-caret-down"></i>');
		$(this).parents(".dropdown").find('.btn').val($(this).data('value'));
		$('#top5-manager-content .top-level-panel2').hide('tab');
		$($(this).attr('value')).show('tab');
	});
	$(".modal-content .modal-body a").click(function(){
		$('#top5-manager-content .top-level-panel2').hide('tab');
		$($(this).attr('value')).show('tab');
		$("h5.text-center.visible-xxs.subtitle span.week").html($(this).text());
		$('#weekModal').modal('hide');
	});
	$("ul#dropdown-in-week").hover(function(){
		$("button.btn.btn-primary").css( "box-shadow", "none" );
	});

	

