h5.text-center.visible-xxs.subtitle.position TOP 5
	span Attacker
h5.hidden-xxs.subtitle TOP 5
	span.position-subtitle 
		.dropdown.player-position
			button.btn.btn-primary(type='button', data-toggle='dropdown')
				h5 Attacker
					i.fa.fa-caret-down
			ul.dropdown-menu(id="dropdown-in-player", role='menu', aria-labelledby='player-position')
				li(role='presentation')
					a(role='menuitem', tabindex='-1', value="#A") Attacker
				li(role='presentation')
					a(role='menuitem', tabindex='-1', value='#M') Midfielder
				li(role='presentation')
					a(role='menuitem', tabindex='-1', value='#D') Defender
				li(role='presentation')
					a(role='menuitem', tabindex='-1', value='#GK') Goalkeeper

#playerModal.modal.fade(role='dialog')
	.modal-dialog.modal-sm
		.modal-content
			.modal-header
				h4 Positions
				a.close.pull-right(type='button', data-dismiss='modal')
					img(src="assets/img/close_btn.png", alt="")
			.modal-body(role='menu', aria-labelledby='player-position')
				div.modal-menu(role='presentation')
					a(data-dismiss='modal', role='menuitem', tabindex='-1', value="#A") Attacker
				div.modal-menu(role='presentation')
					a(data-dismiss='modal', role='menuitem', tabindex='-1', value='#M') Midfielder
				div.modal-menu(role='presentation')
					a(data-dismiss='modal', role='menuitem', tabindex='-1', value='#D') Defender
				div.modal-menu(role='presentation')
					a(data-dismiss='modal', role='menuitem', tabindex='-1', value='#GK') Goalkeeper

div.row
	button.mobile-menu.dropdown(type='button', data-toggle='modal', data-target='#playerModal') Choose Position
	div.mobile-menu.active(data-target="#carouselTop5Players" data-slide-to="0")
		div.number
			p.rank-player-top5.nr1 1
		div.name-fix
			p.name-top5 C. Ronaldo
div.row
	div.mobile-menu.active(data-target="#carouselTop5Players" data-slide-to="1")                
		div.number
			p.rank-player-top5 2
		div.name-fix
			p.name-top5 L. Messi
	div.mobile-menu.active(data-target="#carouselTop5Players" data-slide-to="2")                
		div.number
			p.rank-player-top5 3
		div.name-fix
			p.name-top5 S. Ramos
div.row
	div.mobile-menu.active(data-target="#carouselTop5Players" data-slide-to="3")                
		div.number
			p.rank-player-top5 4
		div.name-fix
			p.name-top5 T. Henry
	div.mobile-menu.active(data-target="#carouselTop5Players" data-slide-to="4")                
		div.number
			p.rank-player-top5 5
		div.name-fix
			p.name-top5 A. Robben

div.tab-content(id="top5-player-content")
	div(role='tabpanel' class='tab-pane active top-level-panel' id='RB')
		div.content
			div.row
				div.col-lg-12.menubar
					div#carouselTop5Players.carousel.slide(data-ride='carousel') 
						ul.nav.menu(role="tablist")
							li.nav-item
								a.active(href="" data-target="#carouselTop5Players" data-slide-to="0")
									div.menu-item.top-5
										div.players 
											#top5-players-nav(style='display: block;')
												img#top-player-nav(src='assets/img/ronaldo.png', style='display: block;')
											div.number
												p 1
											div.player-thumbnail-name
												p Ronaldo
											div.points-in-bar
												p.points 121 PTS
							li.nav-item
								a.active(href="" data-target="#carouselTop5Players" data-slide-to="1")
									div.menu-item.top-5
										div.players 
											#top5-players-nav(style='display: block;')
												img#top-player-nav(src='assets/img/messi.png', style='display: block;')
											div.number
												p 2
											div.player-thumbnail-name
												p Messi
											div.points-in-bar
												p.points 121 PTS
							li.nav-item
								a.active(href="" data-target="#carouselTop5Players" data-slide-to="2")
									div.menu-item.top-5
										div.players 
											#top5-players-nav(style='display: block;')
												img#top-player-nav(src='assets/img/ramos.png', style='display: block;')
											div.number
												p 3
											div.player-thumbnail-name
												p Ramos
											div.points-in-bar
												p.points 121 PTS
							li.nav-item
								a.active(href="" data-target="#carouselTop5Players" data-slide-to="3")
									div.menu-item.top-5
										div.players 
											#top5-players-nav(style='display: block;')
												img#top-player-nav(src='assets/img/henry.png', style='display: block;')
											div.number
												p 4
											div.player-thumbnail-name
												p Henry
											div.points-in-bar
												p.points 121 PTS
							li.nav-item
								a.active(href="" data-target="#carouselTop5Players" data-slide-to="4")
									div.menu-item.top-5
										div.players 
											#top5-players-nav(style='display: block;')
												img#top-player-nav(src='assets/img/robben.png', style='display: block;')
											div.number
												p 5
											div.player-thumbnail-name
												p Robben
											div.points-in-bar
												p.points 121 PTS
						div.carousel-inner
							div.carousel-item.active
								div.tab-content
									div#player1.tab-pane.active(role="tabpanel")
										div.row.player
											#top5-players-picture(style='display: block;')
												img#top-player(src='assets/img/ronaldo.png', style='display: block;')
												div.player-image-inner
													div.number
														p 1
													div.name
														p Cristiano Ronaldo
													p.points 121 PTS 
											div.player-info
												p FP points
												h5 121.5
												p Salary
												h5 $7100
												p Team Name
												h5 Barcelona
												p More info 
												i.fa.fa-info-circle 
							div.carousel-item
								div.tab-content
									div#player1.tab-pane.active(role="tabpanel")
										div.row.player
											#top5-players-picture(style='display: block;')
												img#top-player(src='assets/img/messi.png', style='display: block;')
												div.player-image-inner
													div.number
														p 2
													div.name
														p Lionel Messi
													p.points 121 PTS 
											div.player-info
												p FP points
												h5 121.5
												p Salary
												h5 $7100
												p Team Name
												h5 Barcelona
												p More info 
												i.fa.fa-info-circle 
							div.carousel-item
								div.tab-content
									div#player1.tab-pane.active(role="tabpanel")
										div.row.player
											#top5-players-picture(style='display: block;')
												img#top-player(src='assets/img/ramos.png', style='display: block;')
												div.player-image-inner
													div.number
														p 3
													div.name
														p Sergio Ramos
													p.points 121 PTS 
											div.player-info
												p FP points
												h5 121.5
												p Salary
												h5 $7100
												p Team Name
												h5 Barcelona
												p More info 
												i.fa.fa-info-circle 
							div.carousel-item
								div.tab-content
									div#player1.tab-pane.active(role="tabpanel")
										div.row.player
											#top5-players-picture(style='display: block;')
												img#top-player(src='assets/img/henry.png', style='display: block;')
												div.player-image-inner
													div.number
														p 4
													div.name
														p Thierry Henry
													p.points 121 PTS 
											div.player-info
												p FP points
												h5 121.5
												p Salary
												h5 $7100
												p Team Name
												h5 Barcelona
												p More info 
												i.fa.fa-info-circle 
							div.carousel-item
								div.tab-content
									div#player1.tab-pane.active(role="tabpanel")
										div.row.player
											#top5-players-picture(style='display: block;')
												img#top-player(src='assets/img/robben.png', style='display: block;')
												div.player-image-inner
													div.number
														p 5
													div.name
														p Arjen Robben
													p.points 121 PTS 
											div.player-info
												p FP points
												h5 121.5
												p Salary
												h5 $7100
												p Team Name
												h5 Barcelona
												p More info 
												i.fa.fa-info-circle 


	
	div(role='tabpanel' class='tab-pane top-level-panel' id='A')
		p Attacker
	div(role='tabpanel' class='tab-pane top-level-panel' id='M')
		p Midfielder
	div(role='tabpanel' class='tab-pane top-level-panel' id='D')
		p Defender
	div(role='tabpanel' class='tab-pane top-level-panel' id='GK')
		p Goalkeeper


script(type='text/javascript').
	$("#dropdown-in-player li a").click(function(){
		$(this).parents(".dropdown").find('.btn').html($(this).text() + '<i class="fa fa-caret-down"></i>');
		$(this).parents(".dropdown").find('.btn').val($(this).data('value'));

		$('#top5-player-content .top-level-panel').hide('tab');
		$($(this).attr('value')).show('tab');
	});
	$(".modal-content .modal-body a").click(function(){
		$('#top5-player-content .top-level-panel').hide('tab');
		$($(this).attr('value')).show('tab');
		$("h5.text-center.visible-xxs.subtitle.position span").html($(this).text());
		$('#playerModal').modal('hide');
	});
	$("ul#dropdown-in-player").hover(function(){
		$("button.btn.btn-primary").css( "box-shadow", "none" );
	});
