div.row.align-items-center.upcoming-contests
	div.col-md-12
		h5 contests

div.row
	div.col-lg-12.team.no-padding-all-sides
		div.nl-players-table.nl-contests-table.homepage-table

			ul.nav.nav-tabs(role="tablist")
				li.nav-item.smaller-nav
					a.nav-link.active(data-toggle="tab" href="#all" role="tab") NLC2
				li.nav-item.smaller-nav
					a.nav-link(data-toggle="tab" href="#gk" role="tab") Free
				li.nav-item.smaller-nav
					a.nav-link(data-toggle="tab" href="#d" role="tab") Private
				li.nav-item.bigger-nav
					a.nav-link(data-toggle="tab" href="#f" role="tab") My&nbsp;contests


			div.tab-content.rounded-corners
				div.tab-pane.active(id="all" role="tabpanel")
					div.nl-table-responsive
						div.nl-table-mw.homepage-contest-content
							table.table.table-striped
								thead
									tr
										th Contests name
										th Buy In
										th TEAMs
										th week
										th Payout
										th ENTRY
										th Status
							//- div.nl-table-scroll.height-max
							div.nl-table-scroll2
								table.table.table-striped
									tbody
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td

											td.st-full FULL
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td

											td.st-full FULL
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td

											td.st-full FULL
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td
												a(href="enter_contests.html")
													button.btn.btn-primary.btn-sm(type='button') enter
											td STARTED
										tr
											td WK3 Champions League Challenge
											td 10
											td 71/100
											td 3
											td 1000
											td

											td.st-full FULL

				div.tab-pane(id="gk" role="tabpanel") TAB2
				div.tab-pane(id="d" role="tabpanel") TAB3
				div.tab-pane(id="f" role="tabpanel") TAB4

