.nl-footer {

  .btn-footer {
    margin: 0px 2px 5px;
  }

  @include fontSize(11px);
  @include lineHeight(16px);
  color: #fff;
  @include respond-to(allsmall) {
    text-align: center;
  }
  &--top {
    background: #061540;
    padding: calculateRem(20px) calculateRem(100px);
    min-height: calculateRem(140px);
    @include respond-to(medium-display) {
      padding: calculateRem(20px) 15px;
    }
    @include respond-to(wide-tablets) {
      padding: calculateRem(20px) 15px;
    }
    @include respond-to(allsmall) {
      padding: calculateRem(20px) 15px;
    }
  }
  &--button {
    background: #0f254f;
    padding: calculateRem(20px) calculateRem(100px);
    min-height: calculateRem(75px);
    @include respond-to(medium-display) {
      padding: calculateRem(20px) 15px;
    }
    @include respond-to(wide-tablets) {
      padding: calculateRem(20px) 15px;
    }
    @include respond-to(allsmall) {
      padding: calculateRem(20px) 15px;
    }
  }
  .nl-social-icon {
    a {
      margin-left: 15px;
      transition: all .3s;
      display: inline-flex;
      width: calculateRem(30px);
      height: calculateRem(30px);
      border-radius: calculateRem(15px);
      background: #fff;
      color: #061540;
      justify-content: center;
      align-items: center;
      @include fontSize(20px);
      &:first-child {
        margin-left: 0;
      }

      &:hover {
        background: #ff9f2f;
      }
    }
  }
  p {
    margin: inherit;
    @include respond-to(allsmall){
      margin: 1rem 0;
    }
  }

  @include respond-to(allsmall){
    .nl-tar {
      text-align: center;
    }
  }

  @include respond-to(handhelds){
    .btn-charity span {
      font-size: 0.75rem;
    }
  }
}

.sp .nl-footer--button{
  padding-left: calculateRem(30px);
  padding-right: calculateRem(30px);
}
