.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}

#registrationModal {

  .modal-content {
    border-radius: calculateRem(8px);
  }
  .modal-header {
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
    background-color: #fb8700;
    color: #fff;
    padding: calculateRem(50px) 0;
    @include respond-to(allmobile){
      padding: calculateRem(70px) calculateRem(10px) calculateRem(30px);
    }

    h2 {
      margin: 0 auto;
      font-size: calculateRem(65px);
      @include respond-to(allmobile){
        font-size: calculateRem(30px);
      }
    }
    .close {
      background: url(../img/close_btn.png) no-repeat;
      position: absolute;
      top: calculateRem(36px);
      right: calculateRem(20px);
      height: 49px;
      width: 49px;
      opacity: 1;
      outline: none;
      @include respond-to(allmobile){
        top: calculateRem(10px);
        right: calculateRem(10px);
      }
    }
  }

  .modal-header, .modal-footer {
    border: none;
  }
  .modal-body, .modal-footer {
    background-color: #0f254f;
  }

  .modal-body {
    padding: calculateRem(72px) calculateRem(100px) 0;
    @include respond-to(allsmall){
      padding: calculateRem(72px) calculateRem(20px) 0;
    }

    input, select {
      height: calculateRem(60px);
      width: calculateRem(642px);
      border-radius: 0;
      font-size: calculateRem(20px);
      margin-bottom: calculateRem(20px);
      @include respond-to(allsmall){
        width: 100%;
      }
    }

    .input-group {
      position: relative;

    }
    .show-password {
      user-select: none;
      position: absolute;
      top: 50%;
      right: calculateRem(15px);
      transform: translate(0, -50%);
      color: #fb8700;
      cursor: pointer;
      text-transform: uppercase;
    }
    a {
      text-decoration: underline;
      color: #fb8700;
    }

    .check-wrapper{
      font-size: calculateRem(12px);
      position: relative;
      padding-left: calculateRem(50px);
      color: #fff;

      input{
        outline: none;
        height: calculateRem(30px);
        width: calculateRem(30px);
        position: absolute;
        top: 0;
        left: 0;


      }
    }
  }
  .modal-footer {
    padding: calculateRem(58px) 0;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;

    button {
      width: calculateRem(278px);
      margin: 0 auto;
      font-size: calculateRem(28.61px);
    }
  }

}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: calculateRem(842px);
  }
}

.modal-backdrop.show {
  opacity: 0.8;
  background-color: #fff;
}