.nl-blockchain{
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  background: #061540;
  color: #edeeee;
  @include respond-to(allsmall){
    padding-top: calculateRem(30px);
    text-align: center;
  }
  h2{
    margin-bottom: calculateRem(30px);
  }
  img{
    width: 100%;
    position: relative;
    right: calculateRem(-16px);
    display: block;
  }
}