.nl-start-winning{
  background: url(../img/nl-section-start-winning-bg.jpg) 0 0 no-repeat;
  background-size: cover;
  color: #061540;
  text-align: center;
  h2{
    @include fontSize(50px);
    @include lineHeight(60px);
    margin-bottom: 0;
  }
  .btn{
    letter-spacing: 2px;
    margin-top: 50px;
  }
}

.nl-start-win-block{
  margin-top: calculateRem(90px);

  &:before{
    position: absolute;
    content: '1';
    z-index: 2;
    @include fontSize(40px);
    font-weight: 800;
    color: #ffffff;
    background: #ff9f2f;
    border-radius: calculateRem(34px);
    top: calculateRem(-40px);
    left: 50%;
    margin-left: calculateRem(-34px);
    width: calculateRem(68px);
    height:  calculateRem(68px);
    text-align: center;
    line-height: calculateRem(68px);
  }
  &.block1{
    &:before{
      content: '1';
    }
  }
  &.block2{
    &:before{
      content: '2';
    }
  }
  &.block3{
    &:before{
      content: '3';
    }
  }
  &.block4{
    &:before{
      content: '4';
    }
  }

  a{
    width: 100%;
    text-decoration: none;
    display: block;
    position: relative;
    transition: none;
    overflow: hidden;
    margin: 0;
    border-radius: calculateRem(30px);
    padding-top: 40.605%;

&:hover{
  img{
    width: 110%;
    object-fit: cover;
    height: 110%;

  }
  h3{
    background: rgba(#ff9f2f, 0.8);
  }
}

  }
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    transition: all 0.5s;
    object-fit: cover;
    height: 100%;
    //@include respond-to(wide-tablets){
    //  width: auto;
    //  height: 100%;
    //}
  }
  h3{
    position: relative;
    z-index: 2;
    min-height: calculateRem(94px);
    background: rgba(#061540, 0.8);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 38%;
    transition: all 0.5s;
  }

}