.contact-wrapper{
  background: url(../img/stadion_full.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position: bottom;
  color: #121a31;
  padding: 3rem;

}

.contact-title {
  @include respond-to(allsmall){
   padding-left: 5rem;
  }
  @include respond-to(allwide){
    padding-left: 5.6rem;
  }
}

#contactSection {
  position: relative;
  .block-dialog{
    min-height: 0;
  }

  .block-header {

    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;

    //background-color: #142d57;
    color: #fff;
    margin: 0 auto;
    padding: 0.625rem 0;
    position: relative;

    h4 {
      margin: 0 auto;
      font-size: calculateRem(34px);
      text-align: center;
      color: #121a31;
      font-weight: 500;
    }
    .close {
      background: url(../img/close_btn.png) no-repeat;
      position: absolute;
      top: calculateRem(36px);
      right: calculateRem(20px);
      height: 49px;
      width: 49px;
      opacity: 1;
      outline: none;
      @include respond-to(allsmall){
        top: calculateRem(10px);
        right: calculateRem(10px);
      }
    }
  }

  .block-header, .block-footer {
    border: none;
  }
  .block-body, .block-footer {
    //background-color: #061540;
  }

  .block-body {
    height: 100%;
    padding: calculateRem(10px) calculateRem(25px);
    @include respond-to(allsmall){
      padding: calculateRem(10px) calculateRem(10px);
    }

    .nl-contact-group-wrapper{
      position: relative;
      padding-left: calculateRem(50px);
      a{
        text-decoration: none;
        color: #121a31;
        margin-left: 0;
      }
    }

    img{

      margin-top: calculateRem(5px);
      &.address-icon{
        width: calculateRem(33px);
        height: calculateRem(32px);
      }

      &.mail-icon{
        width: calculateRem(33px);
        height: calculateRem(24px);
      }
      position: absolute;
      top: 0;
      left: 0;
    }
    a {
      text-decoration: underline;
      color: #fb8700;
      margin-left: 15px;
    }
    p{
      color: #121a31;
      font-size: calculateRem(24px);
      line-height: 1.4;

    }
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
  }


}

p.ads {
  font-size: 13px;
  //text-align: center;
  //padding-top: 2rem;
  color: #061540;
  line-height: 1.5rem;
  a {
    color: orange;
  }

  @include respond-to(allsmall){
    font-size: 14px;
  }
  @include respond-to(handhelds){
    font-size: 12px;
  }
}

@media (min-width: 576px) {
  .block-dialog {
    max-width: calculateRem(723px);
  }
}

.block-backdrop.show {
  opacity: 0.8;
  background-color: #fff;
}