.nl-faq {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 0;
  background: url(../img/stadion_full.jpg) 0 0 no-repeat fixed;
  background-size: cover;
  color: #061540;

  @include respond-to(allsmall){
    padding: 2.5rem 0 1rem;
  }
  #accordion{
    color: #0d3663;
    h5{
      a{
        position: relative;
        display: flex;
        align-items: center;
        padding-left: calculateRem(70px);
        min-height: calculateRem(46px);
        margin-bottom: calculateRem(25px);
        &:before{
          display: inline-block;
          content: '+';
          @include fontSize(36px);
          font-weight: 700;
          transition: all .3s;
          width: calculateRem(46px);
          height: calculateRem(46px);
          color: #fff;
          background: #e58707;
          border-radius: calculateRem(23px);
          text-align: center;
          line-height: calculateRem(42px);
          //margin: calculateRem(10px) calculateRem(25px) calculateRem(10px) 0 ;
          letter-spacing: 0;
          position: absolute;
          top: 0;
          left: 0;
        }
        &:not(.collapsed){
          &:before{
            content: '-';
          }
        }
      }
    }
    .card-block{
      @include fontSize(18px);
      @include lineHeight(23px);
      padding-left: calculateRem(70px);
      padding-bottom: calculateRem(20px);
      @include respond-to(allsmall){
        padding-left: 0;
      }
      a{
        color: #ff9f2f;
        transition: all .3s;
        &:hover{
          color: #c7710c;
        }
      }

    }
  }
  h2 {
    margin-bottom: calculateRem(25px);
  }
}
