/*general for homepage*/
.nl-section.homepage {
  padding: 1.5rem 3.25rem;
}

.homepage {

  background: url(../img/stadion_full_big_whiter.jpg) 0 0 no-repeat;
  background-size: contain;
  background-size: cover;
  background-position: bottom;
  padding: 6rem 0;

  .nl-team-info {
    max-width: 100%;

    button {
      font-weight: 600;
    }
  }

  .nl-team-info .nl-team-data {
    padding: 0.25rem;
  }

  .nl-create-team {
    padding: 0;
  }

  .custom-select {
    background-size: contain;
  }

  .nl-contests-table .table {
    font-size: 0.75rem;
  }
  .nl-contests-table td:not(:first-child), .nl-contests-table th:not(:first-child) {
      text-align: center !important;
      padding: 0.35rem 0.35rem;
  }


  .manager-section .table td, .manager-section .table th {
    font-size: 11px;
    padding: 0px 3px;
  }

  .manager-info h5 {
    margin-bottom: 0;
    font-size: 1.175rem;
    font-weight: 500;
    line-height: 0.95rem;
  }

  .player-info h5 {
    font-size: 1.175rem;
    line-height: 0.95rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  .manager-info {
    height: 50px;
    padding: 5px 15px 0;

    p {
      font-size: 12px;
    }
  }

  @media screen and (min-width: 1201px) {
    .manager-image {
      width: 40%;
      height: 260px;
    }
  }

  .menu-item .number {
    top: 83px;
  }

  .menu-item .player-thumbnail {
    height: 80px;
  }
    
  .nl-create-team .player-main-block.football {
    min-height: 360px;
    margin-top: 55px;
  }

  .nl-create-team .nl-team-field.football .nl-player-block img {
    max-width: 83px;
  }

  .nl-create-team .player-main-block.football {
    margin-bottom: 15px;
  }

  .nl-my-teams {
    background: none;
  }

  @include respond-to (allwider) {
    .player-image {
      height: 258px;
    }

    .player-info {
      height: 258px;
      padding: 8px 14px;
    }  
  }

  @include respond-to(allsmall) {
    .player-info {
      padding: 14px;
    }
  }

  @include respond-to (wide-tablets) {
    .player-info, .player-image, .manager-image {
        height: 230px;
        padding: 5px 14px;
    }
  }


  @media only screen and (max-width: 991px) and (min-width: 768px) {
    #top5-player-content .player {
      margin: 10px auto 10px auto;
    }
    .player-image {
        height: 216px;
        background-size: contain;
    }
    .manager-image {
      height: 224px;
      background-size: contain;
    }
    .manager-info {
      height: 44px;
    }
    .subtitle {
      margin-bottom: 10px;
    }
    .player-info {
      padding: 14px;
    }
    .nl-my-teams .nl-card-wrapper {
      overflow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  


  /* kaspers update are above here */
  /* kaspers update are above here */
  /* kaspers update are above here */

  .week {
    margin-top: 0;

    @include respond-to(allmobile) {
      margin-top: 30px;
    }
  }

  button:focus {
    outline: none;
  }

  .container-wider {
    margin: 0 auto;
  }

  .player {
    margin-top: 0;
    padding: 0;

    @include respond-to(tablets) {
      margin-top: 20px;
      margin-bottom: 50px;
      padding: 0 30px 0 28px;
    }

    @include respond-to(allwide) {
      margin-top: 20px;
      margin-bottom: 50px;
      padding: 0 30px 0 28px;
    }

    @include respond-to(medium-display) {
      min-height: 310px;
    }
  }


  .player-image {
    background: url(../img/player1.png) top center no-repeat;
    width: 100%;
    height: 180px;
    background-size: 236px 100%;
    margin-top: 20px;
    position: relative;

    @include respond-to(allsmall) {
      width: 60%;
      height: 232px;
      position: relative;
      background-size: contain;
      background-color: transparent;
      margin: 0 auto;
    }

    @include respond-to(wide-tablets) {
      width: 60%;
      height: 230px;
      position: relative;
      background-size: cover;
      background-color: transparent;
      margin: 0 auto;
    }

    @include respond-to(allwider) {
      width: 60%;
      height: 258px;
      position: relative;
      background-size: cover;
      background-color: transparent;
      margin: 0 auto;
    }

    // @include respond-to(wide-tablets) {
    //   margin: 0 auto;
    //   height: 280px;
    // }

    @include respond-to(medium-display) {
      width: 60%;
      //height: 310px;
      position: relative;
      background-size: cover;
      background-color: transparent;
      margin: 0 auto;
    }
  }



  .menu {
    .nav-link {
      padding: 0;
    }
  }

  .menu-item {
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;

    .menu-item {
      display: inline-block;
      width: 20%;
      margin: 0 !important;
      padding: 0 !important;
    }

    .players,
    .managers {
      position: relative;
      padding: 0 5px;

      @include respond-to(allwide) {
        padding: 0 2px;
      }
    }

    .player-thumbnail {
      height: 100px;
      background: url(../img/player1.png) top center no-repeat;
      background-size: cover;
      

      @include respond-to(wide-tablets) {
        height: 55px;
      }

      @include respond-to(medium-display) {
        height: 70px;
      }

      @include respond-to(wide-display) {
        height: 70px;
      }

      @include respond-to(large-display) {
        height: 80px;
      }
    }

    .number {
      position: absolute;
      top: 103px;
      width: 22px;
      height: 22px;
      background: #e89608;
      background: linear-gradient(to bottom, #e89608 0%,#e37606 100%);
      font-size: 15px;
      padding-left: 8px;
      padding-top: 1px;
      display: inline-block;
      margin-top: -3px;
      color: #ffffff;

      @include respond-to(wide-tablets) {
        top: 58px;
        left: 0;
        font-size: 10px;
        width: 18px;
        height: 18px;
      }

      @include respond-to(medium-display) {
        top: 73px;
        left: 2px;
        font-size: 10px;
        width: 18px;
        height: 18px;
      }

      @include respond-to(wide-display) {
        top: 73px;
        left: 2px;
        font-size: 10px;
        width: 18px;
        height: 18px;
      }

      @include respond-to(large-display) {
        top: 83px;
        font-size: 10px;
        width: 18px;
        height: 18px;
      }
    }

    .player-thumbnail-name {
      background: #0f254f;
      color: #ffffff;
      font-size: 12px;
      text-align: center;
      display: inline-block;
      height: 22px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      p {
        padding: 2px 5px 5px 15px;
      }

      @include respond-to(wide-tablets) {
        font-size: 10px;
        height: 18px;

        p {
          padding-left: 20px;
          padding-top: 1px;
        }
      }

      @include respond-to(medium-display) {
        font-size: 10px;
        height: 18px;

        p {
          padding-left: 20px;
          padding-top: 0;
        }
      }

      @include respond-to(wide-display) {
        font-size: 10px;
        height: 18px;

        p {
          padding-left: 20px;
          padding-top: 0;
        }
      }

      @include respond-to(large-display) {
        font-size: 10px;
        height: 18px;

        p {
          padding-left: 20px;
          padding-top: 0;
          margin-top: -2px;
        }
      }
    }
  }

  .dropdown {
  &.player-position,
  &.week-position {
    display: inline-block;

    .btn-primary {
      color: #e89708;
      background-color: transparent;
      background-image: none;
      border-color: transparent;
      width: auto;
      text-align: left;
      margin: 0 auto 0 -35px;
      display: block;
      font-weight: 700;
      font-size: 1.375rem;

      &:active,
      &:hover,
      &:visited {
        border: none !important;
        box-shadow: none !important;
      }
    }

    h5 {
      font-weight: 700;
      display: inline-block;
    }

    .dropdown-menu {
        min-width: 180px;
        padding-left: 8px;
        margin-left: -15px;
        margin-top: -10px;

        &:hover {
          border: 0;
          box-shadow: 0;
        }
      }
    }
  }


  .row {
    @include respond-to(tablets) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .container-wider {

    @include respond-to(allmobile) {
        padding-right: 15px;
        padding-left: 15px;
    }
    @include respond-to(wide-tablets) {
        padding-right: 15px;
        padding-left: 15px;
    }
  }

  .player-info {
    width: 40%;
    background: #0f254f;
    border: 1px solid #0f254f;
    border-radius: 10px 10px 10px 0; 
    color: #ffffff;
    //padding: 14px;
    display: none;
    text-transform: uppercase;

    p {
      color: #e89708;
      margin: 0;
      padding: 0;
      font-size: 13px;
    }

    h5 {
      margin-bottom: 15px;

      @include respond-to(tablets) {
        margin-bottom: 22px;
      }

      @include respond-to(allwide) {
        margin-bottom: 28px;
      }
    }

    i {
      font-size: 24px;
      color: #ffffff;
    }

    @include respond-to(tablets) {
      display: inline-block !important;
    }

    @include respond-to(allwide) {
      display: inline-block !important;
    }
  }

  .player-image-inner,
  .manager-image-inner {
    background: #0f254f;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-transform: uppercase;
    height: 40px;

    @include respond-to(allmobile) {
      width: calc(100% - 50px);
      margin: 0 25px;
    }

    .number {
      display: inline-block;
      width: 30px;
      background: #e89608; /* Old browsers */
      background: linear-gradient(to bottom, #e89608 0%,#e37606 100%);
    }

    .name {
      position: absolute;
        top: 7px;
        left: 60px;

        p {
          font-size: 14px;
          margin-left: -15px;
        }
    }

    p {
      display: inline-block;
      padding: 5px 0 0 8px;
      font-size: 15px;

      &.points {
        color: #e89708;
        float: right;
        padding-right: 10px;
        padding-top: 12px;

        @media screen and (min-width: 768px) {
          display: none;
        }
      }

      &.name {
        padding-top:8px !important;
        padding-left: 10px;
      }
    }

    .number {
      width: 40px;
      height: 40px;
      padding-left: 8px;


      p {
        font-size: 28px;
        padding-top: 12px;
      }
    }
  }

  .upcoming-contests {
    h5 {
      @include respond-to(tablets) {
          padding-left: 15px;
          padding-top: 30px;
      }
    }
  }
}

.sports-options {
  margin-top: 20px;
  margin-bottom: 20px;

  @include respond-to(allsmall) {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .title {
    text-align: right;

    @include respond-to(allsmall) {
      text-align: center;
    }
  }

  .sports-icon {
    margin-top: -8px;
    display: inline-block;
    overflow: hidden;
    text-align: left;

    @include respond-to(allsmall) {
      text-align: center;
      margin: 8px 0 15px 0;
    }

    .sports {
      display: inline-block;
      max-width: 42px;
      margin: 0 3px;
      padding: 0;
      width: auto;


      @include respond-to(allmobile) {
        max-width: 32px;
      }
    }
  }
}

.visible-xxs {
  display: block;

  @include respond-to(tablets) {
    display: none;
  }

  @include respond-to(allwide) {
    display: none;
  }
}

.hidden-xxs {
  display: none;

  @include respond-to(tablets) {
    display: block;
  }

  @include respond-to(allwide) {
    display: block;
  }
}

// .col-lg-6 {
//   &.week,
//   &.position {
//     padding: 0 20px;

//     @include respond-to(wide-tablets) {
//         padding: 0 !important;
//     }
//   }

//   &.field,
//   &.contests {

//     @include respond-to(allwide) {
//         padding-right: 15px;
//         padding-left: 15px;
//     }

//     @include respond-to(medium-display) {
//         padding-right: 30px;
//         padding-left: 30px;
//     }
    
//     @include respond-to(wide-tablets) {
//         max-width: 100% !important;
//         margin: 0 auto 50px auto;
//     }
//   }

//   &.contests {
//     @include respond-to(allmobile) {
//         margin: 40px auto 0 auto;
//     }
//   }

//   &.field {
//     @include respond-to(allmobile) {
//         margin: 80px auto 0 auto;
//     }
//   }
// }

// .container {

//   @include respond-to(wide-tablets) {
//     width: 100%;
//   }

//   @include respond-to(medium-display) {
//     width: 100%;
//     max-width: 1600px;
//   }
// }

.position,
.week {
  
  @include respond-to(allwide) {
    min-height: 500px;
  }

  h5 {
    font-weight: 400;

    &.hidden-xxs {
      font-weight: 700;
    }

    &.visible-xxs {
      font-weight: 700;
    }
  }
}

#top5-player-content,
#top5-manager-content {
  @include respond-to(allmobile) {
    min-height: 200px;
  }

  .nav {
    padding-left: 10px;
    margin-right: -10px;
  }

  .nav-item {
    width: 19.5%;
  }
}

.subtitle {
  text-align: left;

  @include respond-to(tablets) {
    margin-bottom: 25px;
    margin-left: 15px;
    height: 40px;
  }

  @include respond-to(allwide) {
    margin-bottom: 25px;
    margin-left: 15px;
    height: 40px;
  }

  span {
    color: #e89708;
    padding-left: 10px;
    padding-right: 10px;

    i {
      padding-left: 10px;
    }
  }
}



.modal-header {
  color: #ffffff;
  text-transform: uppercase;
}

.modal-content {
  background: #0f254f;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;

  a {
    display: block;
    padding: 5px;
    float: none;
    opacity: 1;
    border-radius: none;
    box-shadow: none;
    background: #e89608; /* Old browsers */
    background: linear-gradient(to bottom, #e89608 0%,#e37606 100%);

  }

  h4 {
    text-align: center;
  }

  .modal-header {
    border: none;
    padding-bottom: 0;

    .close {
      height: 30px;
      width: 30px;
      opacity: 1;

      &.a {
        background: transparent;
      }

      img {
        width: 30px;
        margin-top: -7px;
        padding-right: 5px;
      }
    }
  }
}

.modal-menu {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 5px 0;
  padding: 3px;
  background: #e89608; /* Old browsers */
  background: linear-gradient(to bottom, #e89608 0%,#e37606 100%);

  a {
    text-shadow: none;
  }
}

.mobile-menu {
  width: 49.5%;
  background: #0f254f;
  margin: 1px auto;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  height: 40px;

  .number {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #e89608; /* Old browsers */
    background: linear-gradient(to bottom, #e89608 0%,#e37606 100%);
    padding-top: 3px;
  }

  p {
    display: inline-block;
    padding: 8px 0 0 15px;
  }

  &.dropdown {
    background: #e89608; /* Old browsers */
    background: linear-gradient(to bottom, #e89608 0%,#e37606 100%);
    padding-top: 3px;
    box-shadow: none;
    border: none;

    i {
      float: right;
      padding-right: 20px;
      padding-top: 2px;
      font-size: 22px;
    }
  }

  @include respond-to(tablets) {
    display: none;
  }

  @include respond-to(allwide) {
    display: none;
  }
}

.top-5 {
  text-transform: uppercase;
  display: none;

  @include respond-to(tablets) {
    display: block;
  }

  @include respond-to(allwide) {
    display: block;
  }
}

.top-5-mobile {
  text-transform: uppercase;
  display: block;

  @include respond-to(tablets) {
    display: none;
  }

  @include respond-to(allwide) {
    display: none;
  }
}

#top5-player-content {
  .player {
    @include respond-to(tablets) {
      width: 80%;
      margin: 20px auto 50px auto;
    }
  }
}

/*week or manager*/
.manager-name {
  margin-top: 20px;
}

.manager-image {
  background: url(../img/player1.png) top center no-repeat;
  width: 100%;
  height: 0;
  margin: 0 auto;
  background-size: 236px 100%;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 40%;
    height: 280px;
    position: relative;
    background-size: cover;
    background-color: transparent;
  }

  @media screen and (min-width: 1201px) {
    width: 40%;
    height: 310px;
    position: relative;
    background-size: cover;
    background-color: transparent;
  }

  .manager-image-inner {

    @include respond-to(allmobile) {
      bottom: -40px;
    }
  }
}

.manager {
  padding: 0 18px 0 30px;
  margin-top: 20px;

  @include respond-to(allmobile)  {
    padding: 0;
    margin-top: 48px;
  }
}

.manager-section {
  padding: 0;
  width: 60%;

  @include respond-to(allmobile)  {
    width: 100%;
    margin: 0 25px;
  }
}

.manager-info {
  background: #0f254f;
  color: #ffffff;
  text-transform: uppercase;
  height: 81px;
  padding: 15px;

  p {
    color: #e89708;
    margin: 0;
    padding: 0;
    font-size: 13px;
  }

  h5 {
    margin-bottom: 15px;
  }

  i {
    font-size: 24px;
    color: #e89708;
    padding-left: 20px;
  }

  @include respond-to(handhelds) {
    margin: 20px 0 0 0;
    height: 57px;
    padding: 10px;
  }

  @include respond-to(wide-handhelds) {
    margin: 20px 0 0 0;
    height: 67px;
    padding: 10px;
  }
}

.managed-team {
  float: left;
}

.managed-points {
  float: right;
}

.manager-section {
  .table td, .table th {
    font-size: 12px;
    padding: 1px 3px;
  }
}

.t-playername {
  width: 40%;
}

.t-position,
.t-fp,
.t-salary {
  width: 20%;
}

/*upcoming contests*/
.homepage-table {
  .homepage {
    .tab-content {
      border-radius: 0 !important;
    }
    .table {
      border-radius: 0 !important; 
    }
  }
  .nav-item {
      width: 25%;
      margin: 0;

      @media screen and (min-width: 420px) and (max-width: 499px) {
        width: auto;
        min-width: 65px;
      }

      @media screen and (min-width: 320px) and (max-width: 420px) {
        width: auto;
        min-width: 65px;
      }
  }

  .nav-tabs {
    padding: 10px 10px 0 10px;
    background-color: #1d2d4e;
    margin-bottom: -3px;

    .nav-item:first-child {
      margin-left: 0 !important;
    }
  }
}

.nl-team-info {
  &.my-teams {
    max-width: 100%;

    @include respond-to(allmobile) {
      max-width: 80%;
    }
  }
}

.my-teams-data {
  width: 60%;
  display: inline-block;

  .col-6 {
    color: #e48706;

    span {
      color: #ffffff;
    }
  }

  @include respond-to(allmobile) {
    width: 100%;
    padding-left: 10px;
  }
}

.nl-table-scroll {
  &.height-max {
    max-height: 615px !important;
  }
}

th:nth-child(1),
td:nth-child(1) {
  &.homepage-list-view {
    width: 25%;

    @include respond-to(handhelds) {
      width: 67% !important;
    }
  }
}

th:nth-child(2),
th:nth-child(3),
th:nth-child(4),
td:nth-child(2),
td:nth-child(3),
td:nth-child(4) {
  &.homepage-list-view {
    width: 25%;
    @include respond-to(handhelds) {
      width: 11% !important;
    }
  }
}

.homepage-list-view {
  font-size: 12px !important;
}

// .nl-my-teams {
//   .nl-team-card {
//     padding: 2rem;

//     @include respond-to(allmobile) {
//       padding: 1rem !important;
//     }

//     img {
//       @include respond-to(allmobile) {
//         display: none;
//       }
//     }
//   }
// }
.homepage-table {
  @include respond-to(tablets) {
      padding-right: 15px;
      padding-left: 15px;
  }
  .nl-contests-table {
    th:nth-child(1),
    td:nth-child(1) {
      width: 30% !important;
    }
  }

  td, th {
    @include respond-to(allmobile) {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.homepage-contest-content {
  th {
    font-size: 0.8rem !important;
  }

  td:nth-child(1) {
    width: 33% !important;
  }

  td:nth-child(2) {
    width: 12% !important;
  }

  td:nth-child(3) {
    width: 10% !important;
  }

  td:nth-child(4) {
    width: 10% !important;
  }

  td:nth-child(5) {
    width: 10% !important;
  }

  td:nth-child(6) {
    width: 15% !important;
  }

  td:nth-child(7) {
    width: 10% !important;
  }

  th:nth-child(1) {
    width: 33% !important;
  }

  th:nth-child(2) {
    width: 12% !important;
  }

  th:nth-child(3) {
    width: 10% !important;
  }

  th:nth-child(4) {
    width: 10% !important;
  }

  th:nth-child(5) {
    width: 10% !important;
  }

  th:nth-child(6) {
    width: 14% !important;
  }

  th:nth-child(7) {
    width: 13% !important;
  }
}

