.login-wrapper{
  background: url(../img/nl-slide-img.jpg) top center no-repeat;
  background-size: cover;
}
#loginSection {
position: relative;
  .block-dialog{
    min-height: 0;
  }

  .block-content {
    border-radius: calculateRem(8px);
  }
  .block-header {
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
    background-color: #fb8700;
    color: #fff;
    padding: calculateRem(50px) 0;
    position: relative;

    h2 {
      margin: 0 auto;
      font-size: calculateRem(65px);
      text-align: center;
    }
    .close {
      background: url(../img/close_btn.png) no-repeat;
      position: absolute;
      top: calculateRem(36px);
      right: calculateRem(20px);
      height: 49px;
      width: 49px;
      opacity: 1;
      outline: none;
      @include respond-to(allsmall){
        top: calculateRem(10px);
        right: calculateRem(10px);
      }
    }
  }

  .block-header, .block-footer {
    border: none;
  }
  .block-body, .block-footer {
    background-color: #1d2d4e;
  }

  .block-body {
    height: 100%;
    padding: calculateRem(72px) calculateRem(100px) 0;
    @include respond-to(allsmall){
      padding: calculateRem(72px) calculateRem(20px) 0;
    }
    input {
      height: calculateRem(60px);
      border-radius: 0;
      font-size: calculateRem(20px);
      margin-bottom: calculateRem(20px);
      @include respond-to(allsmall){
        width: 100%;
      }

    }

    .input-group {
      position: relative;

    }
    .show-password {
      user-select: none;
      position: absolute;
      top: 50%;
      right: calculateRem(15px);
      transform: translate(0, -50%);
      color: #fb8700;
      cursor: pointer;
      text-transform: uppercase;
    }
    a {
      text-decoration: underline;
      color: #fb8700;
    }
  }
  .block-footer {
    padding: calculateRem(58px) 0;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;

    button {
      width: calculateRem(278px);
      margin: 0 auto;
      font-size: calculateRem(28.61px);
    }
  }

}

@media (min-width: 576px) {
  .block-dialog {
    max-width: calculateRem(842px);
  }
}

.block-backdrop.show {
  opacity: 0.8;
  background-color: #fff;
}