.login-wrapper{
  // background: url(../img/nl-slide-img.jpg) top center no-repeat;
  // background: url(../img/stadion_detail-no_filter.jpg) 0 0 no-repeat;
  background: url(../img/stadion_full.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 6rem 0;

  button.btn.btn-primary {
    font-weight: 600;
  }
  .show-password {
    font-size: 0.75rem;
  }

  button.btn.btn-primary {
    font-size: 11px;
  }
  .forget-password {
    float: right; 
    color: #fb8700;
    font-size: 0.75rem;
    text-decoration: underline;
  }
}
#loginSection {
position: relative;
  .block-dialog{
    min-height: 0;
  }

  .block-content {
    border-radius: calculateRem(8px);
  }
  .block-header {

    background-color: transparent;
    color: #061540;
    padding: 1rem;
    position: relative;

    h2 {
      margin: 0 auto;
      font-size: 2rem;
      text-align: center;
    }
    .close {
      background: url(../img/close_btn.png) no-repeat;
      position: absolute;
      top: 1.0rem;
      right: 1.25rem;
      height: 49px;
      width: 49px;
      opacity: 1;
      outline: none;
      @include respond-to(allsmall){
        top: calculateRem(10px);
        right: calculateRem(10px);
      }
    }
  }

  .block-header, .block-footer {
    border: none;
  }
  .block-body {
    background-color: transparent;
  }

  .block-footer {
    background-color: transparent;
  }

  .block-body {
    height: 100%;
    padding: 0.5rem 6.25rem 0;
    @include respond-to(allsmall){
      padding: calculateRem(72px) calculateRem(20px) 0;
    }
    input {
      border-top-right-radius: 0.3rem;
      border-top-left-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;
      height: calculateRem(45px);
      // border: 0;
      font-size: 0.75rem;
      margin-bottom: calculateRem(20px);
      @include respond-to(allsmall){
        width: 100%;
      }

    }

    .input-group {
      position: relative;

    }
    .show-password {
      user-select: none;
      position: absolute;
      top: 50%;
      right: calculateRem(15px);
      transform: translate(0, -50%);
      color: #fb8700;
      cursor: pointer;
      text-transform: uppercase;
    }
    a {
      text-decoration: underline;
      color: #fb8700;
    }
  }
  .block-footer {
    padding: 0.625rem 0;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;

    button {
      width: calculateRem(278px);
      margin: 0 auto;
      font-size: calculateRem(28.61px);
    }
  }

}

@media (min-width: 576px) {
  .block-dialog {
    max-width: calculateRem(842px);
  }
}

.block-backdrop.show {
  opacity: 0.8;
  background-color: #fff;
}