.nl-my-balances {

  background: url(../img/nl-players-bg.jpg) top center no-repeat fixed;
  background-size: cover;

  .nl-my-balances-wrapper {
    max-width: calculateRem(999px);
    margin: 0 auto;
  }

  h2 {
    font-weight: 500;
    text-align: center;
    font-size: calculateRem(34px);
    color: #061540;
    margin-top: calculateRem(20px);
    margin-bottom: calculateRem(17px);
  }

  .quote-wrapper {
    margin-bottom: calculateRem(30px);
    border-radius: 10px;
    padding: calculateRem(20px);
    background-color: #142d57;
    p {
      margin: 0;
      font-size: calculateRem(24px);
      color: #fff;
      .value {
        color: #ff9f2f;
        margin-left: calculateRem(15px);
      }
    }
  }

}

.balance-table {

  margin-bottom: calculateRem(30px);

  overflow: hidden;
  th:not(:first-child), td:not(:first-child) {
    text-align: left;
  }

  border-radius: calculateRem(10px);
  thead {
    th {
      padding: calculateRem(20px) 0;
      background-color: #142d57;
      color: #ff9f2f;
      font-size: calculateRem(20px);
      font-weight: 400;

      @include respond-to(allsmall){
        font-size: calculateRem(15px);
      }
    }

  }
  tbody {
    background-color: #061540;
    color: #fff;
    font-weight: 400;
    font-size: calculateRem(18px);
    @include respond-to(allsmall){
      font-size: calculateRem(15px);
    }
    td {
      padding: calculateRem(30px) 0;
      &:first-child {
        padding: 0 calculateRem(30px);
      }
    }

    img {
      width: calculateRem(30px);
      height: calculateRem(41px);
      margin-right: calculateRem(17px);
    }

  }
}


.nl-balances-btn-wrapper{
  padding: 0 calculateRem(84px);
  display: flex;
  justify-content: space-around;
  
  .dark{
    border-color: #061540;
    background-color: #061540;
  }

  @include respond-to(allsmall){
   flex-direction: column;
    button{
      margin-bottom: calculateRem(15px);
    }
  }
}