.nl-create-team {
  padding-left: calculateRem(30px);
  padding-right: calculateRem(30px);
  padding-bottom: calculateRem(50px);
  padding-top: calculateRem(30px);
  @include respond-to(allsmall){
    padding-left: 0;
    padding-right: 0;
  }
}

.nl-create-team-table {

  .nl-players-search {
    min-width: calculateRem(300px);

    @include respond-to(tablets) {
      position: absolute;
      top: 2rem;
      right: 1.5rem;
    }

    @media (min-width: 1441px) and (max-width:2000px) {
      position: absolute;
      top: 2rem;
      right: 1.5rem;
    }
  }

  td, th {
    padding: 0.25rem 0.5rem;

    &:first-child {
      text-align: center;
    }
    &:last-child {
      a {
        display: flex;
        justify-content: center;

      }
    }
  }

  td:not(:first-child), .table th:not(:first-child) {
    text-align: center;
  }

  .nl-desc-table tbody tr td,
  .nl-desc-table thead tr th {

    @include respond-to(allwide) {
      //float: left;
      //width: 10% !important;
      &:nth-child(1) {
        width: 8%;
        min-width: 90px;
      }
      &:nth-child(2) {
        width: 24%;
        text-align: left;
      }
      &:nth-child(3) {
        width: 10%;
      }
      &:nth-child(4) {
        width: 6%;
      }
      &:nth-child(5) {
        width: 7%;
      }
      &:nth-child(6) {
        width: 7%;
      }
      &:nth-child(7) {
        width: 8%;
      }
      &:nth-child(8) {
        width: 8%;
      }
      &:nth-child(9) {
        width: 14%;
      }
      &:nth-child(10) {
        width: 8%;
      }
    }
  }
  .table-striped {
    tbody tr {
      &:hover {

      }
    }
  }
}

.nl-team-info {
  background: #142d57;
  color: #fff;
  @include fontSize(15px);
  text-transform: uppercase;
  font-weight: 600;
  overflow: hidden;
  border-radius: calculateRem(10px);
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
  .nl-team-name {
    width: 100%;
    background: #121a31;
    color: #e48706;
    @include fontSize(21px);
    font-weight: 700;
    text-align: center;
    padding: calculateRem(20px);

  }
  .nl-team-data {
    padding: calculateRem(20px) calculateRem(20px);
    span {
      font-weight: 500;
      &.avalibe {
        color: #e48706;
      }
    }
  }

  @include respond-to(allmobile) {
    max-width: 100%;
  }
}

.nl-team-button {
  text-align: center;
  margin: calculateRem(20px) 0;
  .btn-team {
    margin: calculateRem(5px);
      @include respond-to(allsmall){
        display: none;
      }
  }
}

.nl-team-field {
  background: url(../img/nl-soccer-field.png) no-repeat 0 0;
  background-size: contain;
  min-width: 100%;
  min-height: 573px;
  background-size: 100% 100%;

  &.football{
    background: url(../img/football/nl-football-field.png) no-repeat 0 0;
    background-size: contain;
    min-height: 420px;
    background-size: 100% 100%;
    .nl-player-block{
      img{
        max-width: 115px;
         @include respond-to(wide-tablets){
          max-width: 90px;
        }
      }
    }
  }
  @include respond-to(allsmall){
    display: none;
  }
  .goalkeeper-line {
    position: relative;
  }
  .nl-player-block {
    position: absolute;
    max-width: 105px;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    p{
      margin: 0;
      line-height: 15px
    }
    img {
      max-width: 60px;
    }
    &--data{
      background: #253046;
      position: relative;
      min-width: 95px;
      padding: 2px;
      .btn-player-close{
        position: absolute;
        top: -16px;
        right: -10px;
        background: red;
        color: #fff;
      }
      .data{
        display: flex;
        justify-content: space-between;
        span:first-child{
          color: #df920b;
        }
      }
    }

  }
}

.player-main-block{
  width: 100%;
  height: 100%;
  min-height: 563px;
  position: relative;
  .nl-G-position{
    bottom: 6.5%;
    left: 43%;
  }

  .nl-DL-position{
    bottom: 28.5%;
    left: 24%;
  }
  .nl-DR-position{
    bottom: 28.5%;
    right: 24%;
  }
  .nl-DAL-position{
    bottom: 35%;
    left: 7%;
  }
  .nl-DAR-position{
    bottom: 35%;
    right: 6%;
  }
  .nl-CM-position{
    bottom: 42%;
    left: 43%;
  }

  .nl-ST-position{
    top: 2.5%;
    left: 43%;
  }

  .nl-LS-position{
    top: 2.5%;
    left: 17%;
  }

  .nl-RS-position{
    top: 2.5%;
    right: 17%;
  }

  .nl-LWM-position{
    top: 25%;
    left: 25%;
  }

  .nl-RWM-position{
    top: 25%;
    right: 25%;
  }

  &.football{
    min-height: 511px;
    margin-top: 80px;
    margin-bottom: 30px;
    .nl-FLEX-position{
      bottom: 8.8%;
      right: 7%;
    }
    .nl-K-position{
      bottom: 20%;
      left: 43%;
    }
    .nl-LRB-position{
      bottom: 46%;
      left: 23.5%;
    }
    .nl-RRB-position{
      bottom: 41%;
      right: 19.5%;
    }
    .nl-QB-position{
      top: 15%;
      left: 43%;
    }
    .nl-LWR-position{
      top: -1%;
      left: 18%;
    }
    .nl-RWR-position{
      top: 5%;
      right: 15%;
    }
    .nl-TE-position{
      top: -11%;
      right: 34%;
    }
    .nl-team-logo-position{
      bottom: 8.8%;
      left: 13%;
      img{
        max-width: inherit;
      }
    }
  }
}

.nl-team-list{
  max-width: calculateRem(500px);
  margin: 0 auto;
  padding: 0;

  @include respond-to(allmobile) {
    max-width: 100%;
  }
}

/* country-selector
---------------------------------------- */
.country-selector {

  .nav-item {

    &:first-child {
      margin-left: 0;

      @include respond-to(allsmall){
        margin-left: 0.5rem;
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    margin-left: calculateRem(16px);

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 1px 12px rgba(0,0,0,0.4);
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    &:hover:after {
      opacity: 1;
    }

    &:active:after {
      transition: all 0.3s ease-in-out;
      box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.1);
    }
  }
}

/*
---------------------------------------- */
.nl-players-filter {
  margin: 0 0 calculateRem(20px);
}

/* Table create team - toggle view
---------------------------------------- */
.nl-my-teams .nl-team-list-table {

  th, td{
    &:nth-child(1){
      width: 40%;
      padding-left: 1.5rem;
    }
    &:nth-child(2){
      width: 12%;
    }
    &:nth-child(3){
      width: 12%;
    }
    &:nth-child(4){
      width: 12%;
    }
    &:nth-child(5){
      width: 20%;
    }
  }
}
