.nl-my-teams{
  background: url(../img/nl-players-bg.jpg) top center no-repeat fixed;
  background-size: cover;
  color: #121a31;
  padding-bottom: calculateRem(50px);
  padding-top: calculateRem(40px);
  @include respond-to(wide-tablets){
    padding-left: calculateRem(30px);
    padding-right: calculateRem(30px);
  }

  .btn-create-team{
    font-size: calculateRem(33px);
    margin: 0 0 calculateRem(36px);
  }


  .nl-card-wrapper{
    overflow: hidden;
    box-shadow: 3px 0 7px rgba(0, 0, 0, 0.21);
    border-radius: calculateRem(10px);
    margin-bottom: 2.25rem;
  }

  .nl-status-wrapper{
    display: inline-block;
    background: linear-gradient(to top, #121a31, #1f3658);
    color: #fff;
    overflow: hidden;
    margin-bottom: 2.25rem;
    font-weight: 300;

    ul{
      list-style-type: none;
      margin: 0;
      padding: calculateRem(18px);

      li{
        display: inline-block;
        text-transform: uppercase;
        font-size: calculateRem(20px);

        span{
          vertical-align: middle;
          display: inline-block;
        }

      }
    }

  }


  .indicator{
    width: calculateRem(20px);
    height: calculateRem(20px);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 calculateRem(10px);
  }
  .playing{
    background-color: #2b9c53;
  }
  .played{
    background-color: #6dcff6;
  }
  .not-playing{
    background-color: #e01516;
  }


  .nl-team-card {
    box-shadow: 3px 0 7px rgba(0, 0, 0, 0.21);
    width: 100%;
    padding: calculateRem(24px);
    display: flex;
    background-color: #121a31;
    color: #fff;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    img{
      width: auto;
    }

    &-data-field {
      position: relative;
      padding: calculateRem(25px);
      display: flex;
    }

    .nl-data--avatar{
      position: relative;
      height: calculateRem(74px);
      img{
        width: calculateRem(88px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
        object-fit: cover;
        height: 100%;
      }
    }
    p{
      color: #e89708;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 0;
    }

    .title{
      font-weight: 300;
      color: #fff;
      margin-left: calculateRem(5px);
    }
  }

  .nl-team-card-footer{
    width: 100%;
    background-color: #1d2d4e;
    color: #fff;
    overflow: hidden;
    display: flex;

    &--left{
      padding: calculateRem(20px);
      width: 40%;

    }
    &--right{
      padding: calculateRem(30px) calculateRem(20px) calculateRem(20px) ;
      width: 60%;
      background-color: #1d2d4e;
    }

    .nl-team-card-result{
      //padding: 35px 0;
      text-align: center;


      p{
        color: #e89708;
        text-transform: uppercase;
        font-weight: 700;
        //margin-left: calculateRem(15px);
        margin-bottom: 0;
      }

      .result{
        color: #fff;
        margin-left: calculateRem(10px);
      }
    }


    .nl-team-card-btns{
      //padding-left: calculateRem(25px);
      @include respond-to(wide-display){
        //padding-left: calculateRem(15px);
      }

      button{
        display: block;
        min-width: calculateRem(80px);
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .table{
    max-width: none;
    width: calc(100% + 1px);
    .indicated{
      padding: calculateRem(10px) 0;
    }
    .indicator{
      width: calculateRem(15px);
      height: calculateRem(15px);
    }
    .pos{
      color: #e58607;
    }
  }

  .table td:not(:first-child),.table th{
    text-align: left;
  }

  .table th{
    background-color: #1d2d4e;
    font-size: calculateRem(13px);
  }

  .table th, .table td{
    padding: calculateRem(8px);
  }

}
