.nl-create-team{
  padding-left: calculateRem(30px);
  padding-right: calculateRem(30px);
}

.nl-create-team-table{
  .nl-players-search{
    min-width: calculateRem(200px);
  }

  .nl-desc-table  tbody  tr  td,
  .nl-desc-table  thead  tr  th {
    @include respond-to(allwide) {
      //float: left;
      width: 10% !important;
      //&:nth-child(1) {
      //  width: 17%;
      //}
      //&:nth-child(2) {
      //  width: 7%;
      //}
      //&:nth-child(3) {
      //  width: 7%;
      //}
      //&:nth-child(4) {
      //  width: 12%;
      //}
      //&:nth-child(5) {
      //  width: 7%;
      //}
      //&:nth-child(6) {
      //  width: 6%;
      //}
      //&:nth-child(7) {
      //  width: 8%;
      //}
      //&:nth-child(8) {
      //  width: 5%;
      //}
      //&:nth-child(9) {
      //  width: 9%;
      //}
      //&:nth-child(10) {
      //  width: 10%;
      //}
    }
  }
}