.nl-enter-contests {

	.heading-search__header {
		margin-bottom: 0;
		padding: 1.5rem 0;

    @media (max-width: 768px) {
      margin-left: 0;
    }
	}

  .heading-search__search {

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

	.nl-contest-info-table {
		background-color: #121a31;
	}

	.table-heading {
	    width: 100%;
	    background: #121a31;
	    color: #e48706;
	    font-size: 21px;
	    font-size: 1.3125rem;
	    font-weight: 700;
	    text-align: center;
	    padding: 1.25rem;

      h5 {
        margin-bottom:  0.875rem;
        color: #fff;
      }

      .btn-primary {
        font-size: 1.8rem;
      }
	}

  .nl-team-info,
  .nl-team-list {
    max-width: 100%;
  }

  // temp
  @media (max-width: 768px) {
    #dropdownMenuButton {
      width: 100%;
      margin-bottom: 1.5rem;
      text-align: left;
    }
    .dropdown-toggle::after {
      position: absolute;
      top: 25%;
      right: 0.5rem;
      color: #e48706;
    }
  }
}

.leaders-list {
	p {
		padding: 0 0.25rem;
	}
	p:nth-child(even) {
    padding-bottom: 0.5rem;
	}
}
