
.nl-section {
  padding: calculateRem(80px) 6.25rem;
  @include respond-to(display){
    padding: calculateRem(80px) 0;
  }
  @include respond-to(wide-tablets){
    padding: calculateRem(80px) 0;
  }
  @include respond-to(allsmall){
    padding: calculateRem(80px) 0;
  }

  img{
    width: 100%;
  }

}

@import "index/nl-start-winning";
@import "index/nl-blockchain";
@import "index/nl-variety";
@import "index/nl-works";
@import "index/nl-learn";

