/* Soccer page
---------------------------------------- */

.nl-live-score.soccer {

	.player-main-block {
		min-height: 427px;
		margin-top: 24px;
		margin-bottom: 30px;
	}

	.nl-team-field .nl-player-block img {
		max-width: 50px;
	}

	// .player-main-block .nl-FLEXR-position {
	// 	top: 74%;
	// }

	// .player-main-block .nl-DM-position {
	// 	top: 42%;
	// }

	// .player-main-block .nl-MM-position {
	// 	top: 16%;
	// 	left: 43%;
	// }

	.nl-GK-position{
	  
	   @include respond-to (extra-large-display) {
		bottom: 5.5%;
		left: 42%;
	  }

	  @include respond-to (large-display) {
		bottom: 5.5%;
		left: 40%;
	  }
	  @include respond-to (medium-display) {
		left: 39%;
		bottom: 6.5%;
	  }

	  @include respond-to (wide-display) {
		left: 40%;
		bottom: 4.5%;
	  }

	  @include respond-to (wide-tablets) {
		left: 41%;
		bottom: 4.5%;
	  }
	}

	.nl-DM-position{
	  @include respond-to (extra-large-display) {
		left: 42%;
		bottom: 29.5%;
	  }

	  @include respond-to (large-display) {
		left: 40%;
		bottom: 29.5%;
	  }

	  @include respond-to (wide-display) {
		left: 40%;
		bottom: 29.5%;
	  }

	  @include respond-to (medium-display) {
		bottom: 32%;
		left: 40%;
	  }

	  @include respond-to (wide-tablets) {
		bottom: 33%;
		left: 40%;
	  }
	}

	.nl-MM-position{
	//left: initial;
	  @include respond-to (extra-large-display) {
		bottom: 56%;
		left: 42%;
	  }

	  @include respond-to (large-display) {
		bottom: 56%;
		left: 40%;
	  }
	  @include respond-to (wide-display) {
		left: 40%;
		bottom: 55%;
	  }
	  @include respond-to (medium-display) {
		bottom: 56%;
		left: 40%;
	  }
	  @include respond-to (wide-tablets) {
		bottom: 58%;
		left: 40%;
	  }
	}

	.nl-DL-position{
	  bottom: 30.5%;
	  left: 15%;

	  @include respond-to (medium-display) {
		left: 11%;
	  }
	}
	.nl-DR-position{
	  bottom: 30.5%;
	  right: 15%;

	  @include respond-to (medium-display) {
		right: 11%;
	  }
	}
	.nl-FLEXL-position{
	  bottom: -1%;
	  left: 2%;
	}
	
	.nl-AL-position{
	  top: -4.5%;
	  left: 28%;

	  @include respond-to (wide-tablets) {
		top: -4.5%;
		left: 26%;
	  }
	}

	.nl-AR-position{
	  top: -4.5%;
	  left: 56%;

	  @include respond-to (wide-display) {
		top: -4.5%;
		left: 54%;
	  }
	}

	.nl-FLEXR-position{
	  top: 77%;
	  right: 2%;
	}

	
	.nl-ML-position{
	  top: 18%;
	  left: 12%;

	  @include respond-to (medium-display) {
		top: 21%;
		left: 12%;
	  }

	  @include respond-to (large-display) {
		top: 21%;
	  }

	}
	.nl-MR-position{
	  top: 18%;
	  right: 12%;

	  @include respond-to (medium-display) {
		top: 21%;
		right: 12%;
	  }
	  @include respond-to (large-display) {
		top: 21%;
	  }
	}  

	.nl-team-list-table td {
		padding: 0;
		margin: 0;

		p {
			margin: 0.25rem 0;
		}
	}

	.nl-team-list-table td:first-child {
		text-align: left;
	}

	.nl-my-teams .nl-team-list-table td:nth-child(1) {
		padding-left: 1.5rem;
	}

	.nl-team-list {
		max-width: 27.25rem;
	}
}

/* Matches component
---------------------------------------- */
.matches {
	width: 100%;
	height: 137px;
	overflow-y: hidden;
	overflow-x: scroll;
	margin: 0.25rem 0 1.5rem 0;

	@include respond-to (allnotwide) {
		height: 137px;
	}

	@include respond-to (handhelds) {
		height: 137px;
	}

	&.rounded-corners {
		overflow-y: hidden;
		overflow-x: scroll !important;
	}

	&__scrollarea {
		display: flex;
	}

	&__result {
		flex: 1 0 auto;
		background-color: #607089;
		border: 1px solid #061540;
		color: #fff;
		font-weight: 400;
		font-size: 16px;

		&:first-child {
			border-left: none;
		}

		&:last-child {
			border-right: none;
		}
	}

	&__result-header {
	background-color: #0f254f;
	text-align: center;
	max-width: 150px;
	  overflow-wrap: break-word;
	  word-wrap: break-word;
	  hyphens: auto;

		span {
			color: #fff;
			display: inline-block;
			font-size: 12px;
			padding: calculateRem(4px) calculateRem(8px);
		}
	}

	&__content {
		padding: 0.5rem 0.25rem;
	}

	&__leaders-list {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
		  line-height: 1.6em;
		  margin-bottom: calculateRem(8px);
		  font-weight: 500;
		  font-size: 1rem;

		  img {
			width: 28px;
		  }
		  span {
			float: left;
			padding: calculateRem(2px) calculateRem(4px) calculateRem(0px);
		  }

		  & >span:last-child {
				float: right;
		  }

		  &:last-child {

			// span {
			// 	font-weight: 300;
			// 	float: left;
			// }
		  }
			&:after {
				  content: "";
				  display: table;
				  clear: both;
			}
		}
	}
	@include respond-to(allsmall) {
		margin-bottom: calculateRem(24px);
	}
}

// // Add custom scrollbar and make visible
// .matches::-webkit-scrollbar-track {
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	background-color: #0f254f;
// }

// .matches::-webkit-scrollbar {
// 	width: 6px;
// 	height: 6px;
// }

// .matches::-webkit-scrollbar-thumb {
// 	border-radius: 6px;
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
// 	background-color: #F5F5F5;
// }

/* current-contests
---------------------------------------- */
.current-contents {
	margin: .25rem 0 1.5rem 0;

	.nl-table-scroll2 {
		max-height: 109px;
	}

	@include respond-to(allsmall) {
		margin-bottom: calculateRem(24px);
	}
}

.table-current-contests {

	.table {
		th,
		td {
			font-size: 11px;
			padding: 0.25rem 0.5rem;
			text-align: center;
			max-width: 120px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&:nth-child(1) {
				 width: 35%;
			}
	  &:nth-child(2) {
		width: 35%;
	  }
	  &:nth-child(3) {
		width: 15%;
	  }
	  &:nth-child(4) {
		width: 15%;
	  }
		}
	}
}

/* contest-info-table
---------------------------------------- */
.nl-contest-info-table {
	background-color: #0f254f;
	padding: 0.875rem 0 0 0;
	margin: .25rem 0 1.5rem 0;

	// Temp - needs custom dropdown
	.dropdown {
		padding: 0.5rem;
		margin: 0 auto;
		width: 80%;
	}
  #dropdownMenuButton {
	width: 100%;
	text-align: left;
  }
  .dropdown-toggle::after {
	position: absolute;
	top: 50%;
	right: 1rem;
	color: #e48706;
  }
  .dropdown-menu {
	width: 96%;
	left: 0.5rem;
  }
	.table-info1 {
		margin-bottom: 0.5rem;

		th,
		td {
			text-align: left;
		}
	}

	.table-info4,
	.table-info3 {
		th,
		td {
		
			padding: 0.5rem;
			text-align: center;

			&:nth-child(1) {
				width: 10%;
				color: #e48706;
			  }

			&:nth-child(2) {
			 width: 39%;
			 text-align: left;
			}
			&:nth-child(3) {
			  width: 17%;
			}

			&:nth-child(4) {
			  width: 17%;
			}
			&:nth-child(5) {
			  width: 17%;
			}
		}
	}

	.nl-table-scroll2{
	  max-height: calculateRem(805px);
	  @include respond-to(allsmall){
		max-height: inherit;
	  }
	}
}

/* team-field-section
---------------------------------------- */

@include respond-to(handhelds){
		
	.rank .leaders-list p {
		font-size: 11px;
	}
}

// override to nl-create-team.scss
.nl-live-score {

	.nl-team-list {
		max-width: 27.25rem;
	}

	.nl-my-teams .table th:nth-child(2) {
		text-align: center;
	}

	.rank__content.leaders-list {
		padding: 1rem 0rem 0.375rem 0rem;
		margin-left: 0px;
		p {
			font-weight: 600;
		}
	}

	.top-bar-live-scores{
		margin-bottom: 3rem;
	}

	@include respond-to(handhelds){

		.rank__stats.part-of-block {
			max-width: 133px;
		}
	}

	.nl-team-field .nl-player-block p.playing {
		background: green;
	}
	.nl-team-field .nl-player-block p.played {
		background: #5fadcc;
	}
	.nl-team-field .nl-player-block p.not-playing {
		background: red;
	}	
	
	.more-teams-button {
		text-align: center;

		a .btn-more-teams-live {
			font-size: 15px;
		}
	}

	.nl-contest-info-table .table-info1 td .btn {
		margin-top: 10px;
	}

	.rounded-corners {
		border-top-left-radius:  0.625rem;
		border-top-right-radius: 0.625rem;
		border-bottom-left-radius: 0.625rem;;
		border-bottom-right-radius: 0.625rem;;
		overflow: hidden;
		-webkit-box-shadow: 3px 0 7px rgba(0, 0, 0, 0.21);
		box-shadow: 3px 0 7px rgba(0, 0, 0, 0.21);
	}

	.orange {
		color: #df920b;
	}

	.italic {
		font-style: italic;
	}

	.nl-contest-info-table .nl-table-scroll2 {
		max-height: 34.5rem;
	}

	.nl-contest-info-table .nl-table-scroll3 {
		max-height: 23rem;
	}

	.table-current-contests .table td {
		padding: 0.25rem 0.25rem;
	}

	.nl-contest-info-table .table-info4 td, .nl-contest-info-table .table-info4 tr  {
		padding: 0rem;
	}

	.nl-contest-info-table .table-info4.contestants td, .nl-contest-info-table .table-info4.contestants tr  {
		padding: 0.5rem;
	}

	.nl-contest-info-table .table-info4 td:nth-child(1) {
		text-align: center;
	}

	.nl-team-button {
		margin: 0.75rem 0;
	}

	.small-padding-live-score {
		padding: 0 5px;
	}

	.no-padding {
		padding: 0px;
	}

	.container-fluid {
		max-width: 1700px;
	} 

	.dropdown-my-contests {
		padding: 0 2rem;
	}

	.custom-select {
		background-size: contain;
	}

	.live-current-contest a {
		margin-bottom: 0.75rem;
	}

	.rank__no {
		background: #eb9a0d;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#eb9a0d), color-stop(51%, #e57709), to(#eb9a0d));
		background-image: linear-gradient(to bottom, #eb9a0d 0%, #e57709 51%, #eb9a0d 100%);
	}

	h5 {
		margin-bottom: 0.75rem;
	}
	.player-main-block {

		&.football {
			min-height: 400px;
			margin-top: 60px;

			.nl-player-block { // img shirts
				max-width: 80px;

				img {
					max-width: 100%;
				}
			}
		}
	}

	.nl-team-list-table {
		th,
		td {
			padding: 0.5rem;

			&:first-child {
				text-align: left;
				width: 40%
			}
		}
	}

	.nl-my-teams .nl-team-list-table td:nth-child(2) {
		text-align: center;
		width: 20%;
	}

	.nl-my-teams .nl-team-list-table td:nth-child(3) {
		text-align: center;
		width: 20%;
	}

	.nl-my-teams .nl-team-list-table td:nth-child(4) {
		text-align: center;
		width: 20%;
	}

	.nl-team-field .nl-player-block p {
		line-height: 11px;
	}
}

.rank.margin-top-10 {
	margin-top: 10px;
}

.rank {
	display: flex;
	background-color: #0f254f;
	border-radius: .625rem;
	box-shadow: 3px 0 7px rgba(0, 0, 0, 0.21);
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	// margin-bottom: calculateRem(16px);
	margin-bottom: 0rem;

	&.below-teams {
		width: 100%;
	}

	&__content {
		padding: 1rem 1rem 0.375rem 1rem;
	}

	&__no {
		background-color: orange;
		border-top-left-radius: .625rem;
		border-bottom-left-radius: .625rem;

		span {
			display: block;
			text-align: center;
			font-weight: 400;
			line-height: 1.1;
			padding: 0 0.5rem;
		}

		span + span {
			font-size: 40px;
			font-weight: 700;

			@include respond-to (allmobile) {
				font-size: 30px;
			}
		}
	}

	&__playlist {
		display: flex;
		height: 60px;
		align-items: flex-end;

		@include respond-to(tabletup) {
			height: 54px;
		}

		@include respond-to(handhelds) {
			height: 43px;
		}
	}

	&__playlist-item {
	  align-items: center;
		flex: 1 0 auto;
	  justify-content: center;
	  display: flex;
	  flex-direction: column;

	  span {
		display: block;
		position: relative;
		font-size: 11px;
		font-weight: 400;
		line-height: 1.2;

		@include respond-to(allwide) {
			font-size: 13px;
		}

		@include respond-to (handhelds) {
			font-size: 9px;
		}
	  }

	  span + span {

			&:before {
			content: '';
			display: inline-block;
				width: 18px;
				height: 18px;
				border-radius: 50%;
				margin: 0.25rem;
				line-height: 1.2;
				vertical-align: middle;

			@include respond-to (handhelds) {
				width: 13px;
				height: 13px;
			}
		}
	  }

	  .playing + span {
			&:before {
				background-color: green;
		}
	  }
	  .played + span {
			&:before {
				background-color: #5fadcc;
		}
	  }
	  .not-played + span {
			&:before {
				background-color: red;
		}
	  }
	}

	// some seperate styling for mobile specific block
	&.mobile-only {
		margin: calculateRem(16px) 0;
	}

	// adjustments default leaders list
	.leaders-list {
		p {
			padding: 0 0.25rem;
			margin-bottom: 0;
			font-size: 12px;

			@include respond-to (handhelds) {
				font-size: 11px;
			}
		}
		p:nth-child(even) {
		padding-bottom: 0.25rem;
		}
	}

	&__select {
		flex: 1;
	width: 55%;

		.dropdown {
			width: 100%;
		}

		.dropdown-toggle {
			width: 100%;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
		}
	}
}

// Stats block, either part of stats
.rank__stats {

	&.part-of-block {
	flex: 1;
	max-width: 155px;
	line-height: 1rem;

		@media (min-width: 992px) and (max-width: 1680px) {
			display: none;
		}

		@include respond-to (handhelds) {
			display: none;

		}
	}

	&.single-block {
		display: none;

		@media (min-width: 992px) and (max-width: 1680px) {
			display: block;
			width: 100%;
		}

		@include respond-to (handhelds) {
			display: block;
			width: 100%;
		}

		text-align: center;

		.rank__content {
			padding: 0.5rem 1rem 0.375rem 1rem;
		}
	}

	&.below-teams {
		line-height: 1rem;
		width: 100%;
		padding: 0 0.75rem;

		.rank__content {
			padding: 0.5rem 1rem 0.375rem 1rem;
			font-size: 13px;

			p {
				font-size: 13px;
			}
		}
	}
}



/* Chat
---------------------------------------- */
.chat-search {
	padding: calculateRem(8px) calculateRem(24px) calculateRem(24px);

	.chat-search__input {
		width: 60%;
		display: inline-block;
		margin-right: calculateRem(8px);

		@include respond-to(large-display) {
			width: 65%;
		}

		@include respond-to(extra-large-display) {
			width: 72%;
		}

		@media (min-width: 2300px) {
			width: 80%;
		}
	}

	.chat-search__button {
		float: right;

		&:after {
		  content: "";
		  display: table;
		  clear: both;
		}

	}
}



.chatbox .nl-contest-info-table .nl-table-scroll2 {
	@include respond-to (allnotwide) {
		max-height: 15rem;
	}

	@include respond-to (handhelds) {
		max-height: 10rem;
	}
}

.nl-live-score .nl-contest-info-table .nl-table-scroll3 {
	@include respond-to (wide-tablets) {
		max-height: 29rem;
	}
}

.chat {
	background-color: #fff;
	min-height: 630px;

	&__area {
		padding: calculateRem(24px);
	}
}


/*
---------------------------------------- */
.nl-live-score-contest-table {
	padding: 0;

	.nl-info-table-button {
		min-height: 3rem;
		text-align: center;
	}

	.visibility-hidden {
		visibility: hidden;
	}

	.rank {
		margin-bottom: 0;
	}

	.rank__no {
		border-bottom-left-radius: 0;

		background: #eb9a0d;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#eb9a0d), color-stop(51%, #e57709), to(#eb9a0d));
		background-image: linear-gradient(to bottom, #eb9a0d 0%, #e57709 51%, #eb9a0d 100%);
		
		span {
			font-size: 12px;
			line-height: 1.2;
			padding: 0 .25rem;
			font-weight: 600;
		}

		span + span {
			font-size: 18px;
			font-weight: 700;
		}
	}

	.rank__stats {
		.rank__content {
			padding: 0.25rem;
		}

		.leaders-list {
			p {
				margin: 0;
				padding: 0;
				font-size: 12px;
				line-height: 1.2;
				font-weight: 500;
			}
		}
	}

	.rank__title {
		padding: 0.5rem;
		flex: 1;

		p {
			margin-bottom: 0;
			font-size: 12px;
			line-height: 1rem;
		}
	}

	.rank__thumb {
		padding: 0.5rem;

		img {
			max-width: 39px;
		}
	}

	.table-info3,
	.table-info4{
		th,
		td {
			font-size: 10px;
			padding: 0rem;
		}
	}

	.table-info4.contestants {
		th,
		td {
			padding: 0.5rem;
		}
	}

	.indicator{
	  width: calculateRem(8px);
	  height: calculateRem(8px);
	  margin: 0;
	}
}
