/* Matches component
---------------------------------------- */
.matches {
	width: 100%;
	height: 140px;
	overflow-y: hidden;
	overflow-x: scroll;
	margin: .25rem 0 1.5rem 0;

	&__scrollarea {
		display: flex;
	}

	&__result {
		flex: 1 0 auto;
		background-color: #607089;
		border: 1px solid #061540;
		color: #fff;
		font-weight: 400;
		font-size: 16px;

		&:first-child {
			border-left: none;
		}

		&:last-child {
			border-right: none;
		}
	}

	&__result-header {
    background-color: #0f254f;
    text-align: center;
    max-width: 150px;
	  overflow-wrap: break-word;
	  word-wrap: break-word;
	  hyphens: auto;

		span {
			color: #fff;
			display: inline-block;
			font-size: 12px;
			padding: calculateRem(4px) calculateRem(8px);
		}
	}

	&__content {
		padding: calculateRem(8px) calculateRem(16px);
	}

	&__leaders-list {
		list-style: none;
		margin: 0;
		padding: 0;
    font-size: 1em;

    li {
      line-height: 1.6em;
      margin-bottom: calculateRem(8px);

      img {
      	width: 28px;
      }
      span {
      	float: left;
      	padding: calculateRem(2px) calculateRem(4px) calculateRem(0px);
      }

      & >span:last-child {
    		float: right;
      }

      &:last-child {

      	span {
      		font-weight: 300;
      		float: left;
      	}
      }
  		&:after {
			  content: "";
			  display: table;
			  clear: both;
  		}
    }
	}

	@include respond-to(allwide) {
		height: 155px;
	}
	@include respond-to(allsmall) {
		margin-bottom: calculateRem(24px);
	}
}

// Add custom scrollbar and make visible
.matches::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #0f254f;
}

.matches::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.matches::-webkit-scrollbar-thumb {
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #F5F5F5;
}

/* current-contests
---------------------------------------- */
.current-contents {
	margin: .25rem 0 1.5rem 0;

	.nl-table-scroll2 {
		max-height: 120px;
	}

	@include respond-to(allsmall) {
		margin-bottom: calculateRem(24px);
	}
}

.table-current-contests {
	.table {
		th,
		td {
			padding: 0.5rem 0.5rem;
			text-align: left;
			max-width: 120px;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;

 			&:nth-child(1) {
        width: 35%;
      }
      &:nth-child(2) {
        width: 35%;
      }
      &:nth-child(3) {
        width: 15%;
      }
      &:nth-child(4) {
        width: 15%;
      }
		}
	}
}

/* contest-info-table
---------------------------------------- */
.nl-contest-info-table {
	background-color: #0f254f;
	padding: 0.875rem 0 0 0;
	margin: .25rem 0 1.5rem 0;

	// Temp - needs custom dropdown
	.dropdown {
		padding: 0.5rem;
		margin: 0 auto;
		width: 80%;
	}
  #dropdownMenuButton {
    width: 100%;
    text-align: left;
  }
  .dropdown-toggle::after {
    position: absolute;
    top: 50%;
    right: 1rem;
    color: #e48706;
  }
  .dropdown-menu {
  	width: 96%;
  	left: 0.5rem;
  }
	.table-info1 {
		margin-bottom: 0.5rem;

		th,
		td {
			text-align: left;
		}
	}

	.table-info4,
	.table-info3 {
		th,
		td {
			padding: 0.5rem;
			text-align: left;

 			&:nth-child(1) {
        width: 10%;
        color: #e48706;
        text-align: right;
      }
      &:nth-child(2) {
        width: 60%;
      }
      &:nth-child(3) {
        width: 30%;
      }
		}
	}

	.nl-table-scroll2{
	  max-height: calculateRem(805px);
	  @include respond-to(allsmall){
	    max-height: inherit;
	  }
	}
}

/* team-field-section
---------------------------------------- */
// override to nl-create-team.scss
.nl-live-score {

	.rank__no {
		background: #eb9a0d;
    	background-image: -webkit-gradient(linear, left top, left bottom, from(#eb9a0d), color-stop(51%, #e57709), to(#eb9a0d));
    	background-image: linear-gradient(to bottom, #eb9a0d 0%, #e57709 51%, #eb9a0d 100%);
	}

	h5 {
		margin-bottom: 1.875rem;
	}
	.player-main-block {

		&.football {
			min-height: 400px;

			.nl-player-block { // img shirts
				max-width: 80px;

				img {
					max-width: 100%;
				}
			}
		}
	}

	.nl-team-list-table {
		th,
		td {
			padding: 0.5rem;

			&:first-child {
				text-align: left;
			}
		}
	}
}

.rank {
	display: flex;
	background-color: #0f254f;
  border-radius: .625rem;
  box-shadow: 3px 0 7px rgba(0, 0, 0, 0.21);
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: calculateRem(16px);

	&__content {
		padding: calculateRem(24px) calculateRem(16px) calculateRem(14px) calculateRem(16px);
	}

	&__no {
		background-color: orange;
		border-top-left-radius: .625rem;
		border-bottom-left-radius: .625rem;

		span {
			display: block;
			text-align: center;
			font-weight: 400;
			line-height: 1.1;
			padding: 0 1rem;
		}

		span + span {
			font-size: 32px;
			font-weight: 700;
		}
	}

	&__playlist {
		display: flex;
		height: 60px;
		align-items: flex-end;

		@include respond-to(tabletup) {
			height: 96px;
		}
	}

	&__playlist-item {
	  align-items: center;
		flex: 1 0 auto;
	  justify-content: center;
	  display: flex;
	  flex-direction: column;

	  span {
	  	display: block;
	  	position: relative;
	  	font-size: 14px;
	  	font-weight: 400;
	  	line-height: 1.2;

	  	@include respond-to(allwide) {
	  		font-size: 16px;
	  	}
	  }

	  span + span {

			&:before {
	  		content: '';
	  		display: inline-block;
				width: 18px;
				height: 18px;
				border-radius: 50%;
				margin: 0.25rem;
				line-height: 1.2;
				vertical-align: middle;
	  	}
	  }

	  .playing + span {
			&:before {
				background-color: green;
	  	}
	  }
	  .played + span {
			&:before {
				background-color: orange;
	  	}
	  }
	  .not-played + span {
			&:before {
				background-color: red;
	  	}
	  }
	}

	// some seperate styling for mobile specific block
	&.mobile-only {
		margin: calculateRem(16px) 0;
	}

	// adjustments default leaders list
	.leaders-list {
		p {
			padding: 0 0.25rem;
	    margin-bottom: 0;
	    font-size: 12px;
		}
		p:nth-child(even) {
	    padding-bottom: 0.25rem;
		}
	}

	&__select {
		flex: 1;
    width: 55%;

		.dropdown {
			width: 100%;
		}

		.dropdown-toggle {
			width: 100%;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
		}
	}
}

// Stats block, either part of stats
.rank__stats {

	&.part-of-block {
    flex: 1;
    min-width: 100px;

		@media (min-width: 992px) and (max-width: 1680px) {
			display: none;
		}
	}

	&.single-block {
		display: none;

		@media (min-width: 992px) and (max-width: 1680px) {
			display: block;
		}
	}
}

/* Chat
---------------------------------------- */
.chat-search {
	padding: calculateRem(8px) calculateRem(24px) calculateRem(24px);

	.chat-search__input {
		width: 60%;
		display: inline-block;
		margin-right: calculateRem(8px);

		@include respond-to(large-display) {
			width: 65%;
		}

		@include respond-to(extra-large-display) {
			width: 72%;
		}

		@media (min-width: 2300px) {
			width: 80%;
		}
	}

	.chat-search__button {
		float: right;

		&:after {
		  content: "";
		  display: table;
		  clear: both;
		}

	}
}
.chat {
	background-color: #fff;
	min-height: 630px;

	&__area {
		padding: calculateRem(24px);
	}
}


/*
---------------------------------------- */
.nl-live-score-contest-table {
	padding: 0;

	.rank {
		margin-bottom: 0;
	}

	.rank__no {
		border-bottom-left-radius: 0;

		background: #eb9a0d;
    	background-image: -webkit-gradient(linear, left top, left bottom, from(#eb9a0d), color-stop(51%, #e57709), to(#eb9a0d));
    	background-image: linear-gradient(to bottom, #eb9a0d 0%, #e57709 51%, #eb9a0d 100%);
		
		span {
			font-size: 12px;
			line-height: 1.2;
			padding: 0 .25rem;
		}

		span + span {
			font-size: 18px;
			font-weight: 700;
		}
	}

	.rank__stats {
		.rank__content {
			padding: 0.25rem;
		}

		.leaders-list {
			p {
				margin: 0;
				padding: 0;
				font-size: 10px;
				line-height: 1.2;
			}
		}
	}

	.rank__title {
		padding: 0.5rem;
		flex: 1;
	}

	.rank__thumb {
		padding: 0.5rem;
	}

	.table-info3,
	.table-info4{
		th,
		td {
			font-size: 12px;
		}
	}

	.indicator{
	  width: calculateRem(12px);
	  height: calculateRem(12px);
	  margin: 0 calculateRem(4px);
	}
}
