.nl-create-teams .nl-mob-table #accordion a .row:after {
  right: 2.5rem;
}

.nl-player-block--data {
  border-radius: 0.325rem;
}

.btn-big-radius {
  padding: 5px;
  font-size: 11px;
}

.nl-create-team.nl-players.soccer {
  background: url(../img/stadion_detail.jpg) no-repeat 0 0;
  background-size: cover;
}

.nl-create-team.soccer {
  @include respond-to (allwider) {
    .nl-my-teams .nl-team-card img {
      height: 80px;
    }
  }

  @include respond-to (wide-tablets) {
    .nl-my-teams .nl-team-card img {
      height: 73px;
    }
  }

  @include respond-to (tablets) {
    .nl-my-teams .nl-team-card img {
      height: 70px;
    }
  }

  @include respond-to (allmobile) {
    .nl-my-teams .nl-team-card img {
      height: 70px;
    }
  }

  .nl-team-field .nl-player-block img {
  	@media (min-width: 1367px) and (max-width:1500px) {
      max-width: 72px;
    }

    @media (min-width: 1500px) {
      max-width: 83px;
    }
  }
}

.nl-create-team {

  .team-format {
    display: inline-block;
    font-style: italic;    
  }

  .nl-players-table .nl-data--text {
    padding-top: 0.375rem;

    p.team-format {
      font-size: 12px;
    }

    &.nl-m-r-80 {
      margin-right: 0rem;
    }
  }

  .nl-players-table .nl-players-search {
    bottom: -2.2225rem;
  }

  .nl-players-table .nl-data--avatar {
    margin-top: 15px;
  }

  .nl-players-table-data-field {
    padding: 0rem 1.5625rem 0.75rem 1.5625rem;
  }

  .nl-players-table .nl-data--text p.title {
    margin-top: 10px;
  }

  @include respond-to (allmobile) {
    .nl-players-table .nl-players-table-data-field {
      height: 7rem;
    }

    .nl-players-table .nl-data--text {
      padding-top: 4.2375rem;
    }
  }

  .nl-my-teams .table td {
    padding: 0rem;

    @include respond-to (handhelds) {
      font-size: 1rem;

      .gametime {
        font-size: 0.85rem;
      }
    }
  }

  .nl-my-teams .table td p {
    margin-bottom: 0px;
  }

  .nl-my-teams .table td button {
    font-weight: 600;
  }
  
  .nl-my-teams .table td p.gametime {
    line-height: 1rem;
    font-size: 10px;
    font-style: italic;

    @include respond-to (handhelds) {
      font-size: 0.85rem;
    }
  }

  .nl-mob-table .nl-content p.orange, td.orange {
    color: #ff9f2f;
  }

  .nl-mob-table .nl-content .btn-primary {
    padding: 0.5rem 2.5rem;
    font-size: 1rem;
    font-weight: 600;
  }


  .nl-my-teams .nl-team-list-table th:nth-child(1) {
    text-align: left;
  }

  @include respond-to (allwide) {
    .nl-my-teams .nl-team-card img {
      height: 80px;
    }
  }

  @include respond-to (tablets) {
    .nl-my-teams .nl-team-card img {
      height: 70px;
    }

    .nl-team-card.table-data-field h3 {
      font-size: 2rem;
    }
  }

  @include respond-to (allmobile) {
    .nl-my-teams .nl-team-card img {
      height: 60px;
    }

    .nl-team-card.table-data-field h3 {
      font-size: 2rem;
    }
  }

  .btn-big-radius {
    padding: 5px;
    font-size: 11px;
  }

  .save-delete {
    text-align: center;
    margin-bottom: 20px;

    @include respond-to (allsmall) {
      margin-top: 20px;
    }

    button {
      font-weight: 600;
      padding: 0.75rem 3rem;
      border-radius: 0.625rem;
    }
  }

  .nl-team-info {
     @include respond-to(allsmall){
      margin-top: 10px;
    }
  }

  padding-left: 0.875rem;
  padding-right: 0.875rem;
  padding-bottom: calculateRem(50px);
  padding-top: 1.875rem;

  @include respond-to(allsmall){
    padding-left: 0;
    padding-right: 0;
  }
}

.soccer .nl-create-team-table .nl-players-search {
    min-width: 9.75rem;
    max-width: 14rem; 

    @media (min-width: 768px) and (max-width:1075px) {
      min-width: 9.75rem;
      max-width: 10rem;
    }
}

.nl-create-team-table .table thead th:first-child {
  padding-left: 0.5rem;
}


.nl-players-table.nl-create-team-table td:first-child {
  padding-left: 0.5rem;
}

.nl-players-table.nl-create-team-table .nl-players-search {
  
    @media (min-width: 992px) and (max-width:1050px) {
      min-width: 9.75rem;
      max-width: 10rem;
    }

    @media (min-width: 756px) and (max-width:887px) {
      min-width: 8.75rem;
      max-width: 9rem;
    }
}

.nl-create-team-table {
  
  .btn-sm {
    padding: 0.25rem;
    font-weight: 600;
  }

  .nl-table-scroll2 {
    max-height: 37.5em;

    @media (min-width: 1200px) and (max-width:1425px) {
      max-height: 33.5em;
    }

    @include respond-to(wide-tablets) {
     max-height: 32rem;
    }
  }

  .visibility-hidden {
    visibility: hidden;
  }

  .nav-tabs .nav-link {
    @media (max-width:1357px) {
      min-width: 3.625rem;
    }
  }

  .nl-players-search {
    min-width: 9.75rem;
    max-width: 10rem;

    @include respond-to(tablets) {
      position: absolute;
      top: 2rem;
      right: 1.5rem;
    }

    @media (min-width: 769px) and (max-width:1630px) {
      position: absolute;
      top: 2rem;
      right: 1.5rem;
    }

  }

  .nl-players-search {
    min-width: 10.75rem;
    max-width: 11rem;
  }

  @media (min-width: 992px) and (max-width:1425px) {
     .table-striped tbody tr td.avatar img {
        display: none;
     }
  }

  td, th {
    padding: 0.25rem 0.25rem;
    font-size: 12px;

    @media (max-width:1200px) {
      font-size: 11px;
    }

    &:first-child {
      text-align: center;
    }
    &:last-child {
      a {
        display: flex;
        justify-content: center;

      }
    }
  }
  .table thead th {
    font-size: 12px;
  }

  td:not(:first-child), .table th:not(:first-child) {
    text-align: center;
  }

  .nl-desc-table tbody tr td,
  .nl-desc-table thead tr th {

    @include respond-to(allwide) {
      //float: left;
      //width: 10% !important;
      &:nth-child(1) {
        width: 8%;
        //min-width: 65px;
      }
      &:nth-child(2) {
        width: 24%;
        text-align: left;
      }
      &:nth-child(3) {
        width: 10%;
      }
      &:nth-child(4) {
        width: 6%;
      }
      &:nth-child(5) {
        width: 7%;
      }
      &:nth-child(6) {
        width: 7%;
      }
      &:nth-child(7) {
        width: 8%;
      }
      &:nth-child(8) {
        width: 8%;
      }
      &:nth-child(9) {
        width: 14%;
      }
      &:nth-child(10) {
        width: 8%;
      }
    }
  }

  .nl-desc-table thead tr th {
    &:nth-child(2) {
      text-align: center;
    }
  }

  .table-striped {
    tbody tr {
      &:hover {

      }
    }
  }
}

.nl-create-team-table .table thead th {
  @include respond-to(wide-tablets) {
    padding: 0.5rem 0;
    font-size: 11px;
  }
}

.nl-team-info {
  background: #142d57;
  color: #fff;
  @include fontSize(15px);
  text-transform: uppercase;
  font-weight: 600;
  overflow: hidden;
  border-radius: calculateRem(10px);
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
  .nl-team-name {
    width: 100%;
    background: #061540;
    color: #FFF;
    @include fontSize(21px);
    font-weight: 700;
    text-align: center;
    padding: 0.5rem;

  }
  .nl-team-data {
    padding: 0.25rem 1.25rem 0.5rem;
    font-weight: 500;
    span {
      font-weight: 500;
      &.avalibe {
        color: #e48706;
      }
    }
  }

  @include respond-to(allmobile) {
    max-width: 100%;
  }
}

.nl-team-button {
  text-align: center;
  margin: calculateRem(20px) 0;
  .btn-team {
    margin: calculateRem(5px);
      @include respond-to(allsmall){
        display: none;
      }
  }
}

.nl-create-team,
.nl-live-score {

  .player-main-block {

    width: 100%;
    height: 100%;
    min-height: 563px;
    position: relative;


    .nl-GK-position{
	  
	   @include respond-to (extra-large-display) {
		left: 42%;
		bottom: 10.5%;
	  }

	  @include respond-to (large-display) {
		left: 42%;
		bottom: 10.5%;
	  }

	  @include respond-to (wide-display) {
		left: 42%;
		bottom: 10.5%;
	  }

	  @include respond-to (medium-display) {
		left: 42%;
		bottom: 10.5%;
	  }

	  @include respond-to (wide-tablets) {
		left: 40%;
		bottom: 7.5%;
	  }

	  @media (min-width: 1899px) {
	  	left: 44%;
	  }
	}

	.nl-DM-position{
	  @include respond-to (extra-large-display) {
		bottom: 32%;
		left: 42%;
	  }

	  @include respond-to (large-display) {
		bottom: 32%;
		left: 42%;
	  }

	  @include respond-to (wide-display) {
		bottom: 32%;
		left: 42%;
	  }

	  @include respond-to (medium-display) {
		bottom: 32%;
		left: 42%;
	  }

	  @include respond-to (wide-tablets) {
		bottom: 33%;
		left: 40%;
	  }

	  @media (min-width: 1899px) {
	  	left: 44%;
	  }
	}

	.nl-MM-position{
	//left: initial;

	  @include respond-to (extra-large-display) {
		bottom: 56%;
		left: 42%;
	  }

	  @include respond-to (large-display) {
		bottom: 56%;
		left: 42%;
	  }
	  @include respond-to (wide-display) {
		bottom: 56%;
		left: 42%;
	  }
	  @include respond-to (medium-display) {
		bottom: 56%;
		left: 42%;
	  }
	  @include respond-to (wide-tablets) {
		bottom: 58%;
		left: 40%;
	  }

	  @media (min-width: 1899px) {
	  	left: 44%;
	  }

	}

	.nl-DL-position{
	  bottom: 30.5%;
	  left: 11%;

	  @include respond-to (medium-display) {
		left: 11%;
	  }
	}
	.nl-DR-position{
	  bottom: 30.5%;
	  right: 11%;

	  @include respond-to (medium-display) {
		right: 11%;
	  }
	}
	.nl-FLEXL-position{
	  bottom: -1%;
	  left: 2%;
	}
	
	.nl-AL-position{
	  top: -4.5%;
	  left: 28%;

	  @include respond-to (wide-tablets) {
		top: -4.5%;
		left: 26%;
	  }
	}

	.nl-AR-position{
	  top: -4.5%;
	  left: 56%;

	  @include respond-to (wide-display) {
		top: -4.5%;
		left: 54%;
	  }
	}

	.nl-FLEXR-position{
	  top: 77%;
	  right: 2%;
	}

	
	.nl-ML-position{
	  top: 18%;
	  left: 12%;

	  @include respond-to (medium-display) {
		top: 21%;
		left: 12%;
	  }

	  @include respond-to (large-display) {
		top: 21%;
		left: 18%;
	  }

	  @include respond-to (wide-display) {
	  	top: 21%;
	  	left: 18%;
	  }

	  @include respond-to (extra-large-display) {
		top: 21%;
		left: 18%;
	  }
	}
	.nl-MR-position{
	  top: 18%;
	  right: 12%;

	  @include respond-to (medium-display) {
		top: 21%;
		right: 12%;
	  }
	  @include respond-to (large-display) {
		top: 21%;
		right: 18%;
	  }

	  @include respond-to (wide-display) {
	  	top: 21%;
	  	right: 18%;
	  }

	  @include respond-to (extra-large-display) {
		top: 21%;
		right: 18%;
	  }
	}  
  
    &.football{
      min-height: 509px;

      @media (min-width: 1200px) and (max-width:1425px) {
        min-height: 444px;
        max-height: 450px;
      }

      margin-top: 80px;
      margin-bottom: 30px;

      .nl-FLEX-position{
        bottom: 8.8%;
        right: 7%;
      }
      .nl-K-position{
        bottom: 20%;
        left: 43%;
      }
      .nl-LRB-position{
        bottom: 46%;
        left: 23.5%;
      }
      .nl-RRB-position{
        bottom: 41%;
        right: 19.5%;
      }
      .nl-QB-position{
        top: 15%;
        left: 43%;
      }
      .nl-LWR-position{
        top: -1%;
        left: 18%;
      }
      .nl-RWR-position{
        top: 5%;
        right: 15%;
      }
      .nl-TE-position{
        top: -11%;
        right: 34%;
      }
      .nl-DEF-position{
        bottom: 8.8%;
        left: 13%;
        img{
          max-width: 75px;
        }
      }
    }
  }

  .nl-team-field {
    background: url(../img/nl-soccer-field-2.png) no-repeat 0 0;
    background-size: contain;
    min-width: 100%;
    background-size: 100% 100%;

    .display-none {
      display: none !important;
    }

    .vis-hidden {
      visibility: hidden;
    }

  @include respond-to(wide-tablets){

    .football.player-main-block {
      margin-top: 50px;
      min-height: 381px;
    }

    .soccer.player-main-block {
      min-height: 408px;

      img {
        max-width: 66px; 
      }
    }

    .football {

      .nl-RRB-position{
        bottom: 41%;
        right: 13.5%;
      }

        .nl-LRB-position{
        bottom: 46%;
        left: 18.5%;
      }

      .nl-QB-position {
        top: 20%;
      }
    }
  }

  @include respond-to (medium-display){
    .soccer.player-main-block {
      //min-height: 408px;

    img {
      max-width: 70px; 
      }
    }
  }

  @include respond-to (wide-display){
    .soccer.player-block {
      //min-height: 408px;

    img {
      max-width: 75px; 
      }
    }
  }

  .soccer {
    @media (min-width: 1200px) and (max-width:1425px) {
      min-height: 499px;
      max-height: 558px;
    }
  }


  // &.soccer {
  //   .nl-player-block{
  //     img{
  //       max-width: 69px;
  //        @include respond-to(wide-tablets){
  //         max-width: 51px;
  //       }
  //     }
  //   }
  // }

    &.football{
      background: url(../img/football/nl-football-field.png) no-repeat 0 0;
      background-size: contain;
      //min-height: 420px;
      background-size: 100% 100%;

      .nl-player-block{
        img{
          max-width: 104px;
          @include respond-to(wide-tablets){
            max-width: 81px;
          }
          @include respond-to(medium-display){
            max-width: 95px;
          }
        }
      }

      .nl-player-block.nl-DEF-position img {
        max-width: 80px;
      }

      @include respond-to(tabdisp){
        .nl-player-block.nl-DEF-position img {
          max-width: 70px;
        }
      }

      
    }

    @include respond-to(allsmall){
      display: none;
    }
    .goalkeeper-line {
      position: relative;
    }
    .nl-player-block {
      position: absolute;
      max-width: 105px;
      text-align: center;
      font-size: 10px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 600;
      p{
        margin: 0;
        line-height: 12px
      }
      img {
        max-width: 60px;
      }
      &--data{
        background: #253046;
        position: relative;
        min-width: 80px;
        padding: 2px;
        border-radius: 0.325rem;

        .btn-player-close{
          position: absolute;
          top: -16px;
          right: -10px;
          background: red;
          color: #fff;
        }
        .data{
          display: flex;
          justify-content: space-between;
          span:first-child{
            color: #df920b;
          }
        }
      }

    }
  }
}



.nl-team-list{
  max-width: calculateRem(500px);
  margin: 0 auto;
  padding: 0;

  @include respond-to(allmobile) {
    max-width: 100%;
  }
}

/* country-selector
---------------------------------------- */
.country-selector {

  .nav-item {

    &:first-child {
      margin-left: 0;

      @include respond-to(allsmall){
        margin-left: 0.5rem;
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    margin-left: calculateRem(16px);

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 1px 12px rgba(0,0,0,0.4);
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    &:hover:after {
      opacity: 1;
    }

    &:active:after {
      transition: all 0.3s ease-in-out;
      box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.1);
    }
  }
}

/*
---------------------------------------- */
.nl-players-filter {
  margin: 0 0 calculateRem(20px);
}

/* Table create team - toggle view
---------------------------------------- */
.nl-my-teams .nl-team-list-table {

  th, td{
    &:nth-child(1){
      width: 40%;
      padding-left: 1.5rem;
    }
    &:nth-child(2){
      width: 12%;
    }
    &:nth-child(3){
      width: 12%;
    }
    &:nth-child(4){
      width: 12%;
    }
    &:nth-child(5){
      width: 20%;
    }
  }
}
