.nl-my-teams{
  background: url(../img/nl-players-bg.jpg) center center no-repeat fixed;
  background-size: cover;
  color: #121a31;
  padding-bottom: calculateRem(160px);

  .btn-create-team{
    font-size: 33px;
    margin: 0 0 36px;
  }

  .status-wrapper{
    display: inline-block;
    background: linear-gradient(to top, #121a31, #1f3658);
    border-radius: calculateRem(10px);
    color: #fff;
    box-shadow: 3px 0 7px rgba(0, 0, 0, 0.21);
    overflow: hidden;

    ul{
      list-style-type: none;
      margin: 0;
      padding: 18px;


      li{
        display: inline-block;
        font-size: 19.02px;
        text-transform: uppercase;
        font-size: 20px;

        span{
          vertical-align: middle;
          display: inline-block;
        }


        .indicator{
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
          margin: 0 10px;
        }
        .playing{
          background-color: #2b9c53;
        }
        .played{
          background-color: #6dcff6;
        }
        .not-playing{
          background-color: #e01516;
        }

      }
    }

  }


}
