.nl-players.nl-enter-contests {
  padding-bottom: 2rem;
}

.nl-enter-contests .nl-team-field.football .nl-player-block .nl-DEF-position img {
  height: 75px;
}

.nl-enter-contests {

  .nl-my-teams .nl-team-card img {
    height: 80px;
  }

  @include respond-to (allmobile) {
    .nl-my-teams .nl-team-card img {
      height: 50px;
    } 
  }

  .nl-my-teams .nl-team-list-table th:nth-child(1) {
    text-align: left;
  }

  .name-enter-contest {
    text-align: left;
  }

  .nl-contest-info-table .table-info4 td:nth-child(1) {
    width: 15%;
    text-align: center;
  }

  .nl-contest-info-table .table-info4 th:nth-child(1) {
    width: 15%;
    text-align: center;
  }

  .nl-contest-info-table .table-info4 td:nth-child(2), th:nth-child(2) {
    width: 30%;
    text-align: center;
  }

  .nl-contest-info-table .table-info4 td:nth-child(3), th:nth-child(3) {
    width: 35%;
    text-align: center;
  }

  .nl-contest-info-table .table-info4 td:nth-child(4), th:nth-child(4) {
    width: 20%;
    text-align: center;
  }

  .nl-contest-info-table .table-info3 th:nth-child(1) {
    width: 15%;
    text-align: center;
  }

  .nl-contest-info-table .table-info3 th:nth-child(2) {
    width: 30%;
    text-align: center;
  }

  .nl-contest-info-table .table-info3 th:nth-child(3) {
    width: 35%;
    text-align: center;
  }

  .nl-contest-info-table .table-info3 th:nth-child(4) {
    width: 20%;
    text-align: center;
  }

  .payout {
    margin: 8px;
  }

  .player-main-block{
  width: 100%;
  height: 100%;
  min-height: 563px;
  position: relative;

  // .nl-GK-position{
  //   bottom: 6.5%;
  //   left: 43%;
  // }

  // .nl-DL-position{
  //   bottom: 21.5%;
  //   left: 24%;
  // }
  // .nl-DR-position{
  //   bottom: 21.5%;
  //   right: 24%;
  // }
  // .nl-FLEXL-position{
  //   bottom: 35%;
  //   left: 7%;
  // }
  // .nl-DM-position{
  //   bottom: 35%;
  //   right: 6%;
  // }
  // .nl-MM-position{
  //   bottom: 43%;
  //   left: 40%;
  // }

  // .nl-AR-position{
  //   top: 2.5%;
  //   left: 40%;
  // }

  // .nl-AL-position{
  //   top: 2.5%;
  //   left: 17%;
  // }

  // .nl-FLEXR-position{
  //   top: 2.5%;
  //   right: 17%;
  // }

  // .nl-ML-position{
  //   top: 25%;
  //   left: 17%;
  // }

  // .nl-MR-position{
  //   top: 25%;
  //   right: 17%;
  // }

  // @media (min-width: 1200px)  {
  //   .nl-MM-position{
  //     bottom: 43%;
  //     left: 43%;
  //   }
  //   .nl-ML-position{
  //     top: 25%;
  //     left: 25%;
  //   }
  //   .nl-MR-position{
  //     top: 25%;
  //     right: 25%;
  //   }
  //   .nl-AR-position{
  //     top: 2.5%;
  //     left: 43%;
  //   }
  // }

    .nl-GK-position{
      bottom: 3.5%;
      left: 43%;
    }

    .nl-DL-position{
      bottom: 30.5%;
      left: 15%;
    }
    .nl-DR-position{
      bottom: 30.5%;
      right: 15%;
    }
    .nl-FLEXL-position{
      bottom: -2%;
      left: 2%;
    }
    .nl-DM-position{
      bottom: 30%;
      right: 40%;
    }
    // .nl-MM-position{
    //   bottom: 43%;
    //   left: 40%;
    // }

    // .nl-AR-position{
    //   top: -3.5%;
    //   left: 56%;
    // }

    .nl-AL-position{
      top: -6.5%;
      left: 28%;
    }

    .nl-FLEXR-position{
      top: 77%;
      right: 2%;
    }

    // .nl-ML-position{
    //   top: 30%;
    //   left: 19%;
    // }

    // .nl-MR-position{
    //   top: 30%;
    //   right: 19%;
    // }

    .nl-MM-position{
      bottom: 56%;
      left: 42%;
    }
    .nl-ML-position{
      top: 18%;
      left: 12%;
    }
    .nl-MR-position{
      top: 18%;
      right: 12%;
    }
    .nl-AR-position{
      top: -6.5%;
      left: 56%;
    }

  @include respond-to(allwider){ 
    .nl-AR-position{
      top: -2.5%;
      left: 56%;
    }
    .nl-AL-position{
      top: -2.5%;
      left: 28%;
    }

    .nl-FLEXL-position{
      bottom: 3%;
      left: 2%;
    }

    .nl-FLEXR-position{
      top: 73%;
      right: 2%;
    }
  }

  &.football{
    min-height: 511px;
    margin-top: 80px;
    margin-bottom: 30px;
    .nl-FLEX-position{
      bottom: 8.8%;
      right: 7%;
    }
    .nl-K-position{
      bottom: 20%;
      left: 43%;
    }
    .nl-LRB-position{
      bottom: 46%;
      left: 23.5%;
    }
    .nl-RRB-position{
      bottom: 41%;
      right: 19.5%;
    }
    .nl-QB-position{
      top: 19%;
      left: 43%;
    }
    .nl-LWR-position{
      top: -1%;
      left: 18%;
    }
    .nl-RWR-position{
      top: 5%;
      right: 15%;
    }
    .nl-TE-position{
      top: -9%;
      right: 34%;
    }
    .nl-DEF-position{
      bottom: 8.8%;
      left: 13%;
      img{
        max-width: 75px;
      }
    }
  }
}

  .nl-team-field {
      background: url(../img/nl-soccer-field-2.png) no-repeat 0 0;
      background-size: contain;
      min-width: 100%;
      background-size: 100% 100%;

    @include respond-to(wide-tablets){
      .player-main-block {
        min-height: 385px;
      }
    }

    &.soccer {
      .nl-player-block{
        img{
          max-width: 69px;
           @include respond-to(wide-tablets){
            max-width: 51px;
          }
        }
      }
    }

    &.football{
      background: url(../img/football/nl-football-field.png) no-repeat 0 0;
      background-size: contain;
      //min-height: 420px;
      background-size: 100% 100%;
      .nl-player-block{
        img{
          max-width: 115px;
           @include respond-to(wide-tablets){
            max-width: 81px;
          }
        }
      }
    }
    @include respond-to(allsmall){
      display: none;
    }
    .goalkeeper-line {
      position: relative;
    }
    .nl-player-block {
      position: absolute;
      max-width: 105px;
      text-align: center;
      font-size: 10px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 600;
      p{
        margin: 0;
        line-height: 15px
      }
      img {
        max-width: 60px;
      }
      &--data{
        background: #253046;
        position: relative;
        min-width: 95px;
        padding: 2px;
        .btn-player-close{
          position: absolute;
          top: -16px;
          right: -10px;
          background: red;
          color: #fff;
        }
        .data{
          display: flex;
          justify-content: space-between;
          span:first-child{
            color: #df920b;
          }
        }
      }

    }
  }





  .btn-primary {
    font-weight: 600;
  }

  .nl-team-field {
    max-height: 500px;
    min-height: 496px;

    // .nl-AR-position {
    //   top: -1.5%;
    // }

    // .nl-AL-position, .nl-FLEXR-position {
    //   top: -5.5%;
    // }

    // .nl-MR-position, .nl-ML-position {
    //   top: 23%;
    // }
  }

  .football.nl-team-field {
    max-height: 397px;
    min-height: 434px;
  }

  .nl-team-field.football .nl-player-block img {
      max-width: 93px;
  }

  .nl-team-field.football .nl-player-block.nl-DEF-position img {
    max-width: 75px;  
  }

  @include respond-to(medium-wide-display) {
    .nl-team-field.football .nl-player-block img {
      max-width: 87px;
    }
  }

  .soccer .player-main-block {
    min-height: 496px;

    img {
      max-width: 60px;
    }
  }

  .player-main-block.football {
    min-height: 407px;
  }

  @media (max-width: 1200px) {

      .player-main-block.football {
        min-height: 422px;
        margin-top: 35px;

        .nl-LRB-position {
          left: 20%;
        }
        .nl-RRB-position {
          right: 16%;
        }
      }

      .nl-team-field.football .nl-player-block img {
        max-width: 81px;
      }

      .soccer .player-main-block {
        min-height: 382px;

        img {
          max-width: 47px;
        }

        // .nl-GK-position {
        //   left: 40%;
        // }
      }
      .nl-team-field.soccer  {
        max-height: 400px;
        min-height: 398px;
        margin-top: 35px;;
      }
      .football.nl-team-field {
        max-height: 370px;
        min-height: 422px;
      }
    }


  #dropdownMenuButton {
    width: 100%;
    margin-bottom: 20px;
  }

	.heading-search__header {
		margin-bottom: 0;
		padding: 0 0 1.5rem 0;
    text-align: center;

    @media (max-width: 768px) {
      margin-left: 0;
    }
	}

  .heading-search__search {

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

	.nl-contest-info-table {
		background-color: #061540;
	}

	.table-heading {
	    width: 100%;
	    background: #061540;
	    color: #e48706;
	    font-size: 21px;
	    font-size: 1.3125rem;
	    font-weight: 700;
	    text-align: center;
	    padding: 1.25rem;

      h5 {
        margin-bottom:  1.875rem;
        color: #fff;
      }

      .btn-primary {
        font-size: 1.4rem;
        font-weight: 600;
      }
	}

  // temp - refactor acc mixins
  //@media (max-width: 768px) {

    // #dropdownMenuButton {
    //   width: 100%;
    //   margin-bottom: 1.5rem;
    //   text-align: left;
    // }
    // .dropdown-toggle::after {
    //   position: absolute;
    //   top: 25%;
    //   right: 0.5rem;
    //   color: #e48706;
    // }
  //}
}

.nl-enter-contests {

  .custom-select {
    background-size: contain;
  }

  .nl-contest-info-table .table-info4 td {
    padding: 0.18rem;
  }

  .nl-contest-info-table .nl-table-scroll2 {
    max-height: 13.5rem;
  }

  .nl-team-info,
  .nl-team-list {

    @include respond-to(allsmall) {
      // margin: 0 3rem;
      margin: 0 auto;
      max-width: 374px;
    }

    @include respond-to(allmobile) {
      margin: 0 auto;
    }

    @include respond-to(handhelds) {
      margin:0;
      max-width: 100%;
    }
  }

  .nl-contest-info-table {
    @include respond-to(allmobile) {
      margin: 0 4rem;
    }

    @include respond-to(handhelds) {
      max-width: 100%;
      margin: 0;
    }
  }

  .nl-team-info {
    margin-top: 25px;

    @include respond-to(allsmall) {
      //margin: 2rem 3rem;
    }
  }
}

.leaders-list {
  .tit {
    text-transform: uppercase;
    color: #e48706;
  }
	p {
		padding: 0 0.25rem;
    margin-bottom: 0;
    font-size: 14px;
	}
	p:nth-child(even) {
    margin-bottom: 0rem;
	}
}
