.nl-contests {

  .nl-table-scroll {
    max-height: 34.5rem;
  }

  .nl-contest-info-table .nl-table-scroll2 {
    max-height: 14.25rem;
  }

  padding-left: calculateRem(20px);
  padding-right: calculateRem(20px);
  padding-top: calculateRem(30px);
  @include respond-to(allsmall){
    padding-left: 0;
    padding-right: 0;
  }
  .container-fluid {
     max-width: 1700px;
  }
  .nl-contest-info-title{
    margin-top: calculateRem(30px);
    min-height: calculateRem(51px);
    text-align: center;
    h3{
      letter-spacing: 1px;
    }
  }
  h1{
    margin-bottom: 0;
    padding: 0 0 1.25rem 0;
  }

  .nl-contest-info-table .table-info4 td:nth-child(1) {
    width: 15%;
    text-align: center;
  }

  .nl-contest-info-table .table-info4 td:nth-child(2) {
    width: 30%;
    text-align: center;
  }

  .nl-contest-info-table .table-info4 td:nth-child(3) {
    width: 35%;
    text-align: center;
  }

  .nl-contest-info-table .table-info4 td:nth-child(4) {
    width: 20%;
    text-align: center;
  }

  .nl-contest-info-table .table-info3 th:nth-child(1) {
    width: 15%;
    text-align: center;
  }

  .nl-contest-info-table .table-info3 th:nth-child(2) {
    width: 30%;
    text-align: center;
  }

  .nl-contest-info-table .table-info3 th:nth-child(3) {
    width: 35%;
    text-align: center;
  }

  .nl-contest-info-table .table-info3 th:nth-child(4) {
    width: 20%;
    text-align: center;
  }
}

.nl-contests-table {
  margin-top: calculateRem(30px);
  th, td{
    &:nth-child(1){
      width: 35%;
      text-align: left;
    }
    &:nth-child(2){
      width: 12%;
    }
    &:nth-child(3){
      width: 9%;
    }
    &:nth-child(4){
      width: 9%;
    }
    &:nth-child(5){
      width: 10%;
    }
    &:nth-child(6){
      width: 9%;
    }
    &:nth-child(7){
      width: 12%;
    }
  }

  td:not(:first-child),
  th:not(:first-child) {
    text-align: center !important;
    padding: 0.5rem 0.5rem;
  }

  .nav-tabs {
    min-height: calculateRem(50px);
    .nav-item {

      &:first-child {
        margin-left: 0;
      }
    }
    .nav-link {
      padding-top: 1rem;
      padding-bottom: 0.8rem;
      @include respond-to(allmobile){
        height: 100%;
      }
      @include respond-to(allwide){
        min-width: 140px;
      }
    }
  }

  background: none;
  border-radius: 0;
  box-shadow: none;
  overflow: inherit;

  .tab-content {
    border-radius: .625rem;
    border-top-left-radius: 0;
    box-shadow: 3px 0 7px rgba(0, 0, 0, .21);
    overflow: hidden;
    margin-top: 1px;

  }
  .table {

    @include fontSize(14px);

    tbody tr {
      &.active, &:hover {
        color: #1d2d4e;
      }
    }
  }
  .table thead th {
    @include fontSize(16px);
    background: #1d2d4e;
    padding-top: 1.3rem;
    padding-bottom: 1.2rem;

    @include respond-to(allmobile) {
      font-size: 0.85rem;
    }
  }
}

.nl-contest-info-table {
  border-radius: .625rem;
  overflow: hidden;
  box-shadow: 3px 0 7px rgba(0, 0, 0, .21);
  .table {
    @include fontSize(14px);
    max-width: none;
    width: calc(100% + 1px);
    border-radius: 0;
    td{
      text-align: left;
    }
  }
  
  .table-info1.buttons td {
    .button-enter {
      //font-size: 17px;
    }
    .btn-default {
      padding: 0.25rem 0.65rem;
    }
  }
  

  .table-info1 {
    background: #1d2d4e;
    

    p {
      padding: 0;
      margin: 0;
      color: #ffffff;

      @include respond-to (handhelds) {
        font-size: 11px;
      }

      &.tit {
        text-transform: uppercase;
        color: #e48706;
      }
    }
    td{
      width: 33.333%;
      padding: 0.5em 1.25rem 0.25rem;
      vertical-align: top;

    // @include respond-to(wide-tablets){
    //   padding: calculateRem(8px);
    // }
      .btn{
        width: 100%;
        padding: calculateRem(6px) calculateRem(12px);
        font-weight: 600;
        border-radius: 3px;
      }
    }     
  }
  .table-info2{
    th {
      color: #fff;
    }

    .nl-time-block{
      background: linear-gradient(to top, #fbfbfc, #e2e3e5);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: calculateRem(5px) 0;
      div{
        text-align: center;
        text-transform: uppercase;
        color: #030138;
        @include fontSize(12px);
        span{
          display: block;
          @include fontSize(20px);
          color: #e48706;
        }
      }
    }
  }
  .table-info3, .table-info4{
    th, td{
      text-align: center;
      padding: 0.25rem;
      &:nth-child(1){
        width: 17%;
      }
      &:nth-child(2){
        width: 25%;
      }
      &:nth-child(3){
        width: 35%;
      }
      &:nth-child(4){
        width: 23%;
      }
    }
  }
  .nl-info-table-button{
    background: #1d2d4e;
    min-height: calculateRem(75px);
    display: flex;
    align-items: center;
    justify-content: center;

    .btn{
      @include fontSize(19px);
      font-weight: 500;
      letter-spacing: 1px;
      padding: calculateRem(10px)  calculateRem(30px);
    }
  }
  .leaders-list p:nth-child(even) {
    padding-bottom:0;
  }
}

.nl-contest-info-table {
  .table-info1.buttons {
    td{
      width: 33.333%;
      padding: 0.5em 0.5rem 0.25rem;
      vertical-align: top;
    }     
  }
}
.nl-contest-info-table {
  .table-info1.text {
    td{
      width: 33.333%;
      padding: 0.75em 1.5rem 0.25rem;
      vertical-align: top;
    } 
    td.bottom {
      padding-top: 0;
    }      
  }
}

.nl-contests-search {
  width: calculateRem(350px);

  .input-group {
    display: flex;
    position: relative;
    width: 100%;
  }
  .form-control {
    border-radius: 0;
    border-right: 0;
  }
  .input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    .btn-secondary {
      border-radius: 0;
      border-left: 0;
    }
  }
}
//
//.nl-table-responsive{
//  @include respond-to(allsmall){
//    min-width: 530px;
//    overflow-x: auto;
//  }
//}

//.col-lg-8{
//  overflow-x: auto;
//}
//.nl-contests-table{
//
//}

.nl-table-mw{
  @include respond-to(allsmall){
    min-width: 530px;
  }
}

.nl-table-responsive{
  @include respond-to(allsmall){
    overflow-x: auto;
  }
}
